<span class="boldtitle">Applying a credit term </span>
<p>
    We accept purchase orders from educational institutions, government agencies, and
    businesses within the United States. You can apply through our on-line credit application.
    Simply click on the below link, complete the necessary information and submit it through
    email (<a href="mailto:buy@advantech.com">buy@advantech.com</a>) or fax to 1-408-519-3899. 
    Normal processing time is 5 working days.
</p>
<p>
    <a href="/resource/AUS/Credit_Application_Forms.pdf" target="_blank" >Net Term Application Form</a>
</p>