<style>
    .storeInfo ol {
        display: block;
        list-style-type: decimal;
        padding-left: 40px;
    }

    .storeInfo ul {
        display: block;
        list-style-type: circle;
        padding-left: 40px;
    }

    .storeInfo ol li {
        list-style-type: decimal;
        line-height: 24px;
    }

    .storeInfo ul li{
        list-style: circle;
        line-height: 24px;
    }

    .storeInfo center {
        padding: 15px 0px;
    }
    .storeInfo a {
        color: #2b8bc6;
        text-decoration: underline;
    }
</style>
<center>
    <table width="585" border="0" align="center" cellpadding="4">
        <tr>
            <th width="585" align="center" scope="row">
                <i>Note:</i> An RMA NUMBER MUST BE OBTAINED from our staff prior to returning any products. ANY RMA RETURNED
                WITHOUT AN RMA NUMBER WILL BE REJECTED BY OUR SHIPPING DEPARTMENT. All RMA numbers are valid for 30-DAYS from the date of issuance.
                &nbsp;
            </th>
        </tr>
    </table>
</center>
<ol>

    <li>
        All returns to Advantech for credit must be authorized in advance with an Advantech Return Material Authorization Number. To receive your RMA number, the customer should download the Credit RMA form from the Advantech's eStore/Advantech website or request the form from their Sales Representative. Complete the form online.
        <p>
            <a href="http://erma.advantech.com.tw/Pro/CustomerForm/creditform
" target="_blank">Fill out a Credit RMA Form</a>
        </p>
    </li>
    <li>Credit Return for <u>Peripheral Products</u>: Material returned to Advantech for credit shall be subject to a restocking fee based on the following schedule: </li>

    <table>

        <tr>
            <td><ul><li><strong> Within 15 days from the invoice date: </strong> 20% minimum restocking fee. </li></ul> </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                <span class="12blue">
                    <ul>
                        <li>
                            <strong>After 15 days from the invoice date:</strong>
                            Not eligible for return
                        </li>
                    </ul>
                </span>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>

    <li>Replacement for <u>Peripheral Products</u>:</li>

    <table>

        <tr>
            <td> <ul><li> <strong>Dead on Arrival (DOA) items must be returned within 15 days. </strong> </li> </ul></td>

        </tr>
        <tr>
            <td>
                <span class="12blue"><ul> <li><strong>Any defective item must be returned within 30 days from the invoice date.</strong> For any defective item after 30 days, please contact with manufacturer for warranty.  </li> </ul></span>
            </td>
        </tr>
    </table>
    <br />
    <li>All special  order items labeled in the Certified Peripherals pages are <strong> non-returnable</strong>.</li>
    <br />

    <li>Returns are only acceptable in NEW condition. The products must be in their original packaging, including anti-static bags, etc.  Advantech reserves the right to assess additional restocking fees to cover damages or missing items discovered upon return and inspection by the Advantech RMA Dept. </li>
    <br />
    <li>Customers are responsible for all freight charges to return material to Advantech.    </li>
    <br />
    <li>
        In no case will outbound freight charges billed on the original invoice be credited to the customer when material is returned.
    </li>
    <br />
    <li>
        Once an RMA is issued  for return of material, it is valid for 30 days. It is the responsibility of  the customer to ensure the material is returned within this time frame.
    </li>
    <br />

    <li>
        Material returned to Advantech that is not shown on the initial Credit RMA request will be returned to the customer at their expense. Any RMA returned without an RMA number will be rejected by our shipping department.
    </li>
    <br />
    <li>
        All software items may only be returned if the license agreement seal has not been broken.
    </li>
    <br />
    <li>
        Assembly, test and burn-in, freight and other service charges are NOT refundable.
    </li>
    <br />
    <li>
        Advantech reserves the right to revise any part of the above without notice.
    </li>
    <br />
</ol>
