<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>To My Friend</title>

<style type="text/css">
<!--
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#ecoCustomer-context {
	width: 700px;
}.fontbold {
	font-weight:bold;
}
-->
</style>
</head>

<body>
<div id="ecoCustomer-context">
  <p>Customer [/Customer]([/UserId])  recommends [/Copany]</p>
  <p>[/CopanyWebUrl]</p>
  <p>About:  A mix of music, visual and scent media to help boost customer traffic, increase basket spending and promote point-of-sales</p>
  <p>To discover more products related to this industry, visit us online at: <a href="[/STOREURL]/retail_hospitality">[/STOREURL]/retail_hospitality</a></p>
  <p class="fontbold">Advantech</p>
</div>
</body>
</html>
