<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Request Assistance</title>
<style type="text/css">
<!--
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#ecoRA-context {
	width: 700px;
}.fontbold {
	font-weight:bold;
}
-->
</style>
</head>

<body>
<div id="ecoRA-context">
  <p>Dear [/UserName],</p>
  <p>Thank you for your interest, your request has been sent. A representative will contact you within 24 hours.</p>
  <p>To discover more products related to this industry, visit us online at: <a href="[/STOREURL]/retail_hospitality">[/STOREURL]/retail_hospitality</a></p>
  <p><span class="fontbold">Advantech</p>
</div>
</body>
</html>
