<p>A eStore da Advantech respeita o seu  direito à privacidade. Com a política a seguir nós esperamos responder a  quaisquer perguntas que você possa ter sobre como as informações do cliente são  coletadas, controladas e protegidas. A eStore Advantech segue todas as leis  sobre privacidade, proteção e segurança de dados. O objetivo final de coleta de  informações é para melhorar o serviço e suporte aos clientes.</p>
<ol class="text">
	<li><strong>DADOS PESSOAIS</strong><br />
		A eStore Advantech não recolhe quaisquer dados pessoais sobre você (por exemplo, seu nome, seu endereço, número de telefone ou e-mail), a menos que você voluntariamente nos forneça (por exemplo, através do registro, pesquisas de qualidade, etc.) A loja virtual da Advantech é o único proprietário das informações coletadas em nossos sites. Sob nenhuma circunstância vamos compartilhar suas informações com alguém que não aqueles diretamente envolvidos com a compra e remessa de seu pedido, a menos que você nos dê autorização para fazê-lo. Podemos usar seu endereço de e-mail para notificá-lo de ofertas especiais e promoções que você possa participar como um cliente cadastrado. Você pode recusar esse serviço.<br />
		<br />
	</li>
	<li><span class="blueTitle"><b>DADOS NÃO-PESSOAIS COLETADOS AUTOMATICAMENTE</b></span>
		<br />
		Quando você acessar o nosso site, podemos coletar automaticamente (ou seja, não através de registro) dados não pessoais (por exemplo, tipo de navegador da Internet e sistema operacional utilizado, o número de endereços IP, nome de domínio do site de onde você veio, de visitas , o tempo médio gasto no site, páginas visitadas). Usamos esses dados para monitorar interação na web, analisar tendências, melhorar o desempenho e conteúdo e estudar as necessidades dos clientes mais de perto. Isto deverá ser realizado de acordo com o quadro aplicável à proteção legal de dados privados. <br />
		<br />
	<li><span class="blueTitle"><b>FINALIDADE DE USO</b></span></li>
	<br />
	Quando você nos fornecer dados pessoais, normalmente os usamos para responder à sua pergunta, processar seu pedido ou fornecer-lhe acesso às informações específicas ou ofertas. Além disso, para dar suporte ao nosso relacionamento empresa-cliente:
	<ul type="disc">
		<li>Podemos armazenar e processar dados pessoais e compartilhá-lo com nossos afiliados e parceiros em todo o mundo para melhor entender as necessidades do seu negócio e como podemos melhorar nossos produtos e serviços;
	    <li>	Nós (ou terceiros em nosso nome) podemos utilizar os dados pessoais para contatá-lo sobre uma oferta da eStore ou da própria Advantech ou para conduzir pesquisas on-line de satisfação para entender melhor as necessidades dos nossos clientes.
	    <li>
			Se você optar por não ter seus dados pessoais utilizados para apoiar o nosso relacionamento empresa-cliente (em especial no marketing direto ou na pesquisa de mercado), respeitaremos a sua escolha. Nós não vendemos ou comercializamos seus dados pessoais a terceiros, exceto para os afiliados eStore Advantech / Advantech e parceiros.
	</ul>
	<br />
	<li><span class="blueTitle"><b><strong>LIMITAÇÕES DO USO</strong></b></span>
		<br />
		A eStore Advantech irá coletar, usar ou divulgar dados pessoais fornecidos por você on-line apenas para os propósitos revelados, a menos que:
		<ul type="disc">
			<li>Seja um uso de dados pessoais para qualquer propósito adicional que está diretamente relacionado com o propósito original para o qual os dados foram coletados,</li>
			<li>Seja necessário preparar, negociar e executar um contrato com você,</li>
			<li>Seja exigido por lei ou pelas autoridades governamentais ou judiciais competentes,</li>
			<li>Seja necessário estabelecer ou proteger uma reivindicação legal ou defesa,</li>
			<li>Seja necessário para evitar fraudes ou outras atividades ilegais, tais como ataques deliberados em eStore Advantech / Advantech sistemas de TI.<br />
		<br />
		</ul>
	</li>
	<li><strong>"Cookies" Informações-Armazenadas em seu Computador</strong><br />
		Quando você acessar um de nossos Web sites, podemos armazenar alguns dados em seu computador na forma de um "cookie" para reconhecer automaticamente o seu PC da próxima vez que você visitar. Cookies podem nos ajudar de várias maneiras, por exemplo, nos permitindo adequar um Web site para melhor atender aos seus interesses ou para armazenar sua senha para que não tenha de digitá-la cada vez que entrar. Se você não desejar receber cookies, configure seu navegador para apagar todos os cookies do disco rígido do seu computador, bloquear todos os cookies ou receber um aviso antes que um cookie seja armazenado.<br />
		<br />
	<li><strong>CRIANÇAS</strong><br />
		A eStore Advantech / Advantech não coleta dados pessoais de crianças sem insistir que procurem o prévio consentimento dos pais, se exigido pelas leis aplicáveis. Nós só usaremos ou divulgaremos os dados pessoais de uma criança, na medida permitida por lei, para buscar o consentimento dos pais de acordo com a lei e regulamentos locais ou para proteger uma criança. A definição de "criança" ou "crianças" deve levar em conta as leis aplicáveis, assim como nacionais e regionais costumes culturais.<br />
		<br />
	<li><strong>SEGURANÇA</strong><br />
		Para proteger os dados pessoais contra a destruição, acidental ou ilícita, a perda ou alteração e contra a divulgação ou acesso não autorizado, eStore Advantech / Advantech usa medidas de segurança técnica e organizacional.<br />
		<br />
	<li><strong>LINKS PARA OUTROS SITES</strong><br />
		eStore Advantech / sites Advantech podem conter links para outros sites. EStore Advantech / Advantech não é responsável pelas práticas de privacidade ou pelo conteúdo de outros sites.<br />
		<br />
  <li><strong>PERGUNTAS E COMENTÁRIOS</strong><br />
	  eStore Advantech / Advantech irá responder a pedidos para revisar seus dados pessoais e de corrigir, alterar ou apagar quaisquer incorreções. Se você tiver dúvidas ou comentários sobre a Segurança da Advantech Web eStore / Advantech e Política de Privacidade (por exemplo, para rever e atualizar seus dados pessoais), envie um email para <a href="mailto:vendas@advantech.com" target="_blank">vendas@advantech.com</a>,br ou ligue direto para 0800 770 5355. Como a Internet se desenvolve, assim será nossa segurança Web e Política de Privacidade. Vamos postar as alterações à nossa segurança Web e Política de Privacidade nesta página. Por favor, verifique esta página regularmente para manter-se atualizado.<br />
		<br />
	<li><strong>COMPRA SEGURA</strong><br />
		Este site toma todas as precauções para proteger as informações de nossos usuários. Quando os usuários submetem informação sensível através do nosso site, as informações são protegidas tanto on-line quanto off-line. Quando o nosso formulário de pedido, página de login, e / ou registro pede que os usuários insiram informações sensíveis (como número de cartão de crédito), a informação é criptografada e protegida com o melhor software de criptografia do setor - SSL.<br />
		<br />
		Além disso, a VeriSign é usado como a nossa autoridade de certificação. Enquanto em uma página segura, como o nosso formulário de pedido, o ícone do cadeado na parte inferior de navegadores da Web, como o Netscape Navigator ou Microsoft Internet Explorer fica bloqueado, ao contrário de não-bloqueado, ou aberto, em condições normais de uso não-segura. Enquanto usamos a criptografia SSL para proteger informação sensível online, também fazemos tudo em nosso poder para proteger as informações dos usuários off-line. Todas as informações de nossos usuários, e não apenas as informações sensíveis mencionadas acima, são restritas em nossos escritórios. Somente os funcionários que necessitam da informação para realizar um trabalho específico (por exemplo, o nosso funcionário de faturamento ou um representante de serviço ao cliente) têm acesso a informações de identificação pessoal.<br />
		<br />
	<li><strong>CONSENTIMENTO</strong><br />
	
		Ao visitar o site da Advantech eStore / Advantech 's, você está concordando com as práticas descritas no termo de Privacidade e sua visita e qualquer disputa sobre privacidade está sujeita a este aviso.</li>
</ol>
