<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Advantech Online Quotation Information</title>
    <link href="../pdf.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .style4
        {
            width: 48%;
            height: 37px;
        }
    </style>
</head>
<body>
    <div>
        <!--splitflag-->
        <table class="title">
            <tr class="quotationTitle">
                <td colspan="3">
                    ADVANTECH&nbsp;&nbsp;QUOTATION
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                </td>
                <td class="customerAddressTitle">
                    Quote No :
                </td>
                <td class="customerAddressValue">
                    [/QuoteNO]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                    380 Fairview Way
                </td>
                <td class="customerAddressTitle">
                    Quote Date :
                </td>
                <td class="customerAddressValue">
                    [/QuoteDate]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                    Milpitas, CA 95035
                </td>
                <td class="customerAddressTitle">
                    Quote Exp. Date:
                </td>
                <td class="customerAddressValue">
                    [/QUOTEEXPDATE]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                    PHONE (408) 519-3898&nbsp; FAX (408) 519-3899
                </td>
                <td class="customerAddressTitle">
                    Sales Person :
                </td>
                <td class="customerAddressValue">
                    [/SalesPerson]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                    WEB: Buy.advantech.com
                </td>
                <td class="customerAddressTitle">
                    Version :
                </td>
                <td class="customerAddressValue">
                    [/Version ]
                </td>
            </tr>
        </table>
        <br />
        <!--splitflag-->
        <table>
            <tr>
                <td rowspan="6" valign="top" class="customerAddressTitle title">
                    SOLD TO:
                </td>
                <td>
                    [/SOLDTOCOMPANYNAME]
                </td>
                <td rowspan="6" valign="top" class="customerAddressTitle title">
                    SHIP TO:
                </td>
                <td>
                    [/SHIPTOCOMPANYNAME]
                </td>
            </tr>
            <tr>
                <td class="customerAddressValue">
                    ATTN:[/SOLDTOATTENTION]
                </td>
                <td class="customerAddressValue">
                    ATTN:[/SHIPTOATTENTION]
                </td>
            </tr>
            <tr>
                <td>
                    [/SOLDTOADDRESS]
                </td>
                <td>
                    [/SHIPTOADDRESS]
                </td>
            </tr>
            <tr>
                <td>
                    [/SOLDTOSTATE]
                </td>
                <td>
                    [/SHIPTOSTATE]
                </td>
            </tr>
            <tr>
                <td>
                    PHONE:[/SOLDTOPHONE]
                </td>
                <td>
                    PHONE:[/SHIPTOPHONE]
                </td>
            </tr>
            <tr>
                <td>
                    FAX:[/SOLDTOFAX]
                </td>
                <td>
                    FAX:[/SHIPTOFAX]
                </td>
            </tr>
        </table>
        <br />
        <!--splitflag-->
        <table>
            <tr>
                <th colspan="2" class="custmerid">
                    CUSTOMER ID
                </th>
                <th class="shipvia">
                    SHIP VIA
                </th>
                <th class="fob">
                    FOB
                </th>
                <th class="terms">
                    TERMS
                </th>
                <th class="customerpo">
                    CUSTOMER PO
                </th>
            </tr>
            <tr>
                <td colspan="2" class="centerAlign">
                    [/ERPID]
                </td>
                <td class="centerAlign">
                    [/SHIPMATHOD]
                </td>
                <td class="centerAlign">
                    FOB Milpitas, CA
                </td>
                <td class="centerAlign">
                    Credit Card
                </td>
                <td>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th class="line">
                    LINE
                </th>
                <th class="temnumber">
                    ITEM NUMBER
                </th>
                <th class="description">
                    DESCRIPTION
                </th>
                <th class="quantity">
                    PRICE
                </th>
                <th class="price">
                    QUANTITY
                </th>
                <th class="extendedprice">
                    <span align="center">EXTENDED PRICE</span>
                </th>
            </tr>
        </table>
        <!--splitflag-->
        <table>
            [/QUOTECONTENT]
            <tr>
                <td class="line">
                </td>
                <td class="temnumber">
                </td>
                <td class="description">
                </td>
                <td class="quantity">
                </td>
                <td class="price textUnderline">
                    SUBTOTAL
                </td>
                <td class="extendedprice textUnderline">
                    [/SUBTOTAL]
                </td>
            </tr>
        </table>
        <br />
        <table style="page-break-inside: avoid;">
            <tr>
                <td colspan="5">
                    &nbsp;
                </td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="style2 title">
                    Thank you for considering our products
                </td>
                <td class="style3">
                </td>
                <td>
                    &nbsp;
                </td>
                <td class="rightAlign title">
                    Freight/Recycle fee
                </td>
                <td class="rightAlign title">
                    [/FREIGHT]
                </td>
                <td class="rightAlign title">
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="style2">
                </td>
                <td class="style3">
                </td>
                <td>
                    &nbsp;
                </td>
                <td class="rightAlign title">
                    TAX
                </td>
                <td class="rightAlign title">
                    [/TAX]
                </td>
                <td class="rightAlign title">
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="style2">
                </td>
                <td class="style3">
                </td>
                <td>
                    &nbsp;
                </td>
                <td class="rightAlign textUnderline  title">
                    TOTAL
                </td>
                <td class="rightAlign textUnderline  title">
                    [/TATAL]
                </td>
                <td class="rightAlign textUnderline  title">
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    &nbsp;
                </td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td colspan="5">
                    <p>
                        <span class="redStar">*</span> All prices are in US dollars, F.C.A.  California,
                        U.S.A.
                        <br />
                        <span class="redStar">*</span>This quotation is valid for North and South America
                        only.
                        <br />
                        <span class="redStar">*</span>Pricing, specifications, availability and terms of
                        offers may change without notice, and are not transferable. Taxes, fees, shipping,
                        handling and any applicable restocking charges vary and are not subject to discount.
                        <br />
                        <span class="redStar">*</span>Any orders that ship to the following jurisdictions
                        are charged sales tax: AZ, CA, CO, CT, FL, GA, IL, IN, KY, MD, MA, NC, NJ, OH, TN,
                        TX, WA, and WI. If you are exempt from sales tax, select the Resale box during the
                        checkout process. Upon receiving the proper paperwork, Advantech will not include
                        such taxes in the final invoices.
                        <br />
                        <span class="redStar">*</span> The estimated ship days represents the approximate
                        time it takes to process your order and assemble your system based on approved credit
                        card or net term purchase. The estimated shipment date is not intended to provide
                        you with an actual ship date. Your estimated ship date may vary based upon the payment
                        method you choose among other factors pertaining to the nature of the order.
                        <br />
                        <span class="redStar">*</span> The export of any products or software purchased
                        from Advantech must be made in accordance with all relevant laws of the United States,
                        including and without limitation, the US Export Administration Regulations. This
                        may require that you obtain a formal export license or make certain declarations
                        to the United States Government regarding products to be exported, their destination
                        or their end-use.
                    </p>
                </td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td colspan="4" class="title">
                    &nbsp;
                </td>
                <td class="title">
                    &nbsp;</td>
            </tr>
            <tr>
                <td>
                </td>
                <td colspan="4" class="title">
                    Accepted and Confirmed by:
                </td>
                <td class="title">
                    &nbsp;</td>
            </tr>
            <tr>
                <th>
                </th>
                <td align='center' class="style3 title">
                    X
                </td>
                <th>
                    &nbsp;
                </th>
                <th colspan="2">
                </th>
                <th>
                    &nbsp;</th>
            </tr>
            <tr>
                <td class="title">
                    [/SalesPerson]
                </td>
                <td class="style3">
                    &nbsp;
                </td>
                <td class="style2 title " colspan="3">
                    &nbsp;Signature
                </td>
                <td class="style2 title ">
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="title">
                    [/SalesPersonEmail]
                </td>
                <td class="style3">
                    &nbsp;
                </td>
                <td class="style2" colspan="3">
                    &nbsp;
                </td>
                <td class="style4">
                </td>
            </tr>
            <tr>
                <td class="title">
                    [/SalesPersonPhone]
                </td>
                <td class="style3">
                    &nbsp;
                </td>
                <td class="style2" colspan="3">
                    &nbsp;
                </td>
                <td class="style2">
                    &nbsp;</td>
            </tr>
        </table>
        <!--splitflag-->
    </div>
</body>
</html>
