<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Quotation</title>
<style type="text/css">
        table.contact
        {
            font: bold 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            border-color: #ffffff;
            background: #FFFFFF;
            color: #333;
            width: 100%;
        }
        .contact th
        {
            width: 33%;
            border-collapse: collapse;
            background: #EFF4FB;
        }
        .contact td
        {
            font: 12px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            background: #FFFFFF;
            color: #333;
        }
        
        table.estoretable
        {
            font: 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            color: #333;
            width: 100%;
        }
        
        .estoretable th
        {
            padding: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #E5E5E5;
            text-align: center;
            background: #EFF4FB;
        }
        
        .estoretable td
        {
            padding:3px;  border-style:solid; border-width:1px; border-color:#E5E5E5;
        }
		
		table.estoretable2
        {
            font: 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            color: #333;
            width: 100%;
        }
        .estoretable2 td
        {
			padding:3px;
			text-align: right;
        }
        
		.boder
        {
			border: 1px solid #E5E5E5;
        }
		
        .estoretable caption
        {
            padding: 0 0 .5em 0;
            text-align: left;
            text-transform: uppercase;
            color: #333;
            background: transparent;
        }
        .cartitem p
        {
            margin: 0;
            padding: 5px 0;
        }
        .cartitem  label
        {
            font-weight: bold;
        }
        .style2
        {
            width: 345px;
        }
        .style4
        {
            width: 201px;
        }
    </style>
</head>
<body>
<table width="720" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif">
	<tr>
		<td align="left"> <img src="http://buy.advantech.com/App_Themes/AUS/logo.gif" alt="Advantech eStore" /> <br />
		</td>
	</tr>
	<tr>
		<td>
			<table width="720" border="0" cellpadding="0" cellspacing="0" height="30">
				<tr>
					<td width="8" align="left" height="30"><img src="http://buy.advantech.com/App_Themes/AUS/barleft.jpg" width="8" height="30"></td>
					<td width="704" bgcolor="#E5E5E5" style="background-color:#E5E5E5" height="30">
						<a title="Home" href="http://buy.advantech.com/Default.htm" style="text-decoration:none"><font size="2" color="#767677"><b>Home</b></font></a>
						&nbsp; &nbsp; &nbsp;
						<a title="About Us" href="http://buy.advantech.com/AboutUs/Default.htm" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>About Us</b></font></a>
						&nbsp; &nbsp; &nbsp;
						<a title="Support" href="http://support.advantech.com.tw/" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>Support</b></font></a>
						&nbsp; &nbsp; &nbsp;
						<a title="Contact Us" href="http://buy.advantech.com/ContactUs/Default.htm" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>Contact Us</b></font></a>
					</td>
					<td width="8" align="right" height="30"><img src="http://buy.advantech.com/App_Themes/AUS/barright.jpg" width="8" height="30"></td>
				</tr>
				<tr>
					<td colspan="3" height="18" bgcolor="#708AAC" style="background-color:#708AAC; padding:5px 10px">
						<div style="color:#FFFFFF; font-size:12px">[/ourAddress]</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="6" style="border:1px solid #CCCCCC; background-color:#FFFFE6" bgcolor="#FFFFE6" align="center">
				<tr>
					<td style="font-size:13px;"> 
						<div><b>Dear [/USERNAME],</b></div>
						<div style="padding-left:10px">
						  <p>Thank you for allowing the Advantech eStore to provide you with a quotation.</p>
						  <p>The shipping and handling charges will be determined by shipment characteristics, 
						    weight, and applicable service charges of the actual shipment.  
						    You are welcome to contact our account managers at [/OurTel].  Monday through Friday.  
						    When contacting us please make sure to have the Quotation Number handy. <br />
						    You can also <a href="http://[/STOREURL]/Cart/Quote.aspx?qid=[/QUOTEID]">check this quote online</a>.
						     
					      </p>
                      </div>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<table width="100%" border="0" cellspacing="2" cellpadding="0">
							<tr>
								<td align="left" width="40%"><span style="font-size:24px; color:#003D7C"><b>Quotation</b></span></td>
								<td align="left" width="60%"><span style="font-size:14px; color:#003D7C">Quotation Number: <b>[/QUOTENUMBER]</b></span></td>
							</tr>
							<tr>
								<td colspan="2" style="font-size:14px; padding-left:10px">
									<div>[/PromotionCode]</div>
									<div>
										Request Date: [/QUOTEDATE] 
										<span style="color:Red;">Valid Through: [/ValidDate]</span>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2" background="http://buy.advantech.com/App_Themes/AUS/line.gif" height="1"></td>
							</tr>
							<tr>
								<td colspan="2">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:13px">
	<tr>
		<td style="border:1px solid #CCC" width="49%">
<table width="100%" border="0" cellspacing="2" cellpadding="0" style="font-size:13px">
	<tr>
		<td width="100%"><b>Bill to:</b></td>
	</tr>
	<tr><td bgcolor="#CCC" height="1" style="background-color:#CCC"></td></tr>
	<tr>
		<td width="100%" style="padding-left:6px">[/lbl_billto_name]</td>
	</tr>
	<tr>
		<td width="100%" style="padding-left:6px">[/lbl_billto_company_name]</td>
	</tr>
	<tr>
		<td width="100%" style="padding-left:6px">[/lbl_billto_address]</td>
	</tr>
	<tr>
		<td width="100%" style="padding-left:6px">[/lbl_billto_city], [/lbl_billto_state] [/lbl_billto_zip]</td>
	</tr>
		<tr>
		<td width="100%" style="padding-left:6px">Country: [/lbl_billto_country]</td>
	</tr>
	<tr>
		<td width="100%" style="padding-left:6px">Tel: [/lbl_billto_phone]</td>
	</tr>
</table>
		
		</td>
		<td width="2%">&nbsp;</td>
		<td style="border:1px solid #CCC" width="49%">
<table width="100%" border="0" cellspacing="2" cellpadding="0" style="font-size:13px">
	<tr>
		<td width="100%"><b>Ship to:</b></td>
	</tr>
	<tr><td bgcolor="#CCC" height="1" style="background-color:#CCC"></td></tr>
	<tr>
		<td width="100%" style="padding-left:6px">[/lbl_shipto_name]</td>
	</tr>
	<tr>
		<td width="100%" style="padding-left:6px">[/lbl_shipto_company_name]</td>
	</tr>
	<tr>
		<td width="100%" style="padding-left:6px">[/lbl_shipto_address]</td>
	</tr>
	<tr>
		<td width="100%" style="padding-left:6px">[/lbl_shipto_city], [/lbl_shipto_state] [/lbl_shipto_zip]</td>
	</tr>
		<tr>
		<td width="100%" style="padding-left:6px">Country: [/lbl_shipto_country]</td>
	</tr>
	<tr>
		<td width="100%" style="padding-left:6px">Tel: [/lbl_shipto_phone]</td>
	</tr>
</table>
		
		</td>
	</tr>
</table>


								
								</td>
							</tr>
							<tr><td colspan="2" height="5"></td></tr>
							<tr>
								<td colspan="2"><span style="font-size:14px; color:#003D7C"><b>Quotation Detail:</b></span></td>
							</tr>
							<tr>
								<td colspan="2">
                                    <table class="estoretable" width="100%">
                                            <tbody>
                                                <thead>
                                                    <tr class="carthead">
                                                        <th>
                                                            Item#
                                                        </th>
                                                        <th width="20%">
                                                            Part Number
                                                        </th>
                                                        <th class="style2">
                                                            Description
                                                        </th>
                                                        [/DetailModeTH]<th>
                                                            UnitPrice
                                                        </th>
                                                        <th>
                                                            Qty
                                                        </th>
                                                        <th>
                                                            SubTotal
                                                        </th>
                                                    </tr>
                                                </thead>
                                                [/CARTITEMS]
                                                <tr class="cartitem">
                                                    <td colspan="[/colspan]">&nbsp;
                                                        
                                                    </td>
                                                    <td colspan="2">&nbsp;
                                                        
                                                    </td>
                                                    <td colspan="3">&nbsp;
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                     <table width="100%" class="estoretable2">
                                            <tr class="cartitem">
                                                <td align="left" rowspan="5" valign="top" width="45%" class="boder">
                                                    [/SHIPPINGMETHOD] [/Courier_account] [/PROMOTIONCODE] [/RESELLERID]
                                                </td>
                                                <td>
                                                    Sub Total:
                                                </td>
                                                <td>
                                                    [/SUBTOTAL]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    <font color="red">* </font>Freight:
                                                </td>
                                                <td>
                                                    [/FREIGHT]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    <font color="red">* </font>Tax([/TAXRATE]):
                                                </td>
                                                <td>
                                                    [/TAX]
                                                </td>
                                            </tr>
                                            <tr id="CartDiscount" class="cartitem">
                                                <td>
                                                    <font color="red">* </font>Discount:
                                                </td>
                                                <td style="color: #FF0000;">
                                                    [/DISCOUNT]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    Total:
                                                </td>
                                                <td style="font-weight: bold;color: #FF0000;">
                                                    [/TOTAL]
                                                </td>
                                            </tr>
                                        </table>
								</td>
							</tr>
						</table>
                        <p style="font-size: 13px; font-family: Arial;"><b>Comments:</b><br /> &nbsp;&nbsp;&nbsp;&nbsp;[/Comment]</p>
						<div style="color:#333; padding-left:10px">
						<p style="font-size:12px;"><span style="color:red">*</span> 
						All prices are in US dollars, F.C.A.  California, U.S.A.</p>
						<p style="font-size:12px;"><span style="color:red">*</span> 
						This quotation is valid for North and South America only.</p>
						<p style="font-size:12px;"><span style="color:red">*</span>Pricing, specifications, availability and terms of offers may change without notice, 
						and are not transferable.  Taxes, fees, shipping, handling and any  applicable restocking 
						charges vary and are not subject to discount.</p>
						<p style="font-size:12px;"><span style="color:red">*</span>Any orders that ship to the following jurisdictions are charged sales tax:  AZ, CA, 
						CO, CT, FL, GA, IL, IN, KY, MD, MA, NC, NJ, OH, TN, TX, WA, and WI.  If you are exempt 
						from sales tax, select the Resale box during the checkout process. Upon receiving 
						the proper paperwork, Advantech will not include such taxes in the final invoices.</p>
						<p style="font-size:12px;"><span style="color:red">*</span>The estimated ship days represents the approximate time it takes to process your order 
						and assemble your system based on approved credit card or net term purchase.  
						The estimated shipment date is not intended to provide you with an actual ship date.  
						Your estimated ship date may vary based upon the payment method you choose among other factors pertaining to the nature of the order.</p>
						<p style="font-size:12px;"><span style="color:red">*</span> The export of any products or software purchased from Advantech must be made in accordance 
						with all relevant laws of the United States, including and without limitation, 
						the US Export Administration Regulations.  This may require that you obtain a formal export 
						license or make certain declarations to the United States Government regarding products to 
						be exported, their destination or their end-use.</p>
						<p style="font-size:12px;"><span style="color:red">*</span> 
						<strong>Quotations are valid for 10 days</strong>.</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<p style="font-size:13px; padding-left:10px">
						Again, thank you for your visiting the <a href="http://buy.advantech.com/">Advantech eStore</a>. 
						A sales representative will contact you shortly regarding your quotation.
			      If you have any questions regarding your configuration, or would like to speak to a representative immediately, please do not hesitate to call [/OurTel] or e-mail us at <a href="mailto:buy@advantech.com">buy@advantech.com</a>.</p>
						 <p style="font-size: 13px; padding-left: 10px">
                            
                                Best regards,
                                <br />
                                <a href="http://[/STOREURL]" style="text-decoration: none; font-weight: bold; color: #000000">Advantech eStore</a>
                        </td>
                    </tr>
                    
                </table>
                <!-- END -->
                <div>
                </div>
            </td>
        </tr>
        <tr>
          <td height="15" bgcolor="#708AAC" style="background-color: #708AAC; text-align: center;
                color: #FFFFFF; font-size: 12px" align="center">[/STOREURL] / [/OurTel] </td>
        </tr>
        <tr>
        
            <td height="15" text-align: center; style="border: 1px solid #CCCCCC; background-color: #FFFFE6" bgcolor="#FFFFE6" align="center"><a href="http://buy.advantech.com/resources/aus/terms_and_conditions_aus.pdf" style="text-decoration: none; font-size: 11px"><font color=#555555>   </p>
                               
                    <br />  Terms and Conditions</font>&nbsp;&nbsp;<font color=#555555>|</font>&nbsp;&nbsp;</a><a href="http://buy.advantech.com/Info/ReturnPolicy.htm" style="text-decoration: none; font-size: 11px"><font color=#555555>Return Policy</font></a>&nbsp;&nbsp;<font color=#555555><span style="font-size: 11px;">|</span></font>&nbsp;&nbsp;<a href="http://buy.advantech.com/Info/PrivacyPolicy.htm" style="text-decoration: none; font-size: 11px"><font color=#555555>Privacy Policy</font></a>
                   <p>
                 
                   </p> <br />
                     </td>
   
        </tr>
    </table>
<br />
    <br />
</body>
</html>