<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Request for Quantity Discount</title>
</head>
<body>
<table width="660" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif">
	<tr>
		<td align="left"> <img src="http://buy.advantech.com/App_Themes/AUS/logo.gif" alt="Advantech eStore" /> <br />
		</td>
	</tr>
	<tr>
		<td>
			<table width="660" border="0" cellpadding="0" cellspacing="0" height="30">
				<tr>
					<td width="8" align="left" height="30"><img src="http://buy.advantech.com/App_Themes/AUS/barleft.jpg" width="8" height="30"></td>
					<td bgcolor="#E5E5E5" style="background-color:#E5E5E5" height="30">
						<a href="http://[/STOREURL]" style="text-decoration:none"><font size="2" color="#767677"><b>Home</b></font></a>
						&nbsp; &nbsp; &nbsp; 
						<a href="http://support.advantech.com.tw/" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>Support</b></font></a>
						&nbsp; &nbsp; &nbsp;
						<a href="http://[/STOREURL]/ContactUs.aspx" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>Contact Us</b></font></a>
					</td>
					<td width="8" align="right" height="30"><img src="http://buy.advantech.com/App_Themes/AUS/barright.jpg" width="8" height="30"></td>
				</tr>
				<tr>
					<td colspan="3" height="15" bgcolor="#708AAC" style="background-color:#708AAC"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="padding:6px">
			<table width="100%" border="0" cellspacing="0" cellpadding="6" style="border:1px solid #CCCCCC; background-color:#FFFFE6" bgcolor="#FFFFE6" align="center">
				<tr>
					<td style="font-size:13px;"> <b>Dear [/CustomerName],</b> <br />
						Thank you for visiting Advantech eStore.<br />
						Below is your request for [/CONTACTUSTYPE],our sales representative will reply you shortly. </td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<table width="100%" border="0" cellspacing="2" cellpadding="4" style="font-size:13px;">
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Product</b></td>
								<td style="color:#333333">[/ProductDisplayName]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Product Description</b></td>
								<td style="color:#333333">[/ProductDescription]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Quantity</b></td>
								<td style="color:#333333">[/QTY] pcs</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Request Date</b></td>
								<td style="color:#333333">[/RequestDate]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Expected Lead Time</b></td>
								<td style="color:#333333">[/LeadTime]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Budget</b></td>
								<td style="color:#333333">US$ [/Budget]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Name</b></td>
								<td style="color:#333333">[/CustomerFullName]</td>
							</tr>
                            <tr>
                                <td align="right" bgcolor="#F2F2F2" width="30%">
                                    <b>Country</b></td>
                                <td style="color: #333333">
                                    [/Country]</td>
                            </tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Company</b></td>
								<td style="color:#333333">[/CompanyName]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Address</b></td>
								<td style="color:#333333">[/Address]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>eMail</b></td>
								<td style="color:#333333">[/Email]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Telephone</b></td>
								<td style="color:#333333">[/Phone]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>You prefer we contact you via</b></td>
								<td style="color:#333333">[/ContactType]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Comments</b></td>
								<td style="color:#333333">[/Comments]</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="font-size:13px"> Again, thank you for your visiting Buy.advantech.com. Your account manager will contact you on your request as soon as possible.<br />
						Please call us at [/TEL] 
						or e-mail us at <a href="mailto:[/CONTACTMAIL]">[/CONTACTMAIL]</a>, if you have any questions about your request at your convenience. <br />
						<br />
						Best regards, <br />
						<a href="http://[/STOREURL]">Advantech eStore</a> </td>
				</tr>
			</table>
			<div></div>
		</td>
	</tr>
	<tr>
		<td height="15" bgcolor="#708AAC" style="background-color:#708AAC; text-align:center; color:#FFFFFF; font-size:12px" align="center"> buy.advantech / [/TEL] </td>
	</tr>
</table>
<br />
<br />
</body>
</html>
