<ol>
 <li><p>Advantech allows our customers to place evaluation orders for Advantech Hardware
        to determine whether the item or system will perform in the application as the customer
        expects.</p></li>
		
    <li><p>For Pre-Approval, the customer can obtain the Application for Evaluation Equipment either from their Advantech Sales Representative or from the download link below.  Simply complete the form, sign and date it and fax to your Advantech Sales Team.</p></li>
    
    <ul>
      <p><a href="/Resources/AUS/Advantech_Application_for_Evaluation.doc" target="_blank">Download Application for Evaluation Equipment</a> </p>
   
      </ul>

   
  
  <li><p>The approval process should be completed within 24 hours after receipt of a complete application during which you will be contacted by an Advantech Sales Specialist. When approved, the customer will be notified by the sales team and may place an order with Advantech that will be designated “Option401-Evaluation order”.  </p></li>
  
  <li><p>An approved evaluation request will allow the customer to return the unit(s) within 30 days from the original Advantech invoice date without incurring a restocking charge.</p></li>
  
  <li><p>If more than 30 days are needed for the Evaluation, the customer should advise on the Evaluation Application or ask for an extension before the first 30 days have past so that Advantech will not try to collect the invoice prematurely.  Any extension beyond 60 days will incur a restocking fee to cover the cost of inspection, refurbishment, etc.  </p></li>
  
  <li><p>If the unit is to be returned due to an unsuccessful evaluation, the customer should contact their Sales Assistant within the approved evaluation period.  The Sales Assistant will fax the appropriate forms and a questionnaire seeking to know why the unit did not meet the purpose or expectations of the application.  <strong>This questionnaire must be answered and returned with the other documents to receive the Advantech Authorized RMA number and avoid restocking charges.</strong></p>
    <ul>
      <p><a href="/Resources/AUS/Credit_Return_Request_Form.pdf" target="_blank">Download Credit RMA form</a> </p>
      <p><a href="/Resources/AUS/Evaluation_Return_Questionnaire_Form.pdf"  target="_blank" >Download Evaluation Return Questionnaire form</a> </p>
      </ul>

    </li>
  
  <li>
    <p>If the appropriate forms are not received within the approved evaluation period, restocking charges as dictated by the standard <a href="/Info/ReturnPolicy.htm">Advantech Return Policy</a> shall apply to the returned items. </p></li>
  
  <li><p>Customers are expected to keep equipment that meets the approval or specification desired unless it is noted on the original evaluation request that the evaluation is for a long term project and/or future requirements that are based on acceptance of the Advantech product. </p></li>
  
  <li><p>Any material ordered as an Evaluation and returned to Advantech must be returned in resalable condition and with all manuals, hardware, disks, cables, etc. or additional restocking charges will be accessed to cover the cost to refurbish or replace missing parts.</p></li>
  
  <li><p>Outbound freight charges on Evaluation orders are NOT credited if the unit is returned and the customer is responsible for the freight charges when returning the material to Advantech.</p></li>
  
  <li>
    <p>If Advantech has determined that the Evaluation was for purposes other than the customer project specified in the Application for Evaluation Equipment, the return of the equipment in question will be subject to the standard <a href="/Info/ReturnPolicy.htm">Advantech Return Policy</a>.</p> </li>
  
  <li><p>Advantech evaluation orders may be shipped from our stock of refurbished or open box inventory but will be in “as new” condition.  A system order requiring a Microsoft operating system will not have a Microsoft license attached to the unit.  The system will come with an Evaluation O/S installed and updated but the License sticker, CD, and Manual will be in a separate sealed envelope.  The envelope should NOT be opened unless the customer will keep the system.  The software will not need to be activated for the evaluation period.  An opened or unsealed envelope containing the Microsoft license, CD, or Manual, or any part thereof, returned with an evaluation system for credit will be considered Non Cancelable, Non Returnable (NCNR) and will not be credited.  This policy is necessary to conform to Microsoft OEM Software licensing agreements. </p></li>
  
  <li><p>Any questions related to this policy should be directed to your Advantech Sales
    Team. </p></li>
</ol>