<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Advantech eStore Ordering Information</title>
    <style type="text/css">
        table.contact
        {
            font: bold 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            border-color: #ffffff;
            background: #FFFFFF;
            color: #333;
            width: 100%;
        }
        .contact th
        {
            width: 33%;
            border-collapse: collapse;
            background: #EFF4FB;
        }
        .contact td
        {
            font: 12px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            background: #FFFFFF;
            color: #333;
        }
        
        table.estoretable
        {
            font: 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            color: #333;
            width: 100%;
        }
        
        .estoretable th
        {
            padding: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #E5E5E5;
            text-align: center;
            background: #EFF4FB;
        }
        
        .estoretable td
        {
            padding:3px;  border-style:solid; border-width:1px; border-color:#E5E5E5;
        }
		
		table.estoretable2
        {
            font: 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            color: #333;
            width: 100%;
        }
        .estoretable2 td
        {
			padding:3px;
			text-align: right;
        }
        
		.boder
        {
			border: 1px solid #E5E5E5;
        }
		
        .estoretable caption
        {
            padding: 0 0 .5em 0;
            text-align: left;
            text-transform: uppercase;
            color: #333;
            background: transparent;
        }
        .cartitem p
        {
            margin: 0;
            padding: 5px 0;
        }
        .cartitem  label
        {
            font-weight: bold;
        }
        .style2
        {
            width: 345px;
        }
        .style4
        {
            width: 201px;
        }
    .auto-style1 {
	background-color: #FFFFE6;
}
    </style>
</head>
<body>
    <table width="720" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family: Arial, Helvetica, sans-serif">
        <tr>
            <td align="left">
                <img src="http://buy.advantech.eu/App_Themes/AUS/logo.gif" alt="Advantech eStore" height="37" width="300"
                  />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <table width="720" border="0" cellpadding="0" cellspacing="0" height="30">
                    <tr>
                        <td width="9px" align="left" height="30" style="background-image :url(http://buy.advantech.com/App_Themes/AUS/barleft.jpg)">
                      </td>
                        <td width="704" bgcolor="#E5E5E5" style="background-color: #E5E5E5" height="30">
						<span style="background-color:#E5E5E5">
						<a href="http://buy.advantech.eu/" title="Home" target="_blank" style="text-decoration:none">
						<font size="2" color="#767677"><b>Startseite</b></font></a> &nbsp; &nbsp; &nbsp; 
						<font size="2" color="#767677">
						<span style="background-color:#E5E5E5">
						<a href="http://buy.advantech.eu/aboutus/" title="About Us" target="_blank" style="text-decoration:none">
						<font size="2" color="#767677"><b>Über uns</b></font></a></span> &nbsp; &nbsp; &nbsp; 
						<span style="background-color:#E5E5E5"> <a href="http://support.advantech.com.tw/support/default.aspx?utm_source=eStore&amp;utm_medium=email&amp;utm_campaign=EUeStore_Quote_Confirm" title="Support" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><b>Support</b></font></a></span> &nbsp; &nbsp; &nbsp; 
						</font> </span><span style="background-color:#E5E5E5"><font size="2" color="#767677">
						<a href="http://buy.advantech.eu/CONtactUS.aspx" title="Contact Us" target="_blank" style="text-decoration:none">
						<font size="2" color="#767677"><b>Kontakt</b></font></a></span></td>
                        <td width="8" align="right" height="30">
                            <img src="http://buy.advantech.com/App_Themes/AUS/barright.jpg" width="8" height="30"></td>
                    </tr>
                    <tr>
                        <td colspan="3" width="704" height="18" bgcolor="#708AAC" style="background-color: #708AAC; padding: 5px 10px">
                            <div style="color: #FFFFFF; font-size: 12px">
                                [/CHANNLEPARTNER] [/ourAddress] <br />[/OurTel]
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <!-- START -->
                <div style="background-color: #FFFFE6" bgcolor="#FFFFE6"> <b>
					Sehr geehrte Damen und Herren,</b></div>
                <div bgcolor="#FFFFE6" style="padding-left: 10px;font-size: 13px; font-family: Arial;background-color: #FFFFE6">
					Vielen Dank für Ihre Bestellung über den Advantech eStore!
                                <br />
                                Sie können Ihren Bestellstatus jederzeit ganz 
					einfach abfragen, <a href="http://[/CLICKHERE]">
					<span class="auto-style1">indem Sie hier klicken.</span></a>&nbsp; 
					(Aktualisierungen Ihres Status werden etwa 24 Stunden später 
					angezeigt). Wenn Sie Advantech wegen Fragen zu Ihrer 
					Bestellung kontaktieren, empfehlen wir, diese Informationen 
					für eine einfachere Bearbeitung während des Anrufs parat 
					liegen zu haben.<br />
                    <!-- For Loyalty program,insert following words in email and will recover on 2016/09/15 -->
                    <!--<span style="color: #FF0000">
                    *From now to Dec 31th, you are eligible to join the Annual Membership Appreciation program and enjoy 
                    the chance to receive Amazon voucher up to €65! For more information, please 
                    <a href="http://buy.advantech.eu/Widget.aspx?WidgetID=1237">clicking here</a>.</span><br />-->
                    <!-- For Loyalty program -->

                    <br /></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="6" style="border: 1px solid #CCCCCC;" align="center">
                    <tr>
                                    <td align="left" colspan="2">
                                        <span style="font-size: 20px; color: #003D7C"><b>[/OrderingInformation]</b></span></td>
                                </tr>
                                <tr>
                                    <td width="40%" style="font-size: 14px; padding-left: 10px">
                                        Bestellbestätigung Nr.: <b><span style="color: #0033CC">[/ORDERNO]</span></b> 
                                    </td>
                                    <td width="60%" align="right" style="font-size: 13px" valign="top">
                                        Order Date: [/ORDERDATE]
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; padding-left: 10px; width: 100%;" colspan="2">
                                        <span style="color: #666666">[/PROMOTIONCODE] [/PURCHASENO] [/RESELLERID] [/VATADDRESS]
                                        </span></td>
                                </tr>
                    <tr>
                        <td style="font-size: 13px;" colspan="2">
                            <div>
                                <b>Sehr geehrte Damen und Herren [/USERNAME],</b></div>
                                
                            <div style="padding-left: 10px">
                               [/SupportInfo]
                               <br />
                            </div>                            
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF" colspan="2">
                            <table width="100%" border="0" cellspacing="2" cellpadding="0">
                                
                                <tr>
                                    <td colspan="2" background="http://buy.advantech.com/App_Themes/AUS/line.gif" height="1">
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                    <!-- Contact Info -->
                                        <table width="100%" class=contact>
                                            <tr>
                                                <th>
                                                    Auftraggeberadresse
                                                </th>
                                                <th>
                                                    Rechnungsempfänger</th>
                                                <th>
                                                    Versandadresse</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Empf<span lang="EN-US" style="mso-bidi-font-size: 11.0pt; mso-ascii-theme-font: minor-latin; mso-fareast-font-family: 新細明體; mso-fareast-theme-font: minor-fareast; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; mso-fareast-language: ZH-TW; mso-bidi-language: AR-SA">änger</span>: [/SOLDTOATTENTION]
                                                </td>
                                                <td>
                                                    Empf<span lang="EN-US" style="mso-bidi-font-size: 11.0pt; mso-ascii-theme-font: minor-latin; mso-fareast-font-family: 新細明體; mso-fareast-theme-font: minor-fareast; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; mso-fareast-language: ZH-TW; mso-bidi-language: AR-SA">änger</span>: [/BILLTOATTENTION]
                                                </td>
                                                <td>
                                                    Empf<span lang="EN-US" style="mso-bidi-font-size: 11.0pt; mso-ascii-theme-font: minor-latin; mso-fareast-font-family: 新細明體; mso-fareast-theme-font: minor-fareast; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-US; mso-fareast-language: ZH-TW; mso-bidi-language: AR-SA">änger</span>: [/SHIPTOATTENTION]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Unternehmen: [/SOLDTOCOMPANY]
                                                </td>
                                                <td>
                                                    Unternehmen: [/BILLTOCOMPANY]
                                                </td>
                                                <td>
                                                    Unternehmen: [/SHIPTOCOMPANY]
                                                </td>
                                            </tr>
                                            [/LegalForm]
                                            <tr>
                                                <td>
                                                    Adresse: [/SOLDTOADDRESS]
                                                </td>
                                                <td>
                                                    Adresse: [/BILLTOADDRESS]
                                                </td>
                                                <td>
                                                    Adresse: [/SHIPTOADDRESS]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Tel: [/SOLDTOTEL]
                                                </td>
                                                <td>
                                                    Tel: [/BILLTOTEL]
                                                </td>
                                                <td>
                                                    Tel: [/SHIPTOTEL]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Mobil: [/SOLDTOMOBILE]
                                                </td>
                                                <td>
                                                    Mobil: [/BILLTOMOBILE]
                                                </td>
                                                <td>
                                                    Mobil: [/SHIPTOMOBILE]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    [/SOLDVATADDRESS]</td>
                                                <td>
                                                    [/BILLVATADDRESS]</td>
                                                <td>
                                                    [/SHIPVATADDRESS]</td>
                                            </tr>
                                        </table>
                                    <!-- Contact Info/ -->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="5">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <!-- CART DETAIL  -->
                                     <table class="estoretable" width="100%">
                                            <tbody>
                                                <thead>
                                                    <tr class="carthead">
                                                        <th>
                                                            Teil#
                                                        </th>
                                                        <th width="20%">
                                                            Teilenummer
                                                        </th>
                                                        <th class="style2">
                                                            Beschreibung</th>
                                                        [/DetailModeTH]<th>
                                                            Preis pro Einheit
                                                        </th>
                                                        <th>
                                                            Qty
                                                        </th>
                                                        <th>
                                                            Zwischensumme
                                                        </th>
                                                    </tr>
                                                </thead>
                                                [/CARTITEMS]
                                                <tr class="cartitem">
                                                    <td colspan="[/colspan]">&nbsp;
                                                        
                                                    </td>
                                                    <td colspan="2">&nbsp;
                                                        
                                                    </td>
                                                    <td colspan="3">&nbsp;
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                     <table width="100%" class="estoretable2">
                                            <tr class="cartitem">
                                                <td align="left" rowspan="5" valign="top" width="45%" class="boder">
                                                    [/SHIPPINGMETHOD] [/Courier_account] [/PROMOTIONCODE] [/PURCHASENO] [/RESELLERID]
                                                    [/PAYMENTTYPE]
                                                </td>
                                                <td>
                                                    Zwischensumme:
                                                </td>
                                                <td>
                                                    [/SUBTOTAL]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    <font color="red">* </font>
													Fracht:
                                                </td>
                                                <td>
                                                    [/FREIGHT]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    <font color="red">* </font>
													Steuer([/TAXRATE]):
                                                </td>
                                                <td>
                                                    [/TAX]
                                                </td>
                                            </tr>
                                            <tr id="CartDiscount" class="cartitem">
                                                <td>
                                                    <font color="red">* </font>
													Rabatt:
                                                </td>
                                                <td style="color: #FF0000;">
                                                    [/DISCOUNT]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    Gesamt:
                                                </td>
                                                <td style="font-weight: bold;color: #FF0000;">
                                                    [/TOTAL]
                                                </td>
                                            </tr>
                                        </table>
                                   <!-- CART DETAIL / -->
                                   <p style="font-size: 13px; font-family: Arial;">
								   <b>Kommentar:</b><br /> &nbsp;&nbsp;&nbsp;&nbsp;[/Comment]</p>
                                    </td>
                                </tr>
                            </table>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p style="font-size: 13px; padding-left: 10px">
                                Nochmals vielen Dank für Ihren Einkauf im <a href="http://buy.advantech.eu">Advantech Europe eStore</a>.&nbsp; 
								Wir werden Ihre Bestellung so schnell wie 
								möglich bearbeiten. Rufen Sie [/OurTel] an, wenn 
								Sie zu Fragen zu Ihrer Bestellung haben.</p>
                                <p style="font-size:13px; padding-left:10px">
								<span style="font-size:13px;">
								<a href= "http://buy.advantech.eu/Resources/AEU/EU_Advantech_eStore_Terms_%20Conditions_Jun08.pdf?utm_source=eStore&amp;utm_medium=email&amp;utm_campaign=EUeStore_Order_Confirm" target="_blank" >
								Geschäftsbedingungen</a><br />
                                  <a href= "http://buy.advantech.eu/Resources/AEU/EU_Privacy_Security_Policy_Aug08.pdf? utm_source=eStore&amp;utm_medium=email&amp;utm_campaign=EUeStore_Order_Confirm" target="_blank" >
								Datenschutz</a></span></p>
                            <p style="font-size: 13px;">
                                Mit freundlichen Grüßen,
                                <br />
                                <a href="http://[/STOREURL]" style="text-decoration: none; font-weight: bold; color: #000000">
                                    Advantech Europe eStore</a>
                            </p>
                        </td>
                    </tr>
                </table>
                <!-- END -->
                <div>
                </div>
            </td>
        </tr>
        <!-- Footer -->
        <tr>
          <td height="15" bgcolor="#708AAC" style="background-color: #708AAC; text-align: center;
                color: #FFFFFF; font-size: 12px" align="center">[/STOREURL] / [/OurTel] </td>
        </tr>
        <tr>        
            <td height="30" text-align: center; style="border: 1px solid #CCCCCC; background-color: #FFFFE6" bgcolor="#FFFFE6" align="center" valign="middle">&nbsp;</td>
        </tr>
        <!-- Footer /-->
    </table>
    <br />
    <br />
</body>
</html>
