<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Quotation</title>
    <style type="text/css">
        table.contact
        {
            font: bold 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            border-color: #ffffff;
            background: #FFFFFF;
            color: #333;
            width: 100%;
        }
        .contact th
        {
            width: 33%;
            border-collapse: collapse;
            background: #EFF4FB;
        }
        .contact td
        {
            font: 12px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            background: #FFFFFF;
            color: #333;
        }
        
        table.estoretable
        {
            font: 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            color: #333;
            width: 100%;
        }
        
        .estoretable th
        {
            padding: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #E5E5E5;
            text-align: center;
            background: #EFF4FB;
        }
        
        .estoretable td
        {
            padding:3px;  border-style:solid; border-width:1px; border-color:#E5E5E5;
        }
		
		table.estoretable2
        {
            font: 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            color: #333;
            width: 100%;
        }
        .estoretable2 td
        {
			padding:3px;
			text-align: right;
        }
        
		.boder
        {
			border: 1px solid #E5E5E5;
        }
		
        .estoretable caption
        {
            padding: 0 0 .5em 0;
            text-align: left;
            text-transform: uppercase;
            color: #333;
            background: transparent;
        }
        .cartitem p
        {
            margin: 0;
            padding: 5px 0;
        }
        .cartitem  label
        {
            font-weight: bold;
        }
        .style2
        {
            width: 345px;
        }
        </style>
</head>
<body>
<table width="720" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif">
	<tr>
		<td align="left"> <img src="http://buy.advantech.com/App_Themes/AUS/logo.gif" alt="Advantech eStore" /> <br />
		</td>
	</tr>
	<tr>
		<td>
			<table width="720" border="0" cellpadding="0" cellspacing="0" height="30">
				<tr>
					<td width="8" align="left" height="30"><img src="http://buy.advantech.com/App_Themes/AUS/barleft.jpg" width="8" height="30"></td>
					<td width="704" bgcolor="#E5E5E5" style="background-color:#E5E5E5" height="30">
						<a href="http://buy.advantech.eu/" title="Home" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><b>Inicio</b></font></a>
						&nbsp; &nbsp; &nbsp;
						<a href="http://buy.advantech.eu/aboutus/" title="About Us" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>Mi Advantech</b></font></a>
						&nbsp; &nbsp; &nbsp;
						<a href="http://support.advantech.com.tw/support/default.aspx?utm_source=eStore&amp;utm_medium=email&amp;utm_campaign=EUeStore_Quote_Confirm" title="Support" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><b><font color="#767677" size="2">Soporte</font></b></a>
						&nbsp; &nbsp; &nbsp;
						<a href="http://buy.advantech.eu/CONtactUS.aspx" title="Contact Us" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>Contactos</b></font></a>					</td>
					<td width="8" align="right" height="30"><img src="http://buy.advantech.com/App_Themes/AUS/barright.jpg" width="8" height="30"></td>
				</tr>
				<tr>
					<td colspan="3" height="18" bgcolor="#708AAC" style="background-color:#708AAC; padding:5px 10px">
						<div style="color:#FFFFFF; font-size:12px">[/ourAddress] [/OurTel]</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="6" style="border:1px solid #CCCCCC; background-color:#FFFFE6" bgcolor="#FFFFE6" align="center">
				<tr>
					<td style="font-size:13px;"> 
                        [/QUOTEINFORMATION]
					 	<div>
						<div style="background-color: #FFFFE6" bgcolor="#FFFFE6"></div>
						<div style="padding-left:10px"> 
						  [/SupportInfo]
						  <p>Se habrá determinado el pago de envío y entrega por las características de envío, el peso y el pago de actual envío de servicio aplicable. Sea bienvenido a contactar al centro de llamadas al [/OurTel]. Traiga el número de pedido de oferta cuando llamado a nosotros, por favor.<br />
						    Puede <a href="http://[/CHECKQUOTE]" target="_blank"> verficar esta oferta en línea</a>.
			                <br />
		                  </p>
                 </div>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<table width="100%" border="0" cellspacing="2" cellpadding="0">
							<tr>
								<td align="left" width="40%"><span style="font-size:24px; color:#003D7C"><b>Petición de Oferta</b></span></td>
								<td align="left" width="60%"><span style="font-size:14px; color:#003D7C">Número de la petición de oferta: <b>[/QUOTENUMBER]</b></span></td>
							</tr>
							<tr>
								<td colspan="2" style="font-size:14px; padding-left:10px">
									<div>[/PROMOTIONCODE] [/RESELLERID] [/VATADDRESS]</div>
									<div>
										Fecha de la oferta: [/QUOTEDATE] 
										<span style="color:Red;">Valid Through: [/ValidDate]</span>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2" background="http://buy.advantech.com/App_Themes/AUS/line.gif" height="1"></td>
							</tr>
							<tr>
								<td colspan="2">
                                    <!-- Contact Info -->
                                        <table width="100%" class=contact>
                                            <tr>
                                                <th>
                                                    Vendido a</th>
                                                <th>
                                                    Dirección de facturación</th>
                                                <th>
                                                    Enviar a</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Destinatario: [/SOLDTOATTENTION]
                                                </td>
                                                <td>
                                                    Destinatario: [/BILLTOATTENTION]
                                                </td>
                                                <td>
                                                    Destinatario: [/SHIPTOATTENTION]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Empresa: [/SOLDTOCOMPANY]
                                                </td>
                                                <td>
                                                    Empresa: [/BILLTOCOMPANY]
                                                </td>
                                                <td>
                                                    Empresa: [/SHIPTOCOMPANY]
                                                </td>
                                            </tr>
                                            [/LegalForm]
                                            <tr>
                                                <td>
                                                    Dirección: [/SOLDTOADDRESS]
                                                </td>
                                                <td>
                                                    Dirección: [/BILLTOADDRESS]
                                                </td>
                                                <td>
                                                    Dirección: [/SHIPTOADDRESS]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Telé: [/SOLDTOTEL]
                                                </td>
                                                <td>
                                                    Telé: [/BILLTOTEL]
                                                </td>
                                                <td>
                                                    Telé: [/SHIPTOTEL]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Móvil: [/SOLDTOMOBILE]
                                                </td>
                                                <td>
                                                    Móvil: [/BILLTOMOBILE]
                                                </td>
                                                <td>
                                                    Móvil: [/SHIPTOMOBILE]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    [/SOLDVATADDRESS]</td>
                                                <td>
                                                    [/BILLVATADDRESS]</td>
                                                <td>
                                                    [/SHIPVATADDRESS]</td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                    <!-- Contact Info/ -->					
								</td>
							</tr>
							<tr><td colspan="2" height="5"></td></tr>
							<tr>
								<td colspan="2"><span style="font-size:14px; color:#003D7C"><b>Detalles de la petición de oferta:</b></span></td>
							</tr>
							<tr>
								<td colspan="2">
                                    <!-- CART DETAIL  -->
                                     <table class="estoretable" width="100%">
                                            <tbody>
                                                <thead>
                                                    <tr class="carthead">
                                                        <th>
                                                            Item#
                                                        </th>
                                                        <th width="20%">
                                                            Númbero de parte</th>
                                                        <th class="style2">
                                                            Descripción
                                                        </th>
                                                        [/DetailModeTH]<th>
                                                            Precio de unidad
                                                        </th>
                                                        <th>
                                                            Qty
                                                        </th>
                                                        <th>
                                                            SubTotal
                                                        </th>
                                                    </tr>
                                                </thead>
                                                [/CARTITEMS]
                                                <tr class="cartitem">
                                                    <td colspan="[/colspan]">&nbsp;
                                                        
                                                    </td>
                                                    <td colspan="2">&nbsp;
                                                        
                                                    </td>
                                                    <td colspan="3">&nbsp;
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                     <table width="100%" class="estoretable2">
                                            <tr class="cartitem">
                                                <td align="left" rowspan="5" valign="top" width="45%" class="boder">
                                                    [/SHIPPINGMETHOD] [/Courier_account] [/PROMOTIONCODE] [/RESELLERID]
                                                </td>
                                                <td>
                                                    Sub Total:
                                                </td>
                                                <td>
                                                    [/SUBTOTAL]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    <font color="red">* </font>Envío:
                                                </td>
                                                <td>
                                                    [/FREIGHT]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    <font color="red">* </font>Tax([/TAXRATE]):
                                                </td>
                                                <td>
                                                    [/TAX]
                                                </td>
                                            </tr>
                                            <tr id="CartDiscount" class="cartitem">
                                                <td>
                                                    <font color="red">* </font>Descuento:
                                                </td>
                                                <td style="color: #FF0000;">
                                                    [/DISCOUNT]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    Total:
                                                </td>
                                                <td style="font-weight: bold;color: #FF0000;">
                                                    [/TOTAL]
                                                </td>
                                            </tr>
                                        </table>
                                   <!-- CART DETAIL / -->
                                   <p style="font-size: 13px; font-family: Arial;"><b>Opiniónes:</b><br /> &nbsp;&nbsp;&nbsp;&nbsp;[/Comment]</p>
								</td>
							</tr>
						</table>
                        <div style="color: #333; padding-left: 10px">
                            <p style="font-size: 12px;">
                                <span style="color: red">*</span>Se habrá incluido VAT en la factura actual que no icluido en este pedido o oferta.</p>
						<p style="font-size:12px;"><span style="color:red">*</span> 
						La entrega habitual dura 8 a 10 días de trabajo. Nuestro representante contactaremos a usted tan pronto si encontremos conflicto de horario. Podría acelerar su pedido o oferta por llámarnos al [/OurTel] o mándarnos en email por [/Mailgroup].</p>
						<p style="font-size:12px;"><span style="color:red">*</span> 
						Contáctenos para confirmar el plazo de entrega, por favor.</p>
						<p style="font-size:12px;"><span style="color:red">*</span> 
						<strong>La validación de oferta dura 10 días.</strong></p>
						<p style="font-size:13px;"><span style="color:red">*</span> <a href= "http://buy.advantech.eu/Resources/AEU/EU_Advantech_eStore_Terms_ Conditions_Jun08.pdf?utm_source=eStore&amp;utm_medium=email&amp;utm_campaign=EUeStore_Quote_Confirm" target="_blank" >Términas y condiciones</a><br />
                          <span style="color:red">*</span> <a href= "http://buy.advantech.eu/Resources/AEU/EU_Privacy_Security_Policy_Aug08.pdf? utm_source=eStore&amp;utm_medium=email&amp;utm_campaign=EUeStore_Quote_Confirm" target="_blank" >Aviso de privacidad y seguridad</a></p>
					  </div>
					</td>
				</tr>
				<tr>
					<td>
						<p style="font-size:13px; padding-left:10px">
						Gracias por visitar a <a href="http://buy.advantech.eu" target="_blank"> Advantech Europe eStore</a> otra vez. Contactará a usted un representante para su petición de oferta tan pronto. Podría llámarnos al [/OurTel] o mándarnos en email por [/Mailgroup] si tenga preguntas de cofiguración o le guste hablar a un representante.</p>
						<p style="font-size:13px;">
						Saludos cordiales, <br />
						<a href="http://[/STOREURL]" target="_blank" style="text-decoration:none; font-weight:bold; color:#000000">Advantech Europe eStore</a> </p>
					</td>
				</tr>
			</table>
			<div></div>
		</td>
	</tr>
        <!-- Footer -->
        <tr>
          <td height="15" bgcolor="#708AAC" style="background-color: #708AAC; text-align: center;
                color: #FFFFFF; font-size: 12px" align="center">[/STOREURL] / [/OurTel] </td>
        </tr>
        <tr>        
            <td height="30" text-align: center; style="border: 1px solid #CCCCCC; background-color: #FFFFE6" bgcolor="#FFFFE6" align="center" valign="middle">&nbsp;</td>
        </tr>
        <!-- Footer /-->
</table>
<br />
<br />
</body>
</html>
