<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Request for Quantity Discount</title>
</head>
<body>
<table width="660" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif">
	<tr>
		<td align="left"> <img src="http://buy.advantech.com/App_Themes/AUS/logo.gif" alt="Advantech eStore" /> <br />
		</td>
	</tr>
	<tr>
		<td>
			<table width="660" border="0" cellpadding="0" cellspacing="0" height="30">
				<tr>
					<td width="8" align="left" height="30"><img src="http://buy.advantech.com/App_Themes/AUS/barleft.jpg" width="8" height="30"></td>
					<td bgcolor="#E5E5E5" style="background-color:#E5E5E5" height="30"><a href="http://buy.advantech.eu/" title="Home" target="_blank" style="text-decoration:none"><b><font color="#767677" size="2">Inicio</font></b></a>&nbsp; &nbsp; &nbsp; <a href="http://buy.advantech.eu/aboutus/" title="About Us" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>Mi Advantech</b></font></a> &nbsp; &nbsp; &nbsp; <a href="http://support.advantech.com.tw/support/default.aspx?utm_source=eStore&amp;utm_medium=email&amp;utm_campaign=EUeStore_Quote_Confirm" title="Support" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>Soporte</b></font></a> &nbsp; &nbsp; &nbsp; <a href="http://buy.advantech.eu/CONtactUS.aspx" title="Contact Us" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>Contactos</b></font></a></td>
					<td width="8" align="right" height="30">
					<img src="http://buy.advantech.com/App_Themes/AUS/barright.jpg" width="10" height="30"></td>
				</tr>
				<tr>
					<td colspan="3" height="15" bgcolor="#708AAC" style="background-color:#708AAC"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="padding:6px">
			<table width="100%" border="0" cellspacing="0" cellpadding="6" style="border:1px solid #CCCCCC; background-color:#FFFFE6" bgcolor="#FFFFE6" align="center">
				<tr>
					<td style="font-size:13px;"><br />
						Gracias por visitar a Advantech eStore.<br />
						Abajo es su petición a [/CONTACTUSTYPE]. Vemos a contactar a usted nuestro representante tan pronto. </td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<table width="100%" border="0" cellspacing="2" cellpadding="4" style="font-size:13px;">
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Producto</b></td>
								<td style="color:#333333">[/ProductDisplayName]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Descripción de producto</b></td>
								<td style="color:#333333">[/ProductDescription]</td>
							</tr>
							<tr id="rQTY">
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Cantidad</b></td>
								<td style="color:#333333">[/QTY] pcs</td>
							</tr>
							<tr id="rRequestDate">
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Fecha de petición</b></td>
								<td style="color:#333333">[/RequestDate]</td>
							</tr>
							<tr id="rLeadTime">
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Plazo de entrega estimado</b></td>
								<td style="color:#333333">[/LeadTime]</td>
							</tr>
							<tr id="rBudget">
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Presupuesto</b></td>
								<td style="color:#333333">[/Budget]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Nombre</b></td>
								<td style="color:#333333">[/CustomerFullName]</td>
							</tr>
							<tr>
                                <td align="right" bgcolor="#F2F2F2" width="30%">
                                    <b>País</b></td>
                                <td style="color: #333333">
                                    [/Country]</td>
                            </tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Empresa</b></td>
								<td style="color:#333333">[/CompanyName]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Dirección</b></td>
								<td style="color:#333333">[/Address]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Correo electrónico</b></td>
								<td style="color:#333333">[/Email]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Teléfono</b></td>
								<td style="color:#333333">[/Phone]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Prefiere contactamos a usted por</b></td>
								<td style="color:#333333">[/ContactType]</td>
							</tr>
							<tr>
								<td bgcolor="#F2F2F2" width="30%" align="right"><b>Opiniónes</b></td>
								<td style="color:#333333">[/Comments]</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
				  <td style="font-size:13px"> <p>Gracias por visitar a Buy.advantech.eu otra vez. Su administrador de cuenta contactará a usted por su petición lo antes posible.<br />
						</p>
				    <p>Llámenos al <strong>[/TEL]</strong> o mándenos en email por  <b><a href="mailto:[/CONTACTMAIL]">[/CONTACTMAIL]</a></b> si tenga cualquier pregunta de su petición.<br />
						<br />
						Saludos cordiales, <br />
				      <a href="http://[/STOREURL]" target="_blank">Advantech eStore</a></p></td>
				</tr>
			</table>
			<div></div>
		</td>
	</tr>
	<tr>
		<td height="15" bgcolor="#708AAC" style="background-color:#708AAC; text-align:center; color:#FFFFFF; font-size:12px" align="center"> [/STOREURL] / [/TEL] </td>
	</tr>
</table>
<br />
<br />
</body>
</html>
