<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Advantech eStore 注文情報とお支払い情報</title>
            <style type="text/css">
        table.contact
        {
            font: bold 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            border-color: #ffffff;
            background: #FFFFFF;
            color: #333;
            width: 100%;
        }
        .contact th
        {
            width: 33%;
            border-collapse: collapse;
            background: #EFF4FB;
        }
        .contact td
        {
            font: 12px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            background: #FFFFFF;
            color: #333;
        }
        
        table.estoretable
        {
            font: 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            color: #333;
            width: 100%;
        }
        
        .estoretable th
        {
            padding: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #E5E5E5;
            text-align: center;
            background: #EFF4FB;
        }
        
        .estoretable td
        {
            padding:3px;  border-style:solid; border-width:1px; border-color:#E5E5E5;
        }
		
		table.estoretable2
        {
            font: 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            color: #333;
            width: 100%;
        }
        .estoretable2 td
        {
			padding:3px;
			text-align: right;
        }
        
		.boder
        {
			border: 1px solid #E5E5E5;
        }
		
        .estoretable caption
        {
            padding: 0 0 .5em 0;
            text-align: left;
            text-transform: uppercase;
            color: #333;
            background: transparent;
        }
        .cartitem p
        {
            margin: 0;
            padding: 5px 0;
        }
        .cartitem  label
        {
            font-weight: bold;
        }
        .style2
        {
            width: 345px;
        }
        .style4
        {
            width: 201px;
        }
    </style>
</head>
<body>
<table width="720" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif">
        <tr>
            <td align="left">
                <img src="https://buy.advantech.com/App_Themes/AUS/logo.gif" alt="Advantech eStore"/>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <table width="720" border="0" cellpadding="0" cellspacing="0" height="30">
                    <tr>
                        <td width="8" align="left" height="30">
                            <img src="https://buy.advantech.com/App_Themes/AUS/barleft.jpg" width="8" height="30">
                        </td>
                        <td width="704" bgcolor="#E5E5E5" style="background-color: #E5E5E5" height="30"><span style="background-color:#E5E5E5"><a href="http://buy.advantech.co.jp/" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><b>ホーム</b></font></a> &nbsp; &nbsp; &nbsp; <a href="http://buy.advantech.co.jp/aboutus" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>Advantech  eStoreについて</b></font></a> &nbsp; &nbsp; &nbsp; <a href="http://support.advantech.com.tw/support/default.aspx?lang=ja-jp" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>サポート</b></font></a> &nbsp; &nbsp; &nbsp; <a href="http://buy.advantech.co.jp/ContactUs.aspx" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>お問い合わせ</b></font></a></span></td>
                        <td width="8" align="right" height="30">
                            <img src="https://buy.advantech.com/App_Themes/AUS/barright.jpg" width="8" height="30">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" height="18" bgcolor="#708AAC" style="background-color: #708AAC; padding: 5px 10px">
                            <div style="color: #FFFFFF; font-size: 12px">
                              <p>〒111-0032　東京都台東区浅草6-16-3　アドバンテック株式会社 </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <!-- START -->
                <table width="100%" border="0" cellspacing="0" cellpadding="6" style="border: 1px solid #CCCCCC; background-color: #FFFFE6" bgcolor="#FFFFE6" align="center">
                    <tr>
                        <td style="font-size: 13px;">
                        <div><b> [/USERNAME] 様,</b></div>
                            <div>注文情報とお支払い情報(クレジットカード取引) Advantech eStoreでのお買い上げ誠にありがとうございました </div>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF">
                            <table width="100%" border="0" cellspacing="2" cellpadding="0">
                                
                                <tr>
                                    <td align="left" colspan="2">
                                    <span style="font-size: 20px; color: #003D7C"><b>以下の内容でご注文を承りました。ご確認ください。</b></span></td>
                                </tr>
                                <tr>
                                    <td width="40%" style="font-size: 14px; padding-left: 10px">
                                        注文番号: <b><span style="color: #0033CC">[/ORDERNO]</span></b><br />
                                    </td>
                                    <td width="60%" align="right" style="font-size: 13px" valign="top">
                                        Date: [/ORDERDATE]
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" background="https://buy.advantech.com/App_Themes/AUS/line.gif" height="1">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                     <!-- Contact Info -->
                                        <table width="100%" class=contact>
                                            <tr>
                                              <th><p>請求書送付先</p></th>
                                              <th><p>請求書送付先</p></th>
                                              <th><p>商品送付先</p></th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    氏名: [/SOLDTOATTENTION]                                                </td>
                                                <td>
                                                    氏名: [/BILLTOATTENTION]                                                </td>
                                                <td>
                                                    氏名: [/SHIPTOATTENTION]                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    会社: [/SOLDTOCOMPANY]                                                </td>
                                                <td>
                                                    会社: [/BILLTOCOMPANY]                                                </td>
                                                <td>
                                                    会社: [/SHIPTOCOMPANY]                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    住所: [/SOLDTOADDRESS]                                                </td>
                                                <td>
                                                    住所: [/BILLTOADDRESS]                                                </td>
                                                <td>
                                                    住所: [/SHIPTOADDRESS]                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    電話番号: [/SOLDTOTEL]                                                </td>
                                                <td>
                                                    電話番号: [/BILLTOTEL]                                                </td>
                                                <td>
                                                    電話番号: [/SHIPTOTEL]                                                </td>
                                            </tr>
                                            <tr>
                                              <td> 携帯電話: [/SOLDTOMOBILE] </td>
                                              <td> 携帯電話: [/BILLTOMOBILE] </td>
                                              <td> 携帯電話: [/SHIPTOMOBILE] </td>
                                            </tr>
                                                                                        <tr>
                                                <td>&nbsp;                                                </td>
                                                <td>&nbsp;                                                </td>
                                                <td>&nbsp;                                                </td>
                                            </tr>
                                        </table>
                                    <!-- Contact Info/ -->        
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="5">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                    <!-- CART DETAIL  -->
                                     <table class="estoretable" width="100%">
                                            <tbody>
                                                <thead>
                                                    <tr class="carthead">
                                                        <th>
                                                            No.
                                                        </th>
                                                        <th width="20%">
                                                            製品名
                                                        </th>
                                                        <th class="style2">
                                                            詳細
                                                        </th>
                                                        [/DetailModeTH]<th>
                                                            単価
                                                        </th>
                                                        <th>
                                                            数量
                                                        </th>
                                                        <th>
                                                            小計
                                                        </th>
                                                    </tr>
                                                </thead>
                                                [/CARTITEMS]
                                                <tr class="cartitem">
                                                    <td colspan="[/colspan]">&nbsp;
                                                        
                                                    </td>
                                                    <td colspan="2">&nbsp;
                                                        
                                                    </td>
                                                    <td colspan="3">&nbsp;
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                    <table width="100%" class="estoretable2">
                                            <tr class="cartitem">
                                                <td align="left" rowspan="5" valign="top" width="45%" class="boder">
                                                    [/SHIPPINGMETHOD] [/Courier_account] [/PROMOTIONCODE] [/PURCHASENO] [/RESELLERID][/PAYMENTTYPE]
                                                </td>
                                                <td>
                                                    小計:
                                                </td>
                                                <td>
                                                    [/SUBTOTAL]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    <font color="red">* </font>送料:
                                                </td>
                                                <td>
                                                    [/FREIGHT]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    <font color="red">* </font>消費税([/TAXRATE]):
                                                </td>
                                                <td>
                                                    [/TAX]
                                                </td>
                                            </tr>
                                            <tr id="CartDiscount" class="cartitem">
                                                <td>
                                                    <font color="red">* </font>Discount:
                                                </td>
                                                <td style="color: #FF0000;">
                                                    [/DISCOUNT]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    合計:
                                                </td>
                                                <td style="font-weight: bold;color: #FF0000;">
                                                    [/TOTAL]
                                                </td>
                                            </tr>
                                        </table>
                                   <!-- CART DETAIL / -->
                                    </td>
                                </tr>
                            </table>
                            <p style="font-size: 13px; font-family: Arial;"><b>通信欄:</b><br /> &nbsp;&nbsp;&nbsp;&nbsp;[/Comment]</p>
                        </td>
                    </tr>
                    <tr>
                        <td><p style="font-size: 13px; padding-left: 10px">※「銀行振込」でのお支払いの場合には、入金確認後に商品発送となります。お急ぎの場合は、銀行の送金依頼書をFAX(03-6802-1022)してください。なお、振込手数料は貴社御負担となります。</p>
                            <p style="font-size: 13px;">
                                〒111-0032<br />
                                東京都台東区浅草6-16-3<br />
                                アドバンテック株式会社<br />
                                Advantech eStore セールス担当<br />
                                0800-500-1055</p>
                      </td>
                    </tr>
                </table>
                <!-- END -->
                <div>
                </div>
            </td>
        </tr>
        <!-- Footer -->
        <tr>
          <td height="15" bgcolor="#708AAC" style="background-color: #708AAC; text-align: center;
                color: #FFFFFF; font-size: 12px" align="center">[/STOREURL] / [/OurTel] </td>
        </tr>
        <tr>        
            <td height="30" text-align: center; style="border: 1px solid #CCCCCC; background-color: #FFFFE6" bgcolor="#FFFFE6" align="center" valign="middle"><a href="http://buy.advantech.co.jp/Widget.aspx?widgetpage=Support_MailOrder" target="_blank" style="text-decoration: none; font-size: 11px"><font color="#555555">「特定商取引に関する法律」に基づく表示</font>&nbsp;&nbsp;<font color="#555555">|</font>&nbsp;&nbsp;</a><a href="http://buy.advantech.co.jp/Info/ReturnPolicy.htm" target="_blank" style="text-decoration: none; font-size: 11px"><font color="#555555">返品について</font></a>&nbsp;&nbsp;<font color="#555555"><span style="font-size: 11px;">|</span></font>&nbsp;&nbsp;<a href="/information.aspx?type=PrivacyPolicy" target="_blank" style="text-decoration: none; font-size: 11px"><font color="#555555">個人情報保護に対する基本方針</font></a></td>
        </tr>
        <!-- Footer /-->
    </table>
    <br />
    <br />
</body>
</html>
