<p class="text">
	アドバンテック株式会社（以下「当社」といいます）は、当社業務に関連し、その活動を行うために多くの個人情報を保有するものであるところ、個人情報の保護が重大な責務と考え、情報主体をはじめ広く社会からの信頼を得るために、以下のとおり個人情報保護方針を定め、個人情報の保護に努めます。<br />
	当社は、個人情報について、関係法令その他の規範及び当社策定にかかる各種規程等の定めるところに従い、当社において業務に従事する全ての者に対してその周知徹底を図り、適切にこれを取り扱います。
</p>
<ol class="text">
	<li><span class="blueTitle">個人情報の適切な収集、利用、提供、委託</span><br />
		<b>(1) 個人情報の取得(収集) 、利用について</b><br />
		個人情報の収集にあたっては、利用目的を明示した上で、必要な範囲の情報を収集し、利用目的を通知または公表し、その範囲内で利用します。<a href="#InfoUse" style="color: #000080; font-weight: bold">利用目的についてはこちら</a>をご覧下さい。<br />
		共同利用について<br />
		Advantech's eStoreサービスの提供にあたり、ユーザーの個人情報を Advantech 株式会社 ( 住所 台湾本社： No. 1, Alley 20, Lane 26 Rueiguang Road, Neihu District Taipei 114, Taiwan, R. O. C. 代表者名 代表取締役社長 劉克振 以下「共同利用者」といいます ) と共同利用いたします。<br />
		ユーザーは、当社がユーザーの個人情報を共同利用者に開示、提供することにあらかじめ同意しているものとします。なお、共同利用者が共同利用する個人情報の項目、共同利用者の利用範囲、共同利用者の利用目的及び個人情報の管理責任者名称は、以下のとおりとします。<br />
		<ul>
			<li>共同利用する個人情報の項目：会社名、部署名、メールアドレス、氏名、会社住所、電話番号、FAX 番号</li>
			<li>共同利用者の利用範囲：お問い合せ及び注文いただいたお客様全て</li>
			<li>共同利用者の利用目的：お問い合せに対する対応、注文の受付、商品等の販売、発送及びアフターサービスのご提供、アンケート調査及び分析、インターネットを通じた情報のご提供等、ユーザーのサポート、その他Advantech's eStoreの運営業務に付随する業務</li>
			<li>共同利用者の個人情報の管理責任者名称：劉克振</li>
		</ul>
		<br />
		<b>(2) 第三者への提供について</b><br />
		収集した個人情報は、事前に情報主体本人から同意を得た場合を除き、第三者へ提供または開示は行いません。<br />
		<br />
		<b>(3) 委託について</b><br />
		個人情報を第三者に委託して利用する場合は、当該第三者における安全管理措置の状況等に照らし、委託を行うことの適切性を検討すると共に、当該第三者との間で秘密保持契約を締結した上で提供するなどし、委託先への適切な監督をします。<br />
		<br />
	</li>
	<li><span class="blueTitle">個人情報の安全管理措置</span><br />
		個人情報への不正アクセス、個人情報の漏えい、滅失、または毀損の予防及び是正のため、当社内において規程を整備し安全対策に努めます。<br />
		<br />
	</li>
	<li><span class="blueTitle">改善措置</span><br />
		個人情報の取扱に関する社会環境の変化に的確に対応するよう努めます。また必要に応じて本方針をはじめ各種規程等につき、変更、修正、または追加を行うなど、改善をするよう努めます。<br />
		<br />
	</li>
	<li><span class="blueTitle">クッキーに関する規定</span><br />
		(1) 当社は、Advantech's eStoreを提供するためにクッキーを使用します。お客様がAdvantech's eStoreを利用する際に、お使いのパソコン等の通信端末内にクッキーが記録されます。但しAdvantech's eStoreでは、クッキーによりお客様の個人情報を特定することには利用しておりません。<br />
		<br />
		(2) お客様は、Advantech's eStoreを利用するパソコン等の通信端末上で、クッキーを利用可能な状態に設定しておく必要性があります。またお客様は、保存されたクッキーを書き換え、コピーし、解析する行為などを行ってはならないこととします。<br />
		<br />
	</li>
	<li><span class="blueTitle">当プライバシーポリシーの修正について</span><br />
		当ポリシーは法令等の変更に伴い、変更される事があります。<br />
		<br />
	</li>
	<li><span class="blueTitle">開示、訂正請求等への対応</span><br />
		当社が本個人情報保護方針を遵守していないと思われる場合、及び本人の個人情報の開示、訂正、追加または削除、利用停止などを希望される場合には、legal@advantech.com までお問い合わせください。合理的な期間、妥当な範囲内でこれに対応いたします。<br />
		<br />
	</li>
	<li><span class="blueTitle">苦情の処理</span><br />
		当社は、個人情報取扱に関する苦情に対し、適切かつ迅速な処理に努めます。<br />
		<br />
	</li>
	<li><span class="blueTitle"><a name="InfoUse">個人情報の利用目的について</a> </span>
		<br />
		(1) 当社は、お客様の登録情報及びお客様がAdvantech's eStoreを利用する過程において当社が知り得た個人情報 (氏名、住所、メールアドレス、電話番号、ログデータ、購入履歴等) を、Advantech's eStore及びこれに関連する事業を運営する目的のために使用することができるものとします。<br />
		<br />
		(2) 当社は前項の規定に関わらず、当社の個人情報保護に対する基本方針に基づき、個人情報を適切に取り扱うものとし、以下の各号に定める目的に利用することができるものとします。<br />
		<ul type="disc">
			<li>当社ウェブサイト上における、当社および当社の共同利用者・業務委託先等第三者のサービス、商品等の販売、発送及びアフターサービスの提供</li>
			<li>お客様がご本人であることの確認 • お客様からのお問い合わせや苦情等への対応</li>
			<li>当社および当社の共同利用者・業務委託先等第三者からのお客様に対するサービスや商品、キャンペーン等の電話やダイレクトメールの送付、電子メールの送信等による、広告及び宣伝 尚、お客様は別途定める方法で届出ることにより、これらの取扱いの中止、再開ができるものとします。</li>
			<li>キャンペーン、懸賞等の抽選及び賞品等の発送並びにこれに関連した応募者への連絡</li>
			<li>アンケート調査の実施等による商品・サービス等の開発・向上のための市場調査及びデータ分析</li>
			<li>その他、当社の業務に付随する業務</li>
		</ul>
		<br />
		<div style="text-align: right">
			2008 年 3月<br />
			アドバンテック株式会社<br />
			代表取締役 劉克振
		</div>
		<span class="blueTitle">個人情報保護に関するお問合せ先 </span>
		<br />
		〒111-0032 東京都台東区浅草6-16-3<br />
		アドバンテック株式会社 総務部 ( 個人情報相談窓口 )<br />
		TEL：03-6802-1021（内線：601）　FAX：03-6802-1022<br />
		<br />
	</li>
</ol>
