<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Advantech Online Quotation Information</title>
    <link href="../pdf.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <!--splitflag-->
        <table class="title">
            <tr class="quotationTitle">
                <td colspan="3">
                    ADVANTECH&nbsp;&nbsp;&nbsp; QUOTATION
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                </td>
                <td class="customerAddressTitle">
                    Quote No :
                </td>
                <td class="customerAddressValue">
                    [/QuoteNO]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                </td>
                <td class="customerAddressTitle">
                    Quote Date :
                </td>
                <td class="customerAddressValue">
                    [/QuoteDate]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                    380 Fairview Way
                </td>
                <td class="customerAddressTitle">
                    Quote Exp. Date:
                </td>
                <td class="customerAddressValue">
                    [/QUOTEEXPDATE]</td>
            </tr>
            <tr>
                <td class="corpAddress">
                    &nbsp;Milpitas, CA 95035
                </td>
                <td class="customerAddressTitle">
                    Sales Person :
                </td>
                <td class="customerAddressValue">
                    [/SalesPerson]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                    PHONE (408)519-3898&nbsp; FAX (408)519-3899
                </td>
                <td class="customerAddressTitle">
                    Expected Ship :
                </td>
                <td class="customerAddressValue">
                    [/ExpectedShip]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                    WEB:www.advantech.com </td>
                <td class="customerAddressTitle">
                    Version :
                </td>
                <td class="customerAddressValue">
                    [/Version ]
                </td>
            </tr>
        </table>
        <br />
        <!--splitflag-->
        <table>
            <tr>
                <td rowspan="6" valign="top" class="customerAddressTitle title">
                    SOLD TO:
                </td>
                <td>
                    [/SOLDTOCOMPANYNAME]
                </td>
                <td rowspan="6" valign="top" class="customerAddressTitle title">
                    SHIP TO:
                </td>
                <td>
                    [/SHIPTOCOMPANYNAME]
                </td>
            </tr>
            <tr>
                <td class="customerAddressValue">
                    ATTN:[/SOLDTOATTENTION]
                </td>
                <td class="customerAddressValue">
                    ATTN:[/SHIPTOATTENTION]
                </td>
            </tr>
            <tr>
                <td>
                    [/SOLDTOADDRESS]
                </td>
                <td>
                    [/SHIPTOADDRESS]
                </td>
            </tr>
            <tr>
                <td>
                    [/SOLDTOSTATE]</td>
                <td>
                    [/SHIPTOSTATE]</td>
            </tr>
            <tr>
                <td>
                    PHONE:[/SOLDTOPHONE]
                </td>
                <td>
                    PHONE:[/SHIPTOPHONE]
                </td>
            </tr>
            <tr>
                <td>
                    FAX:[/SOLDTOFAX]
                </td>
                <td>
                    FAX:[/SHIPTOFAX]
                </td>
            </tr>
        </table>
        <br />
        <!--splitflag-->
        <table>
            <tr>
                <th colspan="2" class="custmerid">
                    CUSTMER ID
                </th>
                <th class="shipvia">
                    SHIP VIA
                </th>
                <th class="fob">
                    FOB
                </th>
                <th class="terms">
                    TERMS
                </th>
                <th class="customerpo">
                    CCUSTOMER PO
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    [/ERPID]
                </td>
                <td>
                    [/SHIPMATHOD]
                </td>
                <td>
                    FOB Milpitas, CA </td>
                <td>
                    Credit Card
                </td>
                <td>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th class="line">
                    LINE
                </th>
                <th class="temnumber">
                    TEM NUMBER
                </th>
                <th class="description">
                    DESCRIPTION
                </th>
                <th class="quantity">
                    PRICE
                </th>
                <th class="price">
                    QUANTITY
                </th>
                <th class="extendedprice">
                    EXTENDED PRICE
                </th>
            </tr>
        </table>
        <!--splitflag-->
        <table align="center">
            <tbody>
           
                [/QUOTECONTENT]
            </tbody>
            <tfoot>
                <tr>
                    <td class="line">
                    </td>
                    <td class="temnumber">
                    </td>
                    <td class="description">
                    </td>
                    <td class="quantity">
                    </td>
                    <th class="price">
                        SUBTOTAL
                    </th>
                    <th class="extendedprice">
                        [/SUBTOTAL] </tdTH
                </tr>
            </tfoot>
        </table>
        <br />
        <table class="title" style="page-break-inside: avoid">
            <tr>
                <td colspan="5">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="width: 48%;">
                    Thank you for considering our products
                </td>
                <td class="style3">
                </td>
                <td class="custmerid">
                    &nbsp;
                </td>
                <td>
                    Freight/Recycle fee
                </td>
                <td>
                    [/FREIGHT]
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="style3">
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;TAX
                </td>
                <td>
                    [/TAX]
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                    &nbsp;
                </td>
                <th>
                    TOTAL
                </th>
                <th>
                    [/TATAL]
                </th>
            </tr>
            <tr>
                <td>
                </td>
                <td colspan="4">
                    Accepted and Confirmed by:
                </td>
            </tr>
            <tr>
                <th>
                </th>
                <td align='center' class="style3">
                    X
                </td>
                <th>
                     &nbsp;
                </th>
                <th colspan="2">
                </th>
            </tr>
            <tr>
                <td>
                    [/SalesPerson]
                </td>
                <td class="style3">
                    &nbsp;
                </td>
                <td class="style2" colspan="3">
                    &nbsp;Signature
                </td>
            </tr>
        </table>
        <!--splitflag-->
    </div>
</body>
</html>
