<link href="blurTitle.css" rel="stylesheet" type="text/css" />
<p class="text">
<span class="blueTitle">
キャンセルについて
</span><br />
ご注文後のキャンセルは、一切できません。
<br /><br />

<span class="blueTitle">
動作不良の商品について
</span><br />
商品の品質、配送につきましては万全を期しておりますが、万一商品に問題がある場合（但し、保証対象商品に限ります）は、商品お届け日から1週間以内にRMA登録をお願いいたします。当社保証規定に従い対応いたします。<br />
<br /><br />

<span class="blueTitle">
RMA（Return Merchandise Authorization、返品確認)について
</span><br />
RMA登録につきましては、<a href="http://www.advantech.co.jp/support-AJP/">サポートサイト</a>の登録フォームよりお願いいたします<font color="#FF0000">（なお、不良商品の返送に係る送料は、お客様負担とさせていただきます）</font>。弊社より代替品を送料弊社負担で配送させていただきます。<br />
なお、以下の場合の返品又は交換は、お受けいたしません。
<ul>
    <li>
        <p>
            お客様の責任により、キズや破損が生じた商品</p>
    </li>
    <li>
        <p>
            商品到着後 1 週間を経過した商品</p>
    </li>
    <li>
        <p>
            開封済みのソフトウエアプログラム商品、提供済みのサービス、消耗品</p>
    </li>
    <li>
        <p>
            製品間の相性問題、または製品仕様による動作不良</p>
    </li>
    <li>ご返品の際の送料はお客様にご負担いただきます。</li>
</ul>
<p>
    法律上の請求の原因の種類を問わずいかなる場合においても、お買い上げ商品の使用または使用不能から生ずる損害（損失の発生、事業の中断、事業情報の損失又はその他の金銭的損害を含む）に関して、弊社は一切の責任を負わないものとします。</p>
<blockquote>
    ※アクセサリボックスを開封した場合、またパッケージがラッピングしてある商品を開封した場合、1,000 円をいただきます。<br />
    ※ご返品の際の送料はお客様にご負担いただきます。<br />
</blockquote>
<p>
    <span class="blueTitle">お問い合わせ先</span>
    <br />
    〒111-0032 東京都台東区浅草6-16-3<br />
    アドバンテック株式会社<br />
    Advantech eStoreセールス宛<br />
    TEL：03-6802-1021（内線：4278）　FAX：03-6802-1022<br />
    E-mail:buy@advantech.co.jp
</p>
</p>
