<link href="blurTitle.css" rel="stylesheet" type="text/css" />
<p class="text">
    <span class="blueTitle">発送について </span>
    <br />
    お届けまでの日数は、各商品によって異なります。<br />
    日本在庫のある商品については、振込みの場合は、ご入金確認後3日以内に発送いたします。クレジットカードの場合は、カード会社からの承認番号を取得後、発送いたします。また、離島および一部遠隔地へのお届けには多少日数がかかることがございますので、あらかじめご了承ください。 なお諸事情により発送が遅れる場合、日本在庫がない場合には、Eメールにて納期をご連絡いたします。<br />
    <br />
    <span class="blueTitle">送料について </span>
    <br />
    お買い上げ金額が3万円以上なら全国一律送料無料、お買い上げ金額が3万円未満なら送料は商品の大きさに関わらず全国一律1,050円（離島含む） です。<br />
    <br />
    <span class="blueTitle">領収書の発行について </span>
    <br />
    1. 銀行振込の場合<br />
    銀行振込場合は、各金融機関が発行する振込（送金）証明書が領収書となります。弊社発行の領収書が必要な方は、ご購入の際、購入画面の通信欄に「領収書発行希望」とご記入下さい。弊社より発行した領収書を別途ご郵送いたします。<br />
    2. クレジットカード決済の場合
    <br />
    弊社発行の領収書が必要な方は、ご購入の際、購入画面の通信欄に「領収書発行希望」とご記入下さい。弊社より発行した領収書を別途ご郵送いたします。<br />
    3. 共通事項<br />
    領収書発行をご希望の場合は、購入画面の通信欄にご郵送先、お宛名をご記入下さい。<br />
    ※ 上記条件以外での領収書の発行は致しかねますので、あらかじめご了承ください。<br />
    ※ お客様ご購入時の商品金額以外での額面による発行は致しかねます。
</p>