<table cellspacing="0" cellpadding="0" width="100%" border="0">
	<tr>
		<td class="12pro">
			<span class="blueTitle">「特定商取引に関する法律」に基づく表示</span><br />
			<br />
			<table class="12pro" width="100%" border="0">
				<tr>
					<td width="30%">
						<span class="12blue">販売業者：</span>
					</td>
					<td width="70%">
						アドバンテック株式会社
					</td>
				</tr>
				<tr>
					<td>
						<span class="blueTitle">運営統括責任者：</span>
					</td>
					<td>
						劉克振
					</td>
				</tr>
				<tr>
					<td>
						<span class="blueTitle">所在地：</span>
					</td>
					<td>
						〒111-0032 東京都台東区浅草6-16-3
					</td>
				</tr>
				<tr>
					<td>
						<span class="blueTitle">連絡先電話番号：</span>
					</td>
					<td>
						03-6802-1021
					</td>
				</tr>
				<tr>
					<td>
						<span class="blueTitle">連絡先 FAX 番号：</span>
					</td>
					<td>
						03-6802-1022
					</td>
				</tr>
				<tr>
					<td>
						<span class="blueTitle">連絡先 E-mail アドレス：</span>
					</td>
					<td>
						<a style="color: #000080" href="mailto:buy@advantech.co.jp"><b>buy@advantech.co.jp</b></a>
					</td>
				</tr>
				<tr>
					<td>
						<span class="blueTitle">表示価格：</span>
					</td>
					<td>
						価格表示は税抜き表示となっております。
					</td>
				</tr>
				<tr>
					<td>
						<span class="blueTitle">商品代金以外の必要料金：</span>
					</td>
					<td>
						消費税、送料、振込手数料
					</td>
				</tr>
				<tr valign="top">
					<td>
						<span class="blueTitle">送料：</span>
					</td>
					<td>
						ご購入金額の合計が3万円以上であれば無料。ご購入金額の合計が3万円未満の場合は全国一律1,050円（離島を含む）
					</td>
				</tr>
				<tr>
					<td>
						<span class="blueTitle">申込みの有効期限：</span>
					</td>
					<td>
						見積書に記載。在庫切れの場合 E-mail にてご連絡
					</td>
				</tr>
				<tr>
					<td>
						<span class="blueTitle">配送先：</span>
					</td>
					<td>
						日本国内に限らせていただきます。
					</td>
				</tr>
				<tr valign="top">
					<td>
						<span class="blueTitle">引渡し時期：</span>
					</td>
					<td>
						銀行振込み、クレジットカードの場合とも、見積書に記載の納期にて発送。在庫がない場合 および納期遅延の場合には電子メールにて納期を連絡いたします。
					</td>
				</tr>
				<tr>
					<td>
						<span class="blueTitle">お支払方法：</span>
					</td>
					<td>
						銀行振込・クレジットカードのいずれか
					</td>
				</tr>
				<tr valign="top">
					<td width="30%">
						<span class="blueTitle">キャンセル・返品について：</span>
					</td>
					<td width="70%">
						ご注文後のキャンセルは、一切できません。商品の品質、配送につきましては万全を期しておりますが、万一商品に問題がある場合（但し、保証対象商品に限ります）は、商品お届け日から1週間以内に不良商品をご返送ください（なお、不良商品の返送に係る送料は、お客様負担とさせていただきます）。弊社より代替品を送料弊社負担で配送させていただきます。 なお、以下の場合の返品又は交換は、お受けいたしません。
						<br />
						<ul>
							<li>客様の責任により、キズや破損が生じた商品</li>
							<li>商品到着後1週間を経過した商品</li>
							<li>開封済みの商品、提供済みのサービス、消耗品</li>
							<li>製品間の相性問題、または製品仕様による動作不良</li>
							<li>ご返品の際の送料はお客様にご負担いただきます。</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td width="30%">
						<span class="blueTitle">不良品返品送料：</span>
					</td>
					<td width="70%">
						送料・手数料等すべてお客様負担
					</td>
				</tr>
				<tr>
					<td width="30%">
						<span class="blueTitle">返品・交換送料：</span>
					</td>
					<td width="70%">
						返品・交換すべてお客様ご負担、出荷ミスの場合には弊社が負担いたします。
					</td>
				</tr>
				<tr valign="top">
					<td width="30%">
						<span class="blueTitle">保証：</span>
					</td>
					<td width="70%">
						商品に係る保証条件については、商品に添付される保証書に定めるところによります。なお、商品によっては保証対象外のものがあります。<br />
						<br />
						(<b><a style="color: #000080" href="http://www.advantech.co.jp/support-AJP/warranty.asp">保証について詳細はこちら</a></b>)
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
