<p>
    Advantech eStore（以下「当サイト」といいます）は、アドバンテック株式会社(以下「当社」といいます)が運営するサイトです。本規約は、当社が提供するサービスを当社が定める方法により会員登録申請を行い、当社が承諾した 当サイト会員（以下「会員」といいます）が利用することの一切について適用されます。</p>
<ol>
    <li><span class="blueTitle">会員登録</span><br />
        会員は、当社の当サイトが定める本規約に同意し、登録手続きを行った個人を指すものとします。
        <p>
        </p>
        <li><span class="blueTitle">会員登録の変更</span><br />
            会員は、会員登録時に届け出た事項に変更があった場合は、速やかに当サイトに連絡するものとします。
            <p>
            </p>
            <li><span class="blueTitle">会員資格の抹消</span><br />
                会員が以下の各号のいずれかに該当した場合、当社は該当会員の会員資格を何ら通知することなく抹消することができるものとします。
                <ul>
                    <p>
                        (1) 会員登録時に虚偽の申告をした場合
                        <br />
                        (2) IDまたはパスワードを不正に使用、または使用させた場合<br />
                        (3) 当サイトの運営を故意に妨害した場合
                        <br />
                        (4) その他当社が会員として不適当だと判断した場合
                    </p>
                </ul>
                <p>
                </p>
                <li><span class="blueTitle">会員の退会</span><br>
                    <span>会員が退会する場合は、当サイトに連絡のうえ、当社が定める手続きに従い退会の届出を行うこととします。</span>
                    <p>
                    </p>
                </li>
                <li><span class="blueTitle">会員情報の取り扱い</span><br>
                    (1) 会員が登録時に届け出た事項および当サイトから各種お問い合せ時にご記入いただいた事項は当社が管理所有するものとします。
                    <br />
                    (2) 当社は会員の個人情報について、事前に会員本人の同意を得た場合を除き、 第三者に提供しないものとします。<br />
                    （個人情報の保護に関しては<a style="font-weight: bold; color: #000080" href="http://www.Advantech's eStore.com/jp/Info/PrivacyPolicy.htm">個人情報保護に対する基本方針</a>をご覧下さい）
                    <p>
                    </p>
                </li>
                <li><span class="blueTitle">パスワード・IDの管理 </span>
                    <br />
                    (1) 会員は、当サイトに登録したパスワードとIDの管理、使用について一切の責任を負うものとし、会員のパスワードとIDから生じる損害に対しても、会員が負うものとします。
                    <br />
                    (2) 会員は、第三者に自己のパスワードとIDを使用させたり、譲渡、貸与、販売等することをしてはならいものとします。
                    <br />
                    (3) 会員は、如何なる場合においても、他人のパスワードとIDを使用することをしてはならいものとします。
                    <p>
                    </p>
                </li>
                <li><span class="blueTitle">その他</span><br />
                    弊社とお客さまとの連絡方法は、原則として電子メール・チャット、電話、FAXおよび郵送によって行うもととします。
                    <p>
                    </p>
                    <li><span class="blueTitle">免責事項</span><br />
                        当社は当サイトの利用により発生した会員の損害のうち、売買契約に関するもの以外の損害に対し一切の責任を負わないものとします。また、再販された場合、全ての状況におきまして会員と再販先様とのいかなる障害、不利益が生じたといたしましても、当社では一切責任を負いかねます
                        <p>
                        </p>
                    </li>
                    <li><span class="blueTitle">本規約の追加変更</span><br />
                        当社は当社が定める方法によって、会員の承諾を得ることなく本規約の追加または変更することができるものとします
                        <p>
                        </p>
                    </li>
                    <li><span class="blueTitle">管轄裁判所</span><br />
                        本規約に関して会員と当社の間で訴訟の必要が生じた場合、東京地方裁判所を管轄裁判所とします。
                        <p>
                            付則<br />
                            本規約は、2008年3月1日より施行します。
                        </p>
                    </li>
</ol>
