
<span class="blueTitle text">Advantech's eStore サイト利用条件</span>

    <p class="text">
        本ウェブサイトはアドバンテック株式会社（以下、アドバンテックといいます）またはその代理人が運営しております。本ウェブサイトをご利用になられる前に以下のご利用条件をお読みいただき、これらの条件に同意された場合のみご利用になれます。<br>
        アドバンテックは、本ウェブサイトのご利用条件を変更することがあります。変更後の文書を本ウェブサイトに掲載いたしますので、最新の内容をご確認していただき、同意いただいたと見なします。<br>
        また本ウェブサイトは、アドバンテックが運営するほかのウェブサイトおよび海外のアドバンテックの本社また支社へリンクされています。それらのウェブサイトをご利用の際にも本利用条件に同意していただく必要がありますので、ご了承下さい。</p>
    <p class="text">
        <span class="blueTitle">本ウェブサイト上の情報の利用制限について </span>
        <p class="text">
            本ウェブサイトに掲載される情報は、各国の著作権法、各種条約及びその他の法律で保護されています。私的使用その他法律によって明示的に認められる範囲を超えて、これらの情報を使用（複製、改変、アップロード、掲示、送信、頒布、ライセンス、販売、出版等を含む）をすることは、事前にアドバンテックの文書による許諾がない限り、禁止します。<br>
            また本ウェブサイトに含まれる資料の一部または全てを他のサーバにミラーリングコピーすることを禁止します。 本サイト内の資料を許可なく使用した場合は、著作権法、商標法、プライバシー、及びパブリシティに関する法律、通信に関する規制、及び法令に違反する可能性があります。</p>
        </p>
            <span class="blueTitle text">禁止事項について </span>
            <p class="text">
                このウェブサイトのご利用に際し、次の行為をしてはならないものとします。</p>
            <blockquote>
                <p class="text" >
                    (1) 第三者もしくはアドバンテックの財産もしくはプライバシー等を侵害する行為、または侵害する恐れのある行為。<br>
                    (2) 第三者もしくはアドバンテックに、不利益もしくは損害を与える行為、またはその恐れのある行為。<br>
                    (3) 公序良俗に反する行為、またはその恐れのある行為。<br>
                    (4) 犯罪行為もしくは犯罪行為に結びつく行為、またはその恐れのある行為。<br>
                    (5) 他人の電子メールアドレスを登録する等、虚偽の申告、届出を行なう行為。<br>
                    (6) 営業活動もしくは営利を目的とする行為、またはその準備を目的とする行為。<br>
                    (7) 第三者もしくはアドバンテックの名誉もしくは信用を毀損する行為。<br>
                    (8) コンピュータウィルス等有害なプログラムを使用もしくは提供する行為、またはその恐れのある行為。<br>
                    (9) その他、法律、法令もしくは条例に違反する行為、またはその恐れのある行為。<br>
                    (10) その他、アドバンテックが不適切と判断する行為。</p>
            </blockquote>
            <p class="text">
                <span class="blueTitle">責任の限定</span>
                <p class="text">
                    アドバンテックは過失を含む（またはそれに限定されない）いかなる状況下でも、本サイトの資料の使用または不使用によって発生したデータまたは利益の損失を含む（またはそれらに限定されない）、直接的、間接的、特別の、付随的、または結果的な損害に対して、たとえこのような損害が生じる可能性についてアドバンテックまたはアドバンテックの正式な代表者が報告を受けていたとしても、一切責任を負いません。サービス、修理、機材やデータの補正などを受ける結果本サイトで素材を使用する際に生じる費用に関し、お客様がそれらの費用を負担するものとします。<br>
                    本サイト上または本サイトにリンクしているサイト上の資料の使用、有効性、正確性、信頼性に関して、またはその使用の結果に関して、その他の事項に関して、いかなる保証または表明も行いません。<br>
                    また、アドバンテックは予告なしにウェブサイト上の情報を変更することがあります。また、ウェブサイトの運営を中断又は中止させて頂くことがあります。アドバンテックは理由の如何に関わらず、情報の変更及びこのウェブサイトの運用の中断または中止によって生じるいかなる損害についても責任を負うものではありません。</p>
                <p class="text">
                    <span class="blueTitle">資料の送信</span>
                    <p class="text">
                        本サイトに送信、または掲示されたいかなる資料、情報、またはアイデアは、機密情報、及び財産的情報としては扱われず、アドバンテックまたはその関連会社によって、製品の開発、製造、またはマーケティングを含む(ただし必ずしもこれに限定されない)任意の目的で広められ、または使用される場合があります。ただし、Advantech's eStoreに提供された全ての個人データはAdvantech's eStoreの<a
                            href="/info/privacy.aspx">個人情報保護に対する基本方針</a>に従って扱うこととします。<br>
                        本サイトへ、または本サイトから、違法な資料、脅迫的な資料、誹謗中傷的な資料、名誉毀損的な資料、猥褻な資料、スキャンダラスな資料、扇動的な資料、ポルノの資料、冒涜的な資料その他法の下で民事責任または刑事責任を生じる可能性のある資料を掲示または送信することは禁じられています。
                    </p>
                    <p class="text">
                        <span class="blueTitle">準拠法および管轄裁判所</span></p>
                    <p class="text">
                        このウェブサイトの利用並びに本ご利用条件の解釈及び適用は、他に別段の定めのない限り、日本国法に準拠するものとします。また、このウェブサイトの利用に関わる全ての紛争については、他に別段の定めのない限り、東京地方裁判所を第一審の専属管轄裁判所とするものとします。
                    </p>
                </p>
            </p>
