<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Product detail</title>
</head>
<body>
<table width="660" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif">
	<tr>
		<td align="left"> <img src="http://buy.advantech.com/App_Themes/AUS/logo.gif" alt="Advantech eStore" width="375" height="58" /> <br />
		</td>
	</tr>
	<tr>
		<td>
			<table width="660" border="0" cellpadding="0" cellspacing="0" height="30">
				<tr>
					<td width="8" align="left" height="30"><img src="http://buy.advantech.com/App_Themes/AUS/barleft.jpg" width="8" height="30"></td>
					<td bgcolor="#E5E5E5" style="background-color:#E5E5E5" height="30">
						<a href="http://[/STOREURL]" style="text-decoration:none"><font size="2" color="#767677"><b>홈</b></font></a>
						&nbsp; &nbsp; &nbsp;
						<a href="http://[/STOREURL]" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>어드밴텍 eStore</b></font></a>
						&nbsp; &nbsp; &nbsp;
						<a href="http://[/STOREURL]/information.aspx?type=WarrantyPolicy" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>고객지원</b></font></a>
						&nbsp; &nbsp; &nbsp;
						<a href="http://[/STOREURL]/ContactUs.aspx" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>문의하기</b></font></a>
					</td>
					<td width="8" align="right" height="30"><img src="http://buy.advantech.com/App_Themes/AUS/barright.jpg" width="8" height="30"></td>
				</tr>
				<tr>
					<td colspan="3" height="15" bgcolor="#708AAC" style="background-color:#708AAC"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="6" style="border:1px solid #CCCCCC; background-color:#FFFFE6" bgcolor="#FFFFE6" align="center">
				<tr>
					<td style="font-size:13px;"> 
						<div><b>안녕하세요. 어드밴텍 쇼핑몰 관리자 입니다.</b></div>
						<div style="padding-left:10px">
						친구분이신 <b>[/FROMNAME]</b>분께서 <a href="http://[/StoreURL]/" style="text-decoration:none">어드밴텍 쇼핑몰</a> 의 제품 정보<b>를 </b>아래와 같이 추천하셨습니다.<br />
						<br />
						친구 코멘트: <br />
						[/COMMENTS]
					  </div>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<table width="100%" border="0" cellspacing="2" cellpadding="0">
							<tr>
								<td align="left" width="40%"><span style="font-size:24px; color:#003D7C"><b>[/MODELNAME]</b></span></td>
								<td align="right" width="60%"><a href="[/MODELURL]" style="font-size:12px; text-decoration:none"><img src="http://buy.advantech.com/App_Themes/Default/icon_view.gif" width="18" width="18" border="0" /></a> <a href="[/MODELURL]" style="font-size:12px; text-decoration:none; line-height:18px; vertical-align:top">Product page</a></td>
							</tr>
							<tr>
								<td colspan="2" background="http://buy.advantech.com/App_Themes/AUS/line.gif" height="1"></td>
							</tr>
							<tr>
								<td colspan="2"><div style="font-size:13px; font-weight:bold">[/MODELDESC]</div></td>
							</tr>
							<tr>
								<td align="left" valign="top"><img id="Img1" src="[/MODELPICTURE]" alt="[/MODELNAME]" style="border-width:0;" /></td>
								<td align="left" valign="top">
									<ul style="color:#333333; list-style-image:url(http://buy.advantech.com/App_Themes/Default/icon_dot.gif); font-size:13px">
										[/MODELFEATURES]
									</ul>
								</td>
							</tr>
							<tr>
								<td width="40%">&nbsp;</td>
								<td align="right" width="60%"><span style="font-size:13px; font-weight:bold"><font color="red">[/MODELPRICE]</font></span></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="font-size:13px"><p>기타 문의 사항은 고객센터 080-363-9494~5(수신자 부담) 또는 <a href="mailto:ASK@advantech.co.kr">ASK@advantech.co.kr</a>을 이용해 주세요.</p>
					  <a href="http://[/STOREURL]" style="text-decoration:none; font-weight:bold; color:#000000">Advantech eStore</a>
						<div style="text-align:right; font-size:11px">[/SENDDATE]</div>
					</td>
				</tr>
			</table>
			<div></div>
		</td>
	</tr>
	<tr>
		<td height="15" bgcolor="#708AAC" style="background-color:#708AAC; text-align:center; color:#FFFFFF; font-size:12px" align="center"> [/STOREURL] / [/CONTACTPHONE] </td>
	</tr>
</table>
<br />
<br />
</body>
</html>
