<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>어드밴텍 eStore에서 보내드리는 온라인 견적서입니다</title>
    <style type="text/css">
         table.contact
         {
            font: bold 13px/normal Arial,Helvetica,sans-serif;
            border-collapse:collapse;
            border-color: #ffffff;
            background:#FFFFFF;      
            color: #333;
            width:100%;
         }
         .contact th
         {
            width: 33%;    
            border-collapse:collapse;
            background: #EFF4FB;
         }
         .contact td
         {
            font: 12px/normal Arial,Helvetica,sans-serif;
            border-collapse:collapse;
            background:#FFFFFF;      
            color: #333;
         }                    
                        
         table.estoretable
         {
            font:  13px/normal Arial,Helvetica,sans-serif;

            border-collapse:collapse;     
            color: #333;
            width:100%;
        }

        .estoretable th {
            padding:3px;  border-style:solid; border-width:1px; border-color:#E5E5E5; text-align:center;
            background:#EFF4FB; 
        }        
        .estoretable td
        {
            padding:3px;  border-style:solid; border-width:1px; border-color:#E5E5E5; text-align:center;
        }
        .estoretable caption {
            padding: 0 0 .5em 0;
            text-align: left; 
            text-transform: uppercase;
            color: #333;
            background: transparent;
        }
        .cartitem p
        {
            margin: 0;
            padding: 5px 0;
            font-size: 12px;
        }
        .cartitem label
        {
            font-weight: bold;
        }
        .style2
        {
            width: 345px;
        }
        .style5 {font-size: 13px}
    .style6 {color: #FF0000}
    </style>
</head>
<body>
<table width="720" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif">
	<tr>
		<td align="left"> <img src="http://buy.advantech.com/App_Themes/AUS/logo.gif" alt="Advantech eStore"  /> <br />
		</td>
	</tr>
	<tr>
		<td>
			<table width="720" border="0" cellpadding="0" cellspacing="0" height="30">
				<tr>
					<td width="8" align="left" height="30"><img src="http://buy.advantech.com/App_Themes/AUS/barleft.jpg" width="8" height="30"></td>
					<td width="704" bgcolor="#E5E5E5" style="background-color:#E5E5E5" height="30"><a href="http://[/STOREURL]" title="Home" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><b>홈</b></font></a> &nbsp; &nbsp; &nbsp; <a href="http://[/STOREURL]/information.aspx?type=WarrantyPolicy" title="About Us" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>어드밴텍 eStore</b></font></a>&nbsp; &nbsp; &nbsp; <a href="http://[/STOREURL]/information.aspx?type=WarrantyPolicy" title="Support" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>고객 지원</b></font></a> &nbsp; &nbsp; &nbsp; <a href="http://[/STOREURL]/ContactUs.aspx" title="Contact Us" target="_blank" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>문의하기</b></font></a></td>
					<td width="8" align="right" height="30"><img src="http://buy.advantech.com/App_Themes/AUS/barright.jpg" width="8" height="30"></td>
				</tr>
				<tr>
					<td colspan="3" height="18" bgcolor="#708AAC" style="background-color:#708AAC; padding:5px 10px">
						<div style="color:#FFFFFF; font-size:12px">어드밴텍케이알(주) 서울시 강서구 등촌3동 684-1 에이스테크노타워 1202호<br />
|Tel: 02-3663-9494, 080-363-9494~5(수신자부담) |Fax:02-3663-4955 |eMail:<a href="mailto:ASK@advantech.co.kr" target="_blank">ASK@advantech.co.kr</a></div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="6" style="border:1px solid #CCCCCC; background-color:#FFFFE6" bgcolor="#FFFFE6" align="center">
				<tr>
					<td style="font-size:13px;"> 
						<div><b>[/USERNAME] 고객님 ,</b></div>
						<div style="padding-left:10px">
						어드밴텍 eStore를 방문해 주셔서 진심으로 감사드립니다.
						요청하신 제품의 견적은 아래와 같습니다..
						<br />
						<a href="http://[/CHECKQUOTE]">쇼핑몰</a>
						에서도 직접 확인하실 수 있습니다.</div>					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF">
						<table width="100%" border="0" cellspacing="2" cellpadding="0">
							<tr>
								<td align="left" width="40%">
									<span style="font-size:24px; color:#003D7C"><b>견적서</b></span>								</td>
								<td align="left" width="60%">
									<span style="font-size:14px; color:#003D7C">견적번호: <b>[/QUOTENUMBER]</b></span>								</td>
							</tr>
							<tr>
								<td colspan="2" style="font-size:14px; padding-left:10px">
									<div>
										견적일자: [/QUOTEDATE]									</div>								</td>
							</tr>
							<tr>
								<td colspan="2" background="http://buy.advantech.com/App_Themes/AUS/line.gif" height="1"></td>
							</tr>
                            <tr><td colspan="2">
                                    <!-- Contact Info -->
                                        <table width="100%" class=contact>
                                            <tr>
                                                <th>
                                                    Sold to                                                </th>
                                                <th>
                                                    Bill to</th>
                                                <th>
                                                    Ship to</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    이 름: [/SOLDTOATTENTION]                                                </td>
                                                <td>
                                                    이 름: [/BILLTOATTENTION]                                                </td>
                                                <td>
                                                    이 름: [/SHIPTOATTENTION]                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    수 신: [/SOLDTOCOMPANY]                                                </td>
                                                <td>
                                                    수 신: [/BILLTOCOMPANY]                                                </td>
                                                <td>
                                                    수 신: [/SHIPTOCOMPANY]                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    주 소: [/SOLDTOADDRESS]                                                </td>
                                                <td>
                                                    주 소: [/BILLTOADDRESS]                                                </td>
                                                <td>
                                                    주 소: [/SHIPTOADDRESS]                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Tel: [/SOLDTOTEL]                                                </td>
                                                <td>
                                                    Tel: [/BILLTOTEL]                                                </td>
                                                <td>
                                                    Tel: [/SHIPTOTEL]                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Mobile: [/SOLDTOMOBILE]                                                </td>
                                                <td>
                                                    Mobile: [/BILLTOMOBILE]                                                </td>
                                                <td>
                                                    Mobile: [/SHIPTOMOBILE]                                                </td>
                                            </tr>
                                                                                        <tr>
                                                <td>&nbsp;                                                </td>
                                                <td>&nbsp;                                                </td>
                                                <td>&nbsp;                                                </td>
                                            </tr>
                                        </table>
                                    <!-- Contact Info/ -->   
                            </td></tr>
							<tr><td colspan="2" height="5"></td></tr>
							<tr>
								<td colspan="2"><span style="font-size:14px; color:#003D7C"><b>견적내역:</b></span></td>
							</tr>
                            <tr>
                                <td colspan="2">
                            <!-- CART DETAIL  -->
                                <table class="estoretable" width="100%">
                                <tbody>
                                  <thead>
                                        <tr class=carthead>
                                            <th>No#</th>
                                            <th width="20%">품명</th>
                                            <th class=style2>상품 설명 </th>
                                            [/DetailModeTH]
                                            <th>단가</th>
                                            <th>수량</th>
                                            <th>소계 </th>
                                        </tr>
                                  </thead>
                                    [/CARTITEMS] 
                                    <tr class="cartitem" >
                                        <td  style="text-align:right;border-width: 0px; border-color: #FFFFFF;"colspan="[/colspan]">&nbsp;                                      </td>   
                                        <td  style="text-align:right;border-width: 0px; border-color: #FFFFFF;" colspan="2">&nbsp;                                      </td>
                                        <td colspan="3" style="text-align:right;border-width: 0px; border-color: #FFFFFF;">&nbsp;                                      </td>            
                                    </tr>
                                    </tbody>
                                </table>
                                <table width="100%" class="estoretable">
                                    <tr class="cartitem">
                                        <td align="left" rowspan="5" style="text-align:left;" valign="top" width="45%">
                                            [/SHIPPINGMETHOD] [/Courier_account] [/PROMOTIONCODE] [/RESELLERID]                                        </td>
                                        <td  style="text-align:right;border-width: 0px; border-color: #FFFFFF;"colspan="[/colspan]">&nbsp;                                      </td>            
                                        <td  style="text-align:right;border-width: 0px; border-color: #FFFFFF;">
                                            소계:</td>            
                                        <td   style="text-align:right;border-width: 0px; border-color: #FFFFFF;">
                                            [/SUBTOTAL]</td>
                                    </tr>
                                    <tr id="Freight" class="cartitem">
                                        <td  style="text-align:right;border-width: 0px; border-color: #FFFFFF;"colspan="[/colspan]">&nbsp;                                      </td>            
                                        <td   style="text-align:right;border-width: 0px; border-color: #FFFFFF;">
                                             <font color=red>* </font><span class="style5">배송료</span>:</td>            
                                        <td   style="text-align:right;border-width: 0px; border-color: #FFFFFF;">
                                            [/FREIGHT]</td>
                                    </tr>    
                                    <tr id="Tax" class="cartitem">
                                        <td  style="text-align:right;border-width: 0px; border-color: #FFFFFF;"colspan="[/colspan]">&nbsp;                                      </td>            
                                        <td style="text-align:right;border-width: 0px; border-color: #FFFFFF;">
                                             <font color=red>* </font>부가세([/TAXRATE]):</td>            
                                        <td style="text-align:right;border-width: 0px; border-color: #FFFFFF;">
                                            [/TAX]</td>
                                    </tr> 
                                    <tr id="CartDiscount" class="cartitem">
                                            <td  style="text-align:right;border-width: 0px; border-color: #FFFFFF;">&nbsp;                                      </td>          
            
                                            <td style="text-align:right;border-width: 0px; border-color: #FFFFFF;">
                                                    <font color=red>* </font>할인:</td>
            
                                            <td style="text-align:right;border-width: 0px; border-color: #FFFFFF;color: #FF0000;">
                                                [/DISCOUNT]</td>
                                  </tr> 
                                    <tr class="cartitem">
                                        <td  style="text-align:right;border-width: 0px; border-color: #FFFFFF;"colspan="[/colspan]">&nbsp;                                      </td>            
                                        <td  style="text-align:right;border-width: 0px; border-color: #FFFFFF;">
                                            합계:</td>            
                                        <td style="text-align:right;border-width: 0px; border-color: #FFFFFF; font-weight: bold; color: #FF0000;">
                                            [/TOTAL]</td>
                                    </tr>
                                    <tr class="cartitem">
                                        <td  style="text-align:right;border-width: 0px; border-color: #FFFFFF;"colspan="[/colspan]">&nbsp;                                      </td>          
            
                                        <td  style="text-align:right;border-width: 0px; border-color: #FFFFFF;">&nbsp;                                      </td>
            
                                        <td style="text-align:right;border-width: 0px; border-color: #FFFFFF;">&nbsp;</td>
                                    </tr>
                                  </table>
                                   <!-- CART DETAIL / -->  
                                   <p style="font-size: 13px; font-family: Arial;"><b>코멘트:</b><br /> &nbsp;&nbsp;&nbsp;&nbsp;[/Comment]</p>                              </td>
                            </tr>
						</table>
						<div style="color:#333; padding-left:10px">
						  <p style="font-size:13px; padding-left:10px"><span class="style6">*</span>특이 사항 <br />
                              <span class="style5">1) 견적 유효 기간 : 견적일로부터 10일<br />
                                2) 유지 보수 : 납품일로 부터 1년<br />
                                3) 제품 납기 : 별도 협의<br />
                                4) 납품 장소 : 고객 지정 장소<br />
                                5) 결제 조건 : 선 결제<br />
                                6) 배송료 : 구매 금액이 20만원 미만일 경우 배송비는 착불입니다</span></p>
		  <p style="font-size:13px; padding-left:10px">당사의 모든 제품은 구매자의 주문에 의해 수입되므로 반품 및 교환이 불가능하며, 배상책임한도는 납품가액을 상회하지 않음을 원칙으로 합니다.
          </p>
				      </div>					</td>
				</tr>
				<tr>
					<td>
						<p style="font-size:13px; padding-left:10px"><span class="style5">기타 문의 사항은 고객센터 080-363-9494~5(수신자 부담) 또는 <a href="mailto:ASK@advantech.co.kr" target="_blank">ASK@advantech.co.kr</a>을 이용해 주세요</span></p>				  </td>
				</tr>
			</table>
			<div></div>
		</td>
	</tr>
        <!-- Footer -->
        <tr>
          <td height="15" bgcolor="#708AAC" style="background-color: #708AAC; text-align: center;
                color: #FFFFFF; font-size: 12px" align="center">[/STOREURL] / 080-363-9494~5</td>
        </tr>
        <tr>        
            <td height="30" text-align: center; style="border: 1px solid #CCCCCC; background-color: #FFFFE6" bgcolor="#FFFFE6" align="center" valign="middle"><a href="http://[/STOREURL]/information.aspx?type=ReturnPolicy" target="_blank" style="text-decoration: none; font-size: 11px"><font color=#555555>환불 교환 정책</font></a>&nbsp;&nbsp;<font color=#555555><span style="font-size: 11px;">|</span></font>&nbsp;&nbsp;<a href="http://[/STOREURL]/information.aspx?type=PrivacyPolicy" target="_blank" style="text-decoration: none; font-size: 11px"><font color=#555555>개인 정보 보호 정책</font></a></td>
        </tr>
        <!-- Footer /-->
</table>
<br />
<br />
</body>
</html>
