<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Advantech Online Quotation Information</title>
    <link href="../pdf.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <!--splitflag-->
        <table width="603" class="title">
            <tr class="quotationTitle">
                <td colspan="3">
                어드밴텍 견적서</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;
                    
                </td>
            </tr>
            <tr>
                <td width="344" class="corpAddress">
                </td>
                <td width="129" class="customerAddressTitle">
                    견적 번호 :
                </td>
                <td width="114" class="customerAddressValue">
                    [/QuoteNO]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                </td>
                <td class="customerAddressTitle">
                    견적 날짜 :
                </td>
                <td class="customerAddressValue">
                    [/QuoteDate]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">어드밴텍케이알(주) </td>
                <td class="customerAddressTitle">
                    견적 예상 일자 :</td>
                <td class="customerAddressValue">
                    [/QUOTEEXPDATE]</td>
            </tr>
            <tr>
                <td class="corpAddress">서울시 강서구 등촌3동 684-1 에이스테크노타워 1202호<br /></td>
                <td class="customerAddressTitle">
                    담당 영업사원 :
                </td>
                <td class="customerAddressValue">
                    [/SalesPerson]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">Tel (080)363-9494~5(수신자부담) <br />
                  Fax (02)3663-4955 <br />
                  이메일 문의:<a href="mailto:ASK@advantech.co.kr">ASK@advantech.co.kr </a><br />
</td>
                <td class="customerAddressTitle">&nbsp;</td>
                <td class="customerAddressValue">&nbsp;</td>
            </tr>
            <tr>
                <td class="corpAddress">
                    홈페이지:<a href="www.advantech.co.kr">www.advantech.co.kr</a></td>
                <td class="customerAddressTitle">&nbsp;</td>
                <td class="customerAddressValue">&nbsp;</td>
            </tr>
        </table>
<br />
        <!--splitflag-->
        <table width="597">
            <tr>
                <td rowspan="6" valign="top" class="customerAddressTitle title">
                    SOLD TO:
                </td>
                <td>
                    [/SOLDTOCOMPANYNAME]
                </td>
                <td rowspan="6" valign="top" class="customerAddressTitle title">
                    SHIP TO:
                </td>
                <td>
                    [/SHIPTOCOMPANYNAME]
                </td>
            </tr>
            <tr>
                <td class="customerAddressValue">
                    ATTN:[/SOLDTOATTENTION]
                </td>
                <td class="customerAddressValue">
                    ATTN:[/SHIPTOATTENTION]
                </td>
            </tr>
            <tr>
                <td>
                    [/SOLDTOADDRESS]
                </td>
                <td>
                    [/SHIPTOADDRESS]
                </td>
            </tr>
            <tr>
                <td>
                    [/SOLDTOSTATE]</td>
                <td>
                    [/SHIPTOSTATE]</td>
            </tr>
            <tr>
                <td>
                    PHONE:[/SOLDTOPHONE]
                </td>
                <td>
                    PHONE:[/SHIPTOPHONE]
                </td>
            </tr>
            <tr>
                <td>
                    FAX:[/SOLDTOFAX]
                </td>
                <td>
                    FAX:[/SHIPTOFAX]
                </td>
            </tr>
        </table>
    <br />
        <!--splitflag-->
        <table>
            <tr>
                <th colspan="2" class="custmerid">
                    CUSTMER ID
                </th>
                <th class="shipvia">
                    SHIP VIA
                </th>
                <th class="fob">
                    FOB
                </th>
                <th class="terms">
                    TERMS
                </th>
                <th class="customerpo">
                    CCUSTOMER PO
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    [/ERPID]
                </td>
                <td>
                    [/SHIPMATHOD]
                </td>
                <td>
                    FOB Milpitas, CA </td>
                <td>
                    Credit Card
                </td>
                <td>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th class="line">
                    LINE
                </th>
                <th class="temnumber">
                    TEM NUMBER
                </th>
                <th class="description">
                    DESCRIPTION
                </th>
                <th class="quantity">
                    PRICE
                </th>
                <th class="price">
                    QUANTITY
                </th>
                <th class="extendedprice">
                    EXTENDED PRICE
                </th>
            </tr>
        </table>
        <!--splitflag-->
        <table align="center">
            <tbody>
            
                [/QUOTECONTENT]
            </tbody>
            <tfoot>
                <tr>
                    <td class="line">
                    </td>
                    <td class="temnumber">
                    </td>
                    <td class="description">
                    </td>
                    <td class="quantity">
                    </td>
                    <th class="price">
                        SUBTOTAL
                    </th>
                    <th class="extendedprice">
                        [/SUBTOTAL] </tdTH
                ></tr>
            </tfoot>
        </table>
        <br />
        <table width="568" height="151" class="title" style="page-break-inside: avoid">
            <tr>
                <td colspan="5">&nbsp;
                    
                </td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;
                    
                </td>
            </tr>
            <tr>
                <td width="48%" style="width: 48%;">
                    제품문의 주셔서 감사합니다.</td>
                <td width="6%" class="style3">
                </td>
                <td width="4%" class="custmerid">&nbsp;
                    
                </td>
                <td width="16%">&nbsp;</td>
                <td width="26%">&nbsp;</td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="style3">
                </td>
                <td>&nbsp;
                    
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>&nbsp;
                    
                </td>
                <th>합계</th>
                <th>
                    [/TATAL]
                </th>
            </tr>
            <tr>
                <td>
                </td>
                <td colspan="4">
                    코멘트:
                </td>
            </tr>
            <tr>
                <th>
                </th>
                <td align='center' class="style3">
                    X
                </td>
                <th>&nbsp;
                     
                </th>
                <th colspan="2">
                </th>
            </tr>
            <tr>
                <td>
                    [/SalesPerson]
                </td>
                <td class="style3">&nbsp;
                    
                </td>
                <td class="style2" colspan="3">
                    &nbsp;서명</td>
            </tr>
        </table>
        <!--splitflag-->
    </div>
</body>
</html>
