<strong>어드밴텍 교환 및 반품 정책</strong>
<ol>
    <li>
      <p>
        <span class="12blue">모든 교환 및 환불은 어드밴텍 담당자와 사전에 협의되어야 합니다. 어드밴텍의 모든 제품은 구매 희망자의 주문에 의해 수입되기 때문에 원칙적으로 반품 및 교환이 불가능합니다. 단, 아래의 경우는 예외로 합니다.</span></p>
      <blockquote>
        <p>
          1) 회원이 구매한 제품이 사전에 통보된 제품의 사양과 상이한 경우</p>
        <p>
          2) 운송 중에 제품이 파손되어 기능상 이상이 있는 경우</p>
        <p>
          3) 다른 이용자의 구매 요구가 충분하여 어드밴텍의 재고 보유가 가능하다고 판단되는 경우 - 제품의 외관상 손상이 없어 재판매가 가능한 경우에 한함</p>
      </blockquote>
  </li>
    <li>
        <p>
            <span class="12blue">어드밴텍이 재고 보유 가능을 판단하고 반품을 수용한 경우라 하더라도, 사용자는 어드밴텍의 재고 부담에 관하여 아래에 해당하는 비용을 차감한 물품대를 환불받습니다.</span></p>
        <p>
            <font color="#013682">BTOS 주문 ( 구매자의 주문에 의해 제작 / 조립된 경우 )</font></p>
        <blockquote>
            <p>
                a. 납품 일로부터 0- 30 일 이내: 총 물품대의 20% 차감</p>
            <p>
                b. 납품 일로부터 3 1- 6 0 일 이내: 총 물품대의 30% 차감</p>
            <p>
                c. 납품 일로부터 60 일이 경과한 제품에 관하여는 어떠한 경우에도 반품이 수용되지 않습니다.</p>
        </blockquote>
        <p>
            <font color="#013682">단품 / 부품 주문 </font>
        </p>
        <blockquote>
            <p>
                a. 0~30 일 이내: 총 물품대의 20% 차감</p>
            <p>
                b. 31~60 일 이내: 총 물품대의 30% 차감</p>
            <p>
                c. 납품 일로부터 60 일이 경과한 제품에 관하여는 어떠한 경우에도 반품이 수용되지 않습니다</p>
        </blockquote>
    </li>
    <li>
        <p>
            <span class="12blue">반품되는 모든 제품은 반드시 재 판매가 가능한 상태여야 합니다. 기존에 제품에 함께 포장되어있던 매뉴얼, 박스, 디스크 등은 모두 포함되어야 합니다. 이 조건이 충족되지 않으면, 어드밴텍은 추가 비용을 청구할 수 있습니다.</span></p>
    </li>
    <li>
        <p>
            <span class="12blue">반품 시 운송비는 고객이 지불하여야 합니다.</span></p>
    </li>
    <li>
        <p>
            <span class="12blue">반품 시 운송비가 포함된 운송장은 발행될 수 없습니다.</span></p>
    </li>
    <li>
        <p>
            <span class="12blue">어드밴텍이 제 3 자 벤더의 제품을 공급한 경우, 그 벤더가 반품을 수락한 경우에만 고객의 요구에 응할 수 있습니다. 벤더가 요구하는 반품 비용은 고객에 의하여 지불되어야 합니다.</span></p>
    </li>
    <li>
        <p>
            <span class="12blue">수리할 물품을 발송하기 전에 어드밴텍 콜센터(080-363-9494~5)로 전화를 하셔서 AS의뢰서를 받은 후 작성하셔서 물품과 함께 보내주셔야 합니다. 수리 요청 제품은 AS의뢰서를 작성하시고 AS의뢰번호를 취득하신 후 30일 이내에 어드밴텍에 도착해야 하며, 30일이 지나면 AS의뢰번호를 새로 취득해야 합니다.</span></p>
    </li>
    <li>
        <p>
            <span class="12blue">위의 사항은 공지 없이 변경될 수 있습니다.</span></p>
    </li>
</ol>
<span class="blueTitle text"><strong>어드밴텍 운송 정책 및 비용</strong></span>
<p class="text"> 어드밴텍 이스토어는 기본적으로 택배 발송을 합니다. 20만원 이상 구매시 무료 배송입니다.<br />
  <br />
단, 당일 배송 요청시 운임은 구매자 부담입니다.</p>
<p class="text"> 물건을 받으시는 즉시 상태를 확인하시고 문제가 있을 경우 본사로 알려주시기 바랍니다. 배송이 한달 이상 지난 제품에 대해서는 배송 사고에 대한
  책임을 지지 않습니다.</p>
<p><strong>‘국내 전파법-방송통신기자재 적합성 평가 기준에 따라 일부 제품의  수입이 제한 될 수 있습니다.’ </strong></p>
<p class="text">&nbsp;</p>
