<p class="title_med">
    A. 서비스 정책</p>
<ol class="text">
    <li><span class="blueTitle">서비스 센터</span>
        <p>
            제품의 수리 및 교체 서비스는 당사의 기술지원부에서 처리함을 원칙으로 하며, 고객은 수리 및 고체 서비스를 필요로 하는 제품을 당사의 기술지원부로 접수해야 합니다. 단, 고객이 부득이한 이유로 출장 서비스를 받고자 하는 경우, 당사가 정하는 규정에 의거하여 출장 서비스 비용을 청구하고 현장 서비스를 제공 받을 수 있습니다.</p>
    </li>
    <li><span class="blueTitle">제품 운송비용 </span>
        <p>
            제품의 수리 및 교체 서비스를 위해 제품을 당사의 기술지원부로 발송하는 경우 운송비용 처리는 다음과 같습니다.<br />
            - 당사 기술지원부로 A/S 의뢰제품 발송시: 고객부담<br />
            - 당사에서 고객에게 A/S 완료제품 발송시: 당사부담</p>
    </li>
    <li><span class="blueTitle">서비스 형태</span><br />
        <br />
        A/S 의뢰에 대한 제품의 수리 및 교체 서비스 형태는 다음과 같이 분류됩니다.<br />
        <br />
        <ol>
      <span class="blueTitle">① 내부 서비스:</span>
                <p>
                    무료 보증기간인 제품에 하자가 있을 경우, 무상으로 서비스를 제공합니다. 유료수리의 경우에는 당사 요금체계에 의한 금액을 청구합니다. 단, 무료수리 기간내에 해당하는 제품이라도 당사가 정한 예외규정에 의한 원인으로 문제가 발생한 경우, 유료수리 규정에 의거하여 비용을 청구하게 됩니다.</p>
            
            <span class="blueTitle">② 출장 서비스: </span>
                <p>
                    무료 보증기간인 제품에 하자가 있을 경우, 경비와 인건비를 청구하고 서비스를 제공하며, 유료수리의 경우에는 경비 및 인건비, 부품비 등 당사 요금 체계에 의한 금액을 청구합니다. 단, 무료 수리 기간내에 해당하는 제품이라도 당사가 정한 예외 규정에 의한 원인으로 문제가 발생한 경우, 유료수리 규정에 의거하여 비용을 청구하게 됩니다.</p>
            
            <span class="blueTitle">③ 해외 서비스:</span>
                <p>
                    무료 보증기간에 해당하는 제품이 해외에서 문제가 발생된 경우, 해당 지역에 어드밴텍 지사가 있는 경우에는 대체품을 해당지역으로 발송하여 처리하는 것을 기본원칙으로 하며 고객은 운송비용을 부담해야 합니다. 만약, 고객의 요청에 의해 출장서비스가 필요한 경우 당사 해외수리 요금체계에 의한 금액을 청구하게 됩니다.</p>
            
        </ol>
    </li>
</ol>
<p class="title_med">
    B. 서비스 요금 안내</p>
<ol class="text">
    <li><span class="blueTitle">유, 무료 수리기준</span>
        <p>
            - 무료수리: 품질 보증기간 이내에 정상적인 사용 상태에서 발생한 품질, 성능, 기능상의 하자로 인한 경우<br />
            - 유료수리:<br />
            ① 품질 보증기간이 경과한 후 성능 불량 및 고장<br />
            ② 품질 보증기간이 경과한 제품을 당사 엔지니어가 테스트해서 NPF (No Problem Found)결과가 나온 경우<br />
            ③ 소비자의 고의 또는 과실로 인하여 발생한 고장<br />
            ④ 당사의 서비스 센터가 아닌 장소에서 제품의 구조, 개조 또는 변조하여 발생된 고장<br />
            ⑤ 사용전원의 이상에 의한 고장<br />
            ⑥ 접속기기의 불량으로 인한 고장<br />
            ⑦ 천재지변에 의한 제품고장 및 결함
        </p>
    </li>
    <li>
      <p><span class="blueTitle">서비스 요금의 산정기준</span>        
            <br />
            <br />
      서비스 요금의 산정요소로 부품비, 수리비, 출장비, 시간수당, RMA( Return Merchandise Authority) 등이 있으며, 각 A/S 상황에 따른 합계로 산출하여 금액을 청구하게 됩니다. </p>
    </li>
</ol>
<p class="title_med">
    C. 품질 보증기간</p>
<ol class="text">
    <li><span class="blueTitle">어드밴텍 품질 보증 기간은 1년 이며, 품질 보증 기간 연장은 영업 사원에게 문의하시길 바랍니다.</span><br />
<br />
</li>
  <li><span class="blueTitle">품질 보증기간은 소비자의 구입일자를 기준으로 하며, 구입일자의 확인은 구입영수증에 기준합니다. 영수증 확인이 불가능한 경우에는 당사 출고일자를 기준합니다.</span> </li><br />
      
 
<li><span class="blueTitle">품질 보증 예외사항</span>
        <p>
            ① 유료수리에 언급된 내용<br />
            ② 어드밴텍에서 생산되지 않은 제품 및 액세서리 등<br />
            ③ 휴즈, 배터리, LCD 백라이트 등과 같은 소모품
        </p>
    </li>
</ol>
<p class="text">
    더 상세한 A/S 관련 정보는 아래의 사이트를 방문하시기 바랍니다. <a href="http://support.advantech.co.kr/rma/rma.html"><span> 접수 바로가기</span></a>
</p>
