<span class=" blueTitle">隱私權條款</span>
<ul class="text">
	<li><span class="blueTitle">認知與接受條款 </span>
		<p>
			研華股份有限公司（「研華」）係依據本服務條款提供線上購物及線上註冊客戶服務(以下簡稱「本服務」)。當您使用本服務時，即表示您已閱讀、瞭解並同意接受本約定書之所有內容。</p>
		<p>
			若您為未滿十八歲，除應符合上述規定外，並應於您的家長（或監護人）閱讀、瞭解並同意本約定書之所有內容及其後修改變更後，方得使用或繼續使用本服務。當您使用或繼續使用本服務時，即表示您的家長（或監護人）已閱讀、瞭解並同意接受本約定書之所有內容及其後修改變更。 研華權於任何時間修改或變更本約定書之內容，建議您隨時注意該等修改或變更。您於任何修改或變更後繼續使用本服務時，視為您已閱讀、瞭解並同意接受該等修改或變更。如果您不同意本約定書的內容，或者您所屬的國家或地域排除本約定書內容之全部或一部時，您應立即停止使用本服務。</p>
		<p>
			使用本服務時，您可能會因此連結至其他業者經營的網站，但不表示研華與該等業者有任何關係；其他業者經營的網站均由各該業者自行負責，不屬研華控制及負責範圍之內。</p>
	</li>
	<li><span class="blueTitle">有關註冊義務 </span>
		<br />
		為了完成交易，包括付款及交貨等，所有在本服務進行線上消費的使用者，都必須擔保所留存的資料與事實相符；如果事後有變更，應該即時通知研華電子商務網站管理者。 為了能使用本服務，您同意以下事項:<br />
		1. 依本服務註冊表之提示提供您本人正確、最新及完整的資料;<br />
		2. 維持並更新您個人資料，確保其為正確、最新及完整。若您提供任何錯誤或不實資料，研華有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部。<br />
		<br />
	</li>
	<li><span class="blueTitle">隱私權條款 </span>
		<br />
		1. 對於使用者所留存的資料，研華採用安全交易模式並承諾負保密義務；除了為完成該筆交易而提供給相關商品或服務之提供廠商或配合廠商以外，不會任意洩漏或提供給第三人。<br />
		2. 在下列情況下，研華有權查看或提供使用者的個人資料給有權機關、或主張其權利受侵害： 依法令規定、或依司法機關或其他有權機關的命令；或為執行本約定條款、或使用者違反約定條款；或為維護本服務系統之正常運作及安全；或為保護研華、及其他第三人的合法權益；<br />
		3. 使用者對於其個人資料、付款資料（包含信用卡資料）及會員密碼等，應妥善保管以避免外洩。所有使用其帳號和密碼進入本系統後之行為，均視為該帳號及密碼持有人之行為。<br />
		<br />
	</li>
	<li><span class="blueTitle">會員帳號、密碼及安全</span>
		<br />
		完成本服務的登記程序之後，您將收到一個密碼及帳號。維持密碼及帳號的機密安全，是您的責任。利用該密碼及帳號所進行的一切行動，您將負完全的責任。您並同意以下事項：<br />
		(a)您的密碼或帳號遭到盜用或有其他任何安全問題發生時，您將立即通知研華.<br />
		(b)每次連線完畢，均結束您的帳號使用。<br />
		<br />
	</li>
	<li><span class="blueTitle">使用者的守法義務及承諾 </span>
		<br />
		您承諾絕不為任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。您若係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。您同意並保證不得利用本服務從事侵害他人權益或違法之行為，包括但不限於：<br />
		A. 侵害他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利；<br />
		B. 反依法律或契約所應負之保密義務；；<br />
		C. 冒用他人名義使用本服務；<br />
		D. 傳輸或散佈電腦病毒；<br />
		E. 其他研華有正當理由認為不適當之行為。
		<br />
		系統中斷或故障
		<br />
		本服務有時可能會出現中斷或故障等現象，或許將造成您使用上的不便、資料喪失、錯誤、遭人篡改或其他經濟上損失等情形。您於使用本服務時宜自行採取防護措施。研華對於您因使用（或無法使用）本服務而造成的損害，不負任何賠償責任。<br />
		<br />
	</li>
	<li><span class="blueTitle">買賣責任條款</span>
		<br />
		1. 使用者一旦在本服務進行線上消費，若遇使用者資料(如地址、電話)如有變更時，應立即上線修正其所留存之資料，且不得以資料不符為理由，否認其訂購行為或拒絕付款。所有在本服務進行的線上消費，使用者同意以研華所紀錄之電子交易資料為準，如有糾紛，並以該電子交易資料為認定標準。使用者如果發現交易資料不正確，應立即通知本服務電子商務網站管理者。本服務並保有接受您的訂定與否的權利。<br />
		2. 依照消費者保護法規定，線上購物消費者均享有商品到貨七天猶豫期之權益。但退回商品必須是全新狀態且完整包裝(保持商品、附件、包裝、廠商紙箱及所有附隨文件或資料之完整性)，影音光碟、軟體`品不得拆封，否則恕不接受退貨。
		<br />
		3. 得退貨時請先以線上客服系統填寫退訂單，依申請次日起3個工作天內我們將審核案件，通過審核後即E-mail回覆通知，並於5個工作天內電話連絡前往取回商品，敬請保持電話暢通並且原商品備妥，取件後即提供簽收單據予您留存。
		<br />
		4. 請將商品無損及完整包裝，連同配件，勿缺件，外盒勿損毀，請以廠商寄送時的包裝再原封備妥；若紙箱已遺失，請於商品外盒上再包裝 (請勿直接讓商品原廠外盒粘貼宅配單或書寫文字)，原廠外盒損毀或是商品缺件，將無法受理退貨或視損毀程度折扣退款金額。(到貨七天期限內申請，逾期未辦理將無法銷退。)<br />
		5. 收到退回商品且確認無誤後，7個工作天內退款，退款日當天會發送mail通知函。<br />
		<br />
	</li>
	<li><span class="blueTitle">免責聲明</span>
		<br />
		您明確了解並同意：在適用法律所允許的最大範圍內，研華按規格（包括其所有可能存在的錯誤）向您提供元件和必要之售後服務。研華在此就產品、元件以及通過或由於使用產品、元件而提供或未能提供支援或其他服務、信息、軟體和相關內容等方面聲明無任何其它明示、默示或法定的保證和條件，包括但不限於有關適銷性、對於特定目的的適用性、可靠性或可用性、回應的準確性或完整性、使用結果、工藝的精良、無病毒和無過失的任何（如果有）默示保證、責任或條件。另外，對產品、元件的所有權、平靜受益權、平靜佔有權、與說明一致性或非侵權性也無任何保證或條件。<br />
		<br />
	</li>
	<li><span class="blueTitle">智慧財產權的保護</span>
		<br />
		本服務所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由研華或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得研華或其他權利人的事前書面同意。尊重智慧財產權是您應盡的義務，如有違反，您應對研華負損害賠償責任（包括但不限於訴訟費用及律師費用等）。<br />
		<br />
	</li>
	<li><span class="blueTitle">準據法與管轄法院 </span>
		<br />
		本約定書之解釋與適用，以及與本約定書有關的爭議，均應依照中華民國法律予以處理，並以台灣台北地方法院為第一審管轄法院
		<br />
	</li>
</ul>
