<p class="title_med text">
    研華維修服務規範與程序 (ATSC)</p>
<ul class="text">
    <li><span class="blueTitle">目的</span>
        <p>
            研華建立下列維修規範與作業程序，以便給與客戶最好的服務品質與最短的送修時間。
        </p>
    </li>
    <li><span class="blueTitle">保固</span>
        <br />
        <br />
        <span style="font-weight: bold">1 保固期</span>
        <p>
            研華致力於給予客戶完善的售後服務與保障，除了對研華的標準產品提供1~2年不等的保固期外，還可按照客戶額外的需求提供延長保固的服務。在保固期內，研華的客戶都享有產品完善迅速的維修服務與保證。
        </p>
        <p>
            研華生產的標準產品從研華出貨日期開始計算，不同的產品在1~2年不等內享有保固的權利。對於延長保固和跨區維修服務，因設計、製程、材料所引起的產品瑕疵，在研華出貨日期後也同樣享有既定的保固期。非研華生產的產品，其產品保證與送修時間將比照製造商所提供的服務標準，基本上研華針對這些產品將不提供超過1年以上的保固服務。</p>
        <span style="font-weight: bold">2 保固內的維修服務</span>
        <p>
            購買研華產品的客戶，由研華出貨日期起算一個月內，若是開箱立即發現新品不良(DOA: Defect-on-Arrival)，研華將盡快以新的產品替換以示負責。除了BTOS (Build-To-Order Service)與客製化的產品外，一旦客戶完成交換出貨同意書(Cross-Shipment Agreement: 同意先寄送新品給客戶，瑕疵品可稍後再取回)的簽核，研華將立即進行DOA案件的新品更換動作。在確認證實之後，研華擁有權利保留是否要提供新品更換。有瑕疵的新品在送回時，務必確認沒有任何的外觀損傷、改變、刮痕或是標記，並且還要退回出貨時所有的附屬配件，否則客戶將被要求支付部份的手續費。另一方面，若新品不良是因為客戶組態設定錯誤或是使用不正確，並非硬體本身有問題，客戶也將被要求支付相關的處理費用。</p>
        <p>
            至於其他情況，研華將以維修的方式來處理故障的產品。請客戶將故障品送到研華授權的維修中心，研華維修完畢後將會盡快送回給客戶。</p>
        <span style="font-weight: bold">3 保固外的判定</span>
        <p>
            下面幾種狀況將不在保固的範圍內：<br />
            保固期期滿。<br />
            產品或是零件被更動，序號標籤被撕掉。<br />
            因客戶不正當的使用、未被授權的拆卸或修改、不良的操作環境、不恰當的維護、意外或是其他原因所引起的產品功能問題。研華保有上述情況判定的權利。<br />
            因閃電、洪水、地震等天災所造成的產品損壞。
            <br />
            非研華生產的產品和附件，其保固的判定比照原製造商所制定的標準。這類的產品和附件包括RAM、HDD、FDD、CD-ROM、CPU、FAN等等。<br />
            過保後客戶所提出的產品升級或是測試要求。
        </p>
    </li>
    <li>
        <label class="blueTitle">
            送修程序</label>
        <br />
        <br />
        <span style="font-weight: bold">1 取得RMA號碼</span>
        <br />
        <p>
            客戶的退修品必須要有研華授權的RMA(Return Merchandise Authorization: 商品退回授權)號碼。若是客戶的退修品沒有取得RMA號碼，研華將不提供此批退修品的維修服務，並以客戶的費用退回客戶寄來的維修品。研華退寄的動作將不會另行通知。
        </p>
        <p>
            每台退修品都會有一個RMA號碼，RMA號碼只是一種退修的授權，並不代表退修品一定可以維修或者是更換。若是客戶要申請RMA號碼，可以自行進入研華eRMA的首頁 http://erma.advantech.com.tw，以研華授權的帳號和密碼，登入eRMA網站，系統將會自動給與RMA號碼。</p>
        <p>
            在申請RMA號碼時，必須要填寫客戶基本資料和產品基本資訊，並且詳細描述所遭遇到的問題，盡量避免像是”無法動作”或是”有問題”等等模糊不清的字眼。沒有具體的問題描述會造成維修時不知從何開始，導致維修時間拉長，沒有詳細的複製步驟也會使得問題點很難找得出來，因而造成二次送修的情況。
        </p>
        <p>
            若是客戶對於問題的原因不是很確定，請與研華的應用工程師聯繫。有時電話中的討論，就可以在客戶退回維修品前，讓問題獲得解決。</p>
        <p>
            另一方面，若是客戶只退回損壞的關鍵零組件(Key Parts)給研華做維修，請一併提供整機的序號，以利保固期的判斷，否則研華將視為保固外的維修案件來處理。</p>
        <span style="font-weight: bold">2 送修故障品</span><br />
        <p>
            研華客戶可以將故障品退回到任何研華授權的維修中心而不需要任何的跨區服務費用，不僅節省客戶送修往返所需的時間，也可以符合客戶全球送修的需求。在跨區維修服務之前，請務必與當地的維修中心聯繫，以利事情的安排與進行。</p>
        <p>
            建議客戶在送修時勿將附屬配件(手冊，連接線等等)ㄧ同寄回，像是CPU、DRAM、CF記憶卡等等，在送修前也一併從故障品上移除。如果這些配件跟所描述的問題有關聯，而必須隨故障品退回，請務必清楚註明哪些附件包含在內，否則研華對未列舉的任何項目將不予負責。除此，請務必確認問題點有清楚詳細的被描述在Problem Description欄位內。 在寄送明細表上，請客戶將故障品的價值填上較低的金額，否則海關有可能因為送修品價值過高而徵收較多的稅，此部分超額的費用也將會由客戶自行吸收。我們強烈建議客戶在出貨的明細表上填寫”Invoice for custom purpose only with no commercial value”(明細表僅供海關參考，無任何商業價值)。同時為了加快處理時效，請將RMA號碼的明細表列印出來並放入箱子內，然後在外箱上寫下RMA號碼，並註明收件者為研華維修服務部門。
        </p>
        <p>
            在退回故障品時，請使用防靜電袋或者ESD材質將其妥善包好。如果包裝不恰當而造成運送過程有所損傷，研華保留權利以客戶的費用退回未修理的故障品。除此，建議使用門對門(door-to-door)的快遞方式來寄送故障品，若是採用空運(Air-Cargo)而造成清關費用的支出，客戶必需負擔這些額外的費用。</p>
        <p>
            如果DOA新品不良的情況發生，研華將對產品和運費負全部的責任。如果故障品是在保固內，寄送方將承擔運費。對保固外的案件來說，客戶應該負擔來回兩趟的運費。</p>
        <span style="font-weight: bold">3 維修收費</span><br />
        <br />
        研華將針對下列情況的維修酌收處理費用:<br />
        保固期期滿。<br />
        產品或是零件被更動，序號標籤被撕掉。<br />
        因客戶不正當的使用、未被授權的拆卸或修改、不良的操作環境、不恰當的維護、意外或是其他原因所引起的產品功能問題。研華保有上述情況判定的權利。
        <br />
        因閃電、洪水、地震等天災所造成的產品損壞。<br />
        非研華生產的產品和附件，其保固的判定比照原製造商所制定的標準。這類的產品和附件包括RAM、HDD、FDD、CD-ROM、CPU、FAN等等。<br />
        過保後客戶所提出的產品升級或是測試要求。<br />
        <p>
            研華維修過後的產品，在3個月內若是相同問題再次發生，研華將會負責到底，不僅提高維修等級加快維修速度，此次維修費用也將完全免費。然而這樣的情況不適用於因客戶不正當的使用、未被授權的拆卸或修改、不良的操作環境、不恰當的維護、意外或是其他原因，導致相同的問題又再次發生。</p>
        維修服務費用的計算方式如下所述：收<br />
        <br />
        (1) 保固外且有維修的動作：<br />
        <table width="100%" border="1" cellspacing="0" cellpadding="3" style="font-size: 12px">
            <tr>
                <td width="19%" rowspan="2">
                    單位(美元)
                </td>
                <td colspan="3" align="center">
                    工時費 + 材料費 + 運費
                </td>
            </tr>
            <tr>
                <td width="27%">
                    次要零組件損壞
                </td>
                <td width="27%">
                    中等零組件損壞
                </td>
                <td width="27%">
                    主要零組件損壞
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    板卡
                </td>
                <td>
                    電阻，電容，TTL IC，連接器，插座 等等
                </td>
                <td>
                    SMT晶片組，AD IC，CPLD
                </td>
                <td>
                    BGA，CPU，MCX314，PCI Bridge
                </td>
            </tr>
            <tr>
                <td>
                    <b>產品訂價x 15%</b>
                </td>
                <td>
                    <b>產品訂價x 25%</b>
                </td>
                <td>
                    <b>產品訂價 x 35%</b>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    系統
                </td>
                <td>
                    光碟機，軟碟機，T/S 控制卡，變壓器，風扇，鐵蓋，線材，螺絲
                </td>
                <td>
                    電源供應器，觸控螢幕
                </td>
                <td>
                    LCD，主機板，CPU，RAM，硬碟
                </td>
            </tr>
            <tr>
                <td>
                    <b>產品訂價x 15%</b>
                </td>
                <td>
                    <b>產品訂價x 25%</b>
                </td>
                <td>
                    <b>US$60 + 零組件訂價</b>
                </td>
            </tr>
        </table>
        <br />
        備註:板卡產品/系統產品的保固外服務收費，未滿US$30 / US$60者，一律以US$30 / US$60來收取費用。
        <br />
        <br />
        (2) 保固外且維修結果為調整/更新/NPF(No Problem Found:沒有發現問題)：<br />
        維修服務費用 = 工時費 + 運費<br />
        板卡類產品服務收費︰US$30<br />
        系統類產品服務收費︰US$60<br />
        <br />
        (3) 保固外且非研華生產製造的產品： 維修服務費用 = 手續費 + 廠商收費 + 運費<br />
        <br />
        (4)保固外報修之後卻取消維修請求： 維修服務費用 = 手續費 + 運費 板卡類產品服務收費︰US$15 系統類產品服務收費︰US$30<br />
        <br />
        (5) 客戶自行要求做產品升級或是重工：<br />
        重工服務費用 = 材料費 + 工時費 (每個小時US$30) + 運費<br />
        備註︰請與研華PM/RSM聯繫以確認重工規格的可行性 針對保固外的故障品，在維修前研華會以Performa Invoice的方式來做報價的動作。當客戶在申請費用時，請參考列在"Our Ref"下的P/I號碼。若是客戶未將已做新品更換的DOA故障品退回，或是未回簽同意保固外的維修報價，研華將保留是否提供維修服務的權利。如果客戶在3個月內都未回簽P/I，研華將不會另行知會客戶，會直接將客戶的故障品做報廢處理。<br />
        <br />
        <span style="font-weight: bold">4 送修往返時間(TAT: Turn-Around-Time)</span><br />
        <br />
        送修往返時間(TAT)的定義如下︰<br />
        TAT = 研華收到故障品的日期 ~ 研華寄出維修品的日期
        <br />
        研華生產製造的產品，其送修往返所需的時間如下列所述：：<br />
        (1) 一次送修在50片以內，TAT通常大約是5個工作天。
        <br />
        (2) 一次送修在50到100片內，TAT通常大約是7個工作天。<br />
        (3) 一次送修在100片以上，TAT通常大約是10個工作天。
        <br />
        針對非研華生產製造的產品，研華將會送到原製造商作維修。往返時間通常大約是10-15個工作天。<br />
        修往返所需的時間有可能因下列因素而耽擱：
        <br />
         客戶未在48小時內簽署寄回P/I。<br />
         應付帳款過期客戶卻尚未支付。<br />
         客戶所提供的問題描述不明確。
        <br />
         客戶自行修改研華的產品。<br />
         客戶延遲回覆或是未回覆研華所需的資訊，像是應用環境、系統組態等等。
        <br />
        <br />
        5 產品下市後的維修服務 針對產品下市後的維修服務，研華將提供從產品下市日期開始起算，多延長一段該產品的保固期來作為保修時間，繼續提供維修服務以符合客戶的需求。若是因為非預期因素而導致研華無法對保固內但已下市的故障品做維修/更換處理，研華將視情況以產品升級(無升級費用，但是延續舊產品的保固年限)或是部分退費(依所剩的保固時間來計算)來解決這類的問題。<br />
        <br />
        6 維修報告 故障品在維修完畢後，隨貨會附上維修報告一併寄回給客戶，上面會記載維修的結果與所更換的零組件。若是客戶需要進一步的維修分析報告，研華將會視產品保固狀況酌收不同的服務費用：保固內分析費用US$60，保固外分析費用US$120。若是分析結果証實問題是由研華不良的產品設計或是生產製程所造成，則維修分析所需的費用將不予收取。<br />
        <br />
        7 退修故障品的保管 在等待客戶回簽P/I或是付清應付帳款的一個月內，研華會負責保管這些退修品。在這一個月的期間內，研華將與客戶做適當的聯繫，以提醒客戶儘快回應。如果一個月後客戶未有回應或是任何動作，研華將自行將此案件結案。<br />
        <br />
        8 裝運對用戶回來 研華通常會以DHL或者快遞將維修品寄回給客戶。若是客戶有特別的需求，研華也可以依照客戶的要求採用如UPS、聯邦快遞等等來寄送維修品，然而客戶必須負擔這些額外的費用。如果客戶需要任何特別的安排，請在將故障品退回研華時事先告知。<br />
        <br />
    </li>
    <li>
        <label class="blueTitle">
            延長保固</label>
        <p>
            客戶可依需要自行購買所需的延長保固年限，最多可以在標準保固外再延長三年。研華將延長保固服務標準化，並以料號的方式呈現。這樣的模式可以讓延長保固的需求快速有效地被處理，並且獲得較好的管理。延長保固的料號是由產品總單價、購買的數量和所需要延長的時間來決定，所有延長保固料號所對應的售價將由研華維修服務部門來維護。客戶可以參考下面的圖表，依自己的需求狀況來選擇合適的延長保固料號。</p>
        <table border="1" cellspacing="0" cellpadding="3">
            <caption style="font-size: 12pt">
                延長保固料號明細表(ATSC)</caption>
            <tr style="font-size: 10pt" align="center">
                <td rowspan="2">
                    單價(美元)
                </td>
                <td colspan="3">
                    <b>延長1年</b>
                </td>
                <td colspan="3">
                    <b>延長2年</b>
                </td>
                <td colspan="3">
                    <b>延長3年</b>
                </td>
            </tr>
            <tr style="font-size: 8pt" align="center">
                <td>
                    Qty &lt; 500
                </td>
                <td>
                    500&lt;Qty&lt;1K
                </td>
                <td>
                    Qty &gt; 1K
                </td>
                <td>
                    Qty &lt; 500
                </td>
                <td>
                    500&lt;Qty&lt;1K
                </td>
                <td>
                    Qty &gt; 1K
                </td>
                <td>
                    Qty &lt; 500
                </td>
                <td>
                    500&lt;Qty&lt;1K
                </td>
                <td>
                    Qty &gt;1K
                </td>
            </tr>
            <tr>
                <td style="font-size: 9pt">
                    <b>$ &lt; 300</b>
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 151
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 191
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 1K 1
                </td>
                <td style="font-size: 7pt">
                    8CSEWT 152
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 192
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 1K 2
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 153
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 193
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 1K 3
                </td>
            </tr>
            <tr>
                <td style="font-size: 9pt">
                    <b>300 &lt; $ &lt; 1200</b>
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 451
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 491
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 4K 1
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 452
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 49
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 4K 2
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 453
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 493
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 4K 3
                </td>
            </tr>
            <tr>
                <td style="font-size: 9pt">
                    <b>1200 &lt; $ &lt; 2100</b>
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 751
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 791
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 7K 1
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 752
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 792
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 7K 2
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 753
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 793
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 7K 3
                </td>
            </tr>
            <tr>
                <td style="font-size: 9pt">
                    <b>2100 &lt; $ &lt; 3000</b>
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 951
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 991
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 9K 1
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 952
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 992
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 9K 2
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 953
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 993
                </td>
                <td style="font-size: 7pt">
                    98CSEWT 9K 3
                </td>
            </tr>
            <tr>
                <td style="font-size: 9pt">
                    <b>$ &gt; 3000</b>
                </td>
                <td style="font-size: 7pt">
                    98CSEWTH 51
                </td>
                <td style="font-size: 7pt">
                    98CSEWTH 91
                </td>
                <td style="font-size: 7pt">
                    98CSEWTHK 1
                </td>
                <td style="font-size: 7pt">
                    8CSEWTH 52
                </td>
                <td style="font-size: 7pt">
                    98CSEWTH 92
                </td>
                <td style="font-size: 7pt">
                    98CSEWTHK 2
                </td>
                <td style="font-size: 7pt">
                    98CSEWTH 53
                </td>
                <td style="font-size: 7pt">
                    98CSEWTH 93
                </td>
                <td style="font-size: 7pt">
                    98CSEWTHK 3
                </td>
            </tr>
        </table>
        <p>
            備註一:上述圖表不適用於總單價超過US$3800的案件，若是有需求，請直接與RMA部門聯繫。</p>
        <p>
            備註二:在下訂單購買產品時，請當下決定是否購買延長保固，事後的加保將不接受。延長保固將以整個訂單為主，若是客戶只想針對部分的產品做延長保固，請將訂單拆開，一張訂單為標準保固，另一張訂單為延長保固。</p>
    </li>
    <li>
        <label class="blueTitle">
            全球維修服務中心</label>
        <br />
        下列據點為研華授權的維修服務中心，提供研華客戶保固內和保固外的維修服務。若有任何需要，可以參考下面表格直接聯絡各個維修中心的經理。
        <table border="1" cellspacing="0" cellpadding="3" style="width: 585px; font-size: 10pt;">
            <tr style="font-weight: bold">
                <td>
                    地區
                </td>
                <td>
                    地點
                </td>
                <td>
                    聯絡人
                </td>
                <td>
                    電子郵件
                </td>
            </tr>
            <tr>
                <td>
                    美洲
                </td>
                <td>
                    Fremont (AASC)
                </td>
                <td>
                    Peter Tang
                </td>
                <td>
                    <a href="mailto:Peter.Tang@advantech.com">Peter.Tang@advantech.com</a>
                </td>
            </tr>
            <tr>
                <td>
                    歐洲
                </td>
                <td>
                    Eindhoven (AESC)
                </td>
                <td>
                    Rick.deVries
                </td>
                <td>
                    <a href="mailto:Rick.deVries@advantech-nl.nl">Rick.deVries@advantech-nl.nl</a>                    
                </td>
            </tr>
            <tr>
                <td>
                    華北
                </td>
                <td>
                    北京 (ACSC)
                </td>
                <td>
                    Jiang Lin 
                </td>
                <td>
                    <a href="mailto:Jiang.Lin@advantech.com.cn">Jiang.Lin@advantech.com.cn</a>   
                    
                </td>
            </tr>
            <tr>
                <td>
                    華南
                </td>
                <td>
                    深圳 (ASZ)
                </td>
                <td>
                    Xiaoxiang Li 
                </td>
                <td>
                    <a href="mailto:Xiaoxiang.Li@advantech.com.cn">Xiaoxiang.Li@advantech.com.cn</a>
                    
                </td>
            </tr>
            <tr>
              <td>華东</td>
              <td>崑山 (AKMC)</td>
              <td>Qiang Guo</td>
              <td><a href="mailto:Qiang.Guo@advantech.com.cn">Qiang.Guo@advantech.com.cn</a></td>
            </tr>
            <tr>
                <td>
                    亞太
                </td>
                <td>
                    台北 (ATSC)
                </td>
                <td>
                    Jonhan Wu
                </td>
                <td>
                    <a href="mailto:Jonhan.Wu@advantech.com.tw">Jonhan.Wu@advantech.com.tw</a>
                </td>
            </tr>
        </table>
    </li>
</ul>
