<span class="title_verybig">隐私权条款</span>
<ul class="text">
	<li><span class="blueTitle">认知与接受条款 </span>
		<br />
		研华科技依据本服务条款提供在线购物及在线注册客户服务(以下简称「本服务」)。 当您使用本服务时，即表示您已阅读、了解并同意接受本约定书之所有内容。 若您为未满十八岁，除应符合上述规定外，并应于您的家长（或监护人）阅读、了解并同意本约定书之所有内容及其后修改变更后，方得使用或继续使用本服务。 当您使用或继续使用本服务时，即表示您的家长（或监护人）已阅读、了解并同意接受本约定书之所有内容及其后修改变更。 研华保留在任何时间修改或变更本约定书内容的权利，建议您随时注意该等修改或变更。如果您不同意本约定书的内容，或者您所属的国家或地域排除本约定书内容之全部或一部时，您应立即停止使用本服务。 使用本服务时，您可能会因此连结至其它业者经营的网站，但不表示研华与该改服务商有任何关系；其它服务商经营的网站均由其自行负责，不属研华控制及负责范围之内。
		<br />
	</li>
	<li><span class="blueTitle">有关注册义务 </span>
		<br />
		为了完成交易，包括付款及交货等，所有在本服务进行在线消费的使用者，都必须担保所留存的数据与事实相符；如果事后有变更，应该实时通知研华eAPro管理员。 为了能使用本服务，您同意以下事项：<br />
		1. 依本服务注册表之提示提供您本人正确、最新及完整的数据;<br />
		2. 维护并更新您个人数据，确保其为正确、最新及完整。若您提供任何错误或不实数据，研华有权暂停或终止您的账号，并拒绝您使用本服务之部分或全部。
		<br />
	</li>
	<li><span class="blueTitle">隐私权条款</span>
		<br />
		1. 对于使用者所留存的数据，研华采用安全交易模式并承诺负保密义务；除了为完成该笔交易而提供给相关商品或服务之提供厂商或配合厂商以外，不会任意泄漏或提供给第三人。<br />
		2. 在下列情况下，研华有权查看或提供使用者的个人数据给有权机关、或主张其权利受侵害： 依法令规定、或依司法机关或其它有权机关的命令；或为执行本约定条款、或使用者违反约定条款；或为维护本服务系统之正常运作及安全；或为保护研华、及其它第三人的合法权益；<br />
		3. 使用者对于其个人数据、付款数据（包含信用卡数据）及会员密码等，应妥善保管以避免外泄。所有使用其账号和密码进入本系统后之行为，均视为该账号及密码持有人之行为。
		<br />
	</li>
	<li><span class="blueTitle">会员账号、密码及安全</span>
		<br />
		完成本服务的登记程序之后，您将收到一个密码及账号。维持密码及账号的机密安全，是您的责任。利用该密码及账号所进行的一切行动，您将负完全的责任。您并同意以下事项：<br />
		(a)您的密码或账号遭到盗用或有其它任何安全问题发生时，您将立即通知研华。<br />
		(b)每次联机完毕，均结束您的账号使用，注销网站。
		<br />
	</li>
	<li><span class="blueTitle">使用者的守法义务及承诺 </span>
		<br />
		您承诺绝不为任何非法目的或以任何非法方式使用本服务，并承诺遵守国家相关法规及一切使用因特网之国际惯例。您同意并保证不得利用本服务从事侵害他人权益或违法之行为，包括但不限于：<br />
		A. 侵害他人名誉、隐私权、营业秘密、商标权、著作权、专利权、其它智能财产权及其它权利；<br />
		B. 反依法律或契约所应负之保密义务；<br />
		C. 冒用他人名义使用本服务；<br />
		D. 传输或散布计算机病毒；<br />
		E. 其它研华有正当理由认为不适当之行为。
		<br />
		系统中断或故障
		<br />
		本服务有时可能会出现中断或故障等现象，或许将造成您使用上的不便、数据丧失、错误、遭人篡改或其它经济上损失等情形。您于使用本服务时宜自行采取防护措施。研华对于您因使用（或无法使用）本服务而造成的损害，不负任何赔偿责任。
		<br />
	</li>
	<li><span class="blueTitle">买卖责任条款</span>
		<br />
		1. 使用者一旦在本服务进行在线消费，若遇使用者数据(如地址、电话)如有变更时，应立即上线修正其所留存之数据，且不得以数据不符为理由，否认其订购行为或拒绝付款。所有在本服务进行的在线消费，使用者同意以研华所纪录之电子交易数据为准，如有纠纷，并以该电子交易数据为认定标准。使用者如果发现交易数据不正确，应立即通知本服务电子商务网站管理者。本服务并保有接受您的订定与否的权利。<br />
		2. 依照消费者保护法规定，在线购物消费者均享有商品到货七天验货期之权益。但退回商品必须是全新状态且完整包装(保持商品、发票、附件、包装、厂商纸箱及所有附随文件或数据之完整性)，光盘、软件不得拆封，否则恕不接受退货。
		<br />
		3. 得退货时请先以在线客服系统填写退订单，依申请次日起3个工作天内我们将审核案件，通过审核后即E-mail回复通知，并于5个工作天内电话连络前往取回商品，敬请保持电话畅通并且原商品备妥，取件后即提供签收单据予您留存。
		<br />
		4. 请将商品无损及完整包装，连同配件，勿缺件，外盒勿损毁，请勿在产品上粘贴任何标记请以厂商寄送时的包装再原封备妥；原厂外盒损毁或是商品缺件，将无法受理退货或视损毁程度折扣退款金额。(到货七天期限内申请，逾期未办理将无法销退。)<br />
		5. 收到退回商品且确认无误后，15个工作天内退款，退款日当天会发送邮件通知函。
		<br />
	</li>
	<li><span class="blueTitle">免责声明</span>
		<br />
		您明确了解并同意：在适用法律所允许的最大范围内，研华按规格向您提供组件和必要之售后服务。研华在此就产品、组件以及通过或由于使用产品、组件而提供或未能提供支持或其它服务、信息、软件和相关内容等方面声明无任何其它明示、 默示或法定的保证和条件，包括但不限于有关适销性、对于特定目的的适用性、可靠性或可用性、响应的准确性或完整性、使用结果、工艺的精良、无病毒和无过失的任何（如果有）默示保证、责任或条件。另外，对产品、组件的所有权、平静受益权、平静占有权、与说明一致性或非侵权性也无任何保证或条件。
		<br />
	</li>
	<li><span class="blueTitle">知识产权的保护</span>
		<br />
		本服务所使用之软件或程序、网站上所有内容，包括但不限于著作、图片、档案、信息、数据、网站架构、网站画面的安排、网页设计，均由研华或其它权利人依法拥有其智能财产权， 包括但不限于商标权、专利权、著作权、营业秘密与专有技术等。任何人不得径自使用、修改、重制、公开播送、改作、散布、发行、公开发表、进行还原工程、解编或反向组译。若您欲引用或转载前述软件、程序或网站内容，必须依法取得研华或其它权利人的事前书面同意。尊重智慧财产权是您应尽的义务，如有违反，您应对研华负损害赔偿责任（包括但不限于诉讼费用及律师费用等）。
		<br />
	</li>
	<li><span class="blueTitle">准据法与管辖法院</span>
		<br />
		本约定书之解释与适用，以及与本约定书有关的争议，均应依照中华人民共和国法律予以处理。
		<br />
	</li>
</ul>
