<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Advantech Online Quotation Information</title>
    <link href="../pdf.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <!--splitflag-->
        <table class="title">
            <tr class="quotationTitle">
                <td colspan="3">
                    ADVANTECH&nbsp;&nbsp;报价单<br />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                    公司：研华（中国）公司</td>
                <td class="customerAddressTitle">
                    报价单编号：</td>
                <td class="customerAddressValue">
                    [/QuoteNO]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                    地址：[/SalesPersonCompanyAddress]</td>
                <td class="customerAddressTitle">
                    订单日期：</td>
                <td class="customerAddressValue">
                    [/QuoteDate]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                    邮编：[/SalesPersonZipCode]</td>
                <td class="customerAddressTitle">
                    订单有效期限：</td>
                <td class="customerAddressValue">
                    [/QUOTEEXPDATE]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                    电话：[/SalesPersonPhone] 传真：[/SalesPersonFaxNO]</td>
                <td class="customerAddressTitle">
                    销售人员：</td>
                <td class="customerAddressValue">
                    [/SalesPerson]
                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                    网址：Buy.advantech.com.cn
                </td>
                <td class="customerAddressTitle">
                                        版本：</td>
                <td class="customerAddressValue">
                    [/Version ]
                </td>
            </tr>
        </table>
        <br />
        <!--splitflag-->
        <table>
            <tr>
                <td rowspan="6" valign="top" class="customerAddressTitle title">
                    账单信息：</td>
                <td>
                    [/SOLDTOCOMPANYNAME]
                </td>
                <td rowspan="6" valign="top" class="customerAddressTitle title">
                    收货信息：</td>
                <td>
                    [/SHIPTOCOMPANYNAME]
                </td>
            </tr>
            <tr>
                <td class="customerAddressValue">
                                        [/SOLDTOATTENTION]
                </td>
                <td class="customerAddressValue">
                    [/SHIPTOATTENTION]
                </td>
            </tr>
            <tr>
                <td>
                    [/SOLDTOADDRESS]
                </td>
                <td>
                    [/SHIPTOADDRESS]
                </td>
            </tr>
            <tr>
                <td>
                    [/SOLDTOSTATE]
                </td>
                <td>
                    [/SHIPTOSTATE]
                </td>
            </tr>
            <tr>
                <td>
                    电话:[/SOLDTOPHONE]
                </td>
                <td>
                    电话:[/SHIPTOPHONE]
                </td>
            </tr>
            <tr>
                <td>
                    传真:[/SOLDTOFAX]
                </td>
                <td>
                    传真:[/SHIPTOFAX]
                </td>
            </tr>
        </table>
        <br />
        <!--splitflag-->
        <table>
            <tr>
                <th class="line">
                    编号
                </th>
                <th class="temnumber">
                    产品名称</th>
                <th class="description">
                    产品描述</th>
                <th class="quantity">
                    单价</th>
                <th class="price">
                    数量</th>
                <th class="extendedprice">
                    小计
                </th>
                <th class="itemspace">
                    &nbsp;
                </th>
            </tr>
        </table>
        <!--splitflag-->
        <table>
            [/QUOTECONTENT]
            <tr>
                <td class="line">
                </td>
                <td class="temnumber">
                </td>
                <td class="description">
                </td>
                <td class="quantity">
                </td>
                <td class="price textUnderline">
                    小计
                </td>
                <td class="extendedprice textUnderline">
                    [/SUBTOTAL]
                </td>
                <td class="itemspace">
                    &nbsp;
                </td>
            </tr>
        </table>
        <br />
        <table style="page-break-inside: avoid;">
            <tr>
                <td colspan="5">
                    &nbsp;
                </td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="style2 title">
                    感谢您对我们产品的关注！</td>
                <td class="style3">
                </td>
                <td>
                    &nbsp;
                </td>
                <td class="rightAlign title">
                    &nbsp;</td>
                <td class="rightAlign title">
                    &nbsp;</td>
                <td class="rightAlign title">
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="style2">
                </td>
                <td class="style3">
                </td>
                <td>
                    &nbsp;
                </td>
                <td class="rightAlign title">
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="style2">
                </td>
                <td class="style3">
                </td>
                <td>
                    &nbsp;
                </td>
                <td class="rightAlign textUnderline  title">
                    总计（含17%税）</td>
                <td class="rightAlign textUnderline  title">
                    [/TATAL]
                </td>
                <td class="rightAlign textUnderline  title">
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
            </tr>
        
            <tr>
                <td>
                    &nbsp;
                </td>
                <td colspan="4" class="title">
                    &nbsp;
                </td>
                <td class="title">
                    &nbsp;</td>
            </tr>

            <tr>
                <th>
                </th>
                <td align='center' class="style3 title">
                    X
                </td>
                <th>
                    &nbsp;
                </th>
                <th colspan="2">
                </th>
                <th>
                    &nbsp;</th>
            </tr>
            <tr>
                <td class="title">
                    [/SalesPerson]
                </td>
                <td class="style3">
                    &nbsp;
                </td>
                <td class="style2 title " colspan="3">
                    签字&nbsp;：</td>
                <td class="style2 title ">
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="title">
                    [/SalesPersonEmail]
                </td>
                <td class="style3">
                    &nbsp;
                </td>
                <td class="style2" colspan="3">
                    &nbsp;
                </td>
                <td class="style2">
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="title">
                    [/SalesPersonPhone]
                </td>
                <td class="style3">
                    &nbsp;
                </td>
                <td class="style2" colspan="3">
                    &nbsp;
                </td>
                <td class="style2">
                    &nbsp;</td>
            </tr>
        </table>
        <!--splitflag-->
    </div>
</body>
</html>
