    我们保证:<br /> 
    我们出售的商品是研华正版商品，与您与研华及经销商选购商品时享受同样的质量保证， 对有质量保证书的商品按照保证书的承诺执行。外购品将在网站上作特殊说明。

    <br />
    <br />
   <!-- <h3 class="blueTitle">客户为何要通过 Advantech's eStore 购买产品 </h3>-->
    <ul>
        <li>
            <label class="blueTitle">退货：</label>
            <br />
            （1） 在顾客收到商品7天之内发现：所订购产品出现：缺件、开焊、明显质量问题 <br />
            （2）  商品在配送过程中产生污迹或与您购买或期望不符时您务必当场拒收，如接受将认为您认可产品状况。
 
            <br />
        </li>
        <li>
            <label class="blueTitle">换 货：在顾客收到货物1个月之内发现</label> 
            <br />
            （1）  收到产品与订购产品不符，出现型号、颜色、质量等差别；<br />
            （2）  运输途中出现的损坏

            <br />
        </li>
        <li>
            <label class="blueTitle">退换货原则：</label>
            <br />
            请顾客仔细阅读产品描述及使用手册，研华标准产品保质期都在1-2年左右，进货周期间隔2月。如无质量问题，一律不予退换。因页面上产品的图片为扫描或拍照制成，如发生实物与网页介绍稍有不符，请以实物为准。<br/><br/>

            请您在收到货物时，仔细按照送货单检查验收商品，商品短少、缺失、破损，请当场验收指出，我们将免费重新配送，过后不予受理。<br /><br />
            1、您发现商品有质量问题要在退换货有效时间内及时和客户服务中心联系。<br /><br />

            2、我们保证我们售出的产品都是通过正规进货渠道购进的正版商品，与亲临商场选购的
               商品享受同样的质量保证。含有质量保证书的商品按照保证书的承诺执行。其它商品按国
                家有关规定执行。请在收到货物时,请仔细检查货品与送货单的商品是否一致,如商品缺少
             配送有误、包装破损等问题,请当面及时向配送人员提出, 由配送人员负责与研华客服中
             心联系为您处理,事后不受理此类问题;建议贵重物品请您务必打开外包装检查。<br />
                       <br />

            3、我们只提供一次免费上门退换货. 请您在检查完全部商品后在有效时间内与我们联系
             并备好商品以及发货单以备检验. <br /><br />

            4、由于顾客自身的原因（比如订购前未看清内容简介、重复订单等非质量问题）产生的
            退货请顾客在与客服中心联系后自行上本公司来退. 要求如下：<br />
            （1）收到商品1周之内（以签收日期为准）<br />
            （2）内外包装、商品本身完好无损<br />
            （3）带上发货单和发票原件.<br /><br />

            5、具体解释：<br />
            （1）如果出现操作问题，请您先与生产厂家联系，以避免因操作不当或系<br />
            统配置原因而误以为是质量问题。因为这样即使更换同样问题还会产生，无法解决问题。<br />
            （2）软件原则上不予退货<br />
            （3）使用过程中需要维修，请参照维修原则。


            <br />
        </li>
    </ul>