<p class="title_med text">
    研华全球维修服务规范与程序</p>
<h3 class="blueTitle">
</h3>
<ul class="text">
    <li><span class="blueTitle">目的</span>
        <p>
            研华建立下列维修规范与作业程序，以便给与客户最好的服务质量与最短的送修时间。
        </p>
    </li>
    <li><span class="blueTitle">保固</span>
        <p>
            <span style="font-weight: bold">1 保固期 </span>
            <br />
            研华致力于给予客户完善的售后服务与保障，除了对研华的标准产品提供1~2年不等的保固期外，还可按照客户额外的需求提供延长保固的服务。在保固期内，研华的客户都享有产品完善迅速的维修服务与保证。 研华生产的标准产品从研华出货日期开始计算，不同的产品在1~2年不等内享有保固的权利。对于延长保固和跨区维修服务，因设计、制程、材料所引起的产品瑕疵，在研华出货日期后也同样享有既定的保固期。非研华生产的产品，其产品保证与送修时间将比照制造商所提供的服务标准，基本上研华针对这些产品将不提供超过1年以上的保固服务。
        </p>
        <p>
            <span style="font-weight: bold">2 保固内的维修服务 </span>
            <br />
            购买研华产品的客户，由研华出货日期起算一个月内，若是开箱立即发现新品不良(DOA: Defect-on-Arrival)，研华将尽快以新的产品替换以示负责。除了BTOS (Build-To-Order Service)与客制化的产品外，一旦客户完成交换出货同意书(Cross-Shipment Agreement: 同意先寄送新品给客户，瑕疵品可稍后再取回)的签核，研华将立即进行DOA案件的新品更换动作。在确认证实之后，研华拥有权利保留是否要提供新品更换。有瑕疵的新品在送回时，务必确认没有任何的外观损伤、改变、刮痕或是标记，并且还要退回出货时所有的附属配件，否则客户将被要求支付部份的手续费。另一方面，若新品不良是因为客户组态设定错误或是使用不正确，并非硬件本身有问题，客户也将被要求支付相关的处理费用。 至于其它情况，研华将以维修的方式来处理故障的产品。请客户将故障品送到研华授权的维修中心，研华维修完毕后将会尽快送回给客户。
        </p>
        <p>
            <span style="font-weight: bold">3 保固外的判定</span><br />
            下面几种状况将不在保固的范围内：<br />
            保固期期满。<br />
            产品或是零件被更动，序号标签被撕掉。<br />
            因客户不正当的使用、未被授权的拆卸或修改、不良的操作环境、不恰当的维护、意外或是其它原因所引起的产品功能问题。研华保有上述情况判定的权利。<br />
            因闪电、洪水、地震等天灾所造成的产品损坏。
            <br />
            非研华生产的产品和附件，其保固的判定比照原制造商所制定的标准。这类的产品和附件包括RAM、HDD、FDD、CD-ROM、CPU、FAN等等。<br />
            过保后客户所提出的产品升级或是测试要求.
        </p>
    </li>
    <li><span class="blueTitle">送修程序</span>
        <p>
            <span style="font-weight: bold">1 取得RMA号码 </span>
            <br />
            客户的退修品必须要有研华授权的RMA(Return Merchandise Authorization: 商品退回授权)号码。若是客户的退修品没有取得RMA号码，研华将不提供此批退修品的维修服务，并以客户的费用退回客户寄来的维修品。研华退寄的动作将不会另行通知。 每台退修品都会有一个RMA号码，RMA号码只是一种退修的授权，并不代表退修品一定可以维修或者是更换。若是客户要申请RMA号码，可以自行进入研华eRMA的首页 http://erma.advantech.com.tw，以研华授权的账号和密码，登入eRMA网站，系统将会自动给与RMA号码。 在申请RMA号码时，必须要填写客户基本数据和产品基本信息，并且详细描述所遭遇到的问题，尽量避免像是”无法动作”或是”有问题”等等模糊不清的字眼。没有具体的问题描述会造成维修时不知从何开始，导致维修时间拉长，没有详细的复制步骤也会使得问题点很难找得出来，因而造成二次送修的情况。 若是客户对于问题的原因不是很确定，请与研华的应用工程师联系。有时电话中的讨论，就可以在客户退回维修品前，让问题获得解决。 另一方面，若是客户只退回损坏的关键零组件(Key Parts)给研华做维修，请于Problem Description处载明整机序号，以利保固期的判断，否则研华将视为保固外的维修案件来处理。
        </p>
        <p>
            <span style="font-weight: bold">2 送修故障品 </span>
            <br />
            研华客户可以将故障品退回到任何研华授权的维修中心而不需要任何的跨区服务费用，不仅节省客户送修往返所需的时间，也可以符合客户全球送修的需求。在跨区维修服务之前，请务必与当地的维修中心联系，以利事情的安排与进行。 建议客户在送修时勿将附属配件(手册，连接线等等)ㄧ同寄回，像是CPU、DRAM、CF记忆卡等等，在送修前也一并从故障品上移除。如果这些配件跟所描述的问题有关联，而必须随故障品退回，请务必于eRMA清楚注明哪些附件包含在内，否则研华对未列举的任何项目将不予负责。除此，请务必确认问题点有清楚详细的被描述在Problem Description字段内。 在寄送明细表上，请客户将故障品的价值填上较低的金额，否则海关有可能因为送修品价值过高而征收较多的税，此部分超额的费用也将会由客户自行吸收。我们强烈建议客户在出货的明细表上填写”Invoice for custom purpose only with no commercial value”(明细表仅供海关参考，无任何商业价值)。同时为了加快处理时效，请将RMA号码的明细表打印出来并放入箱子内，然后在外箱上写下RMA号码，并注明收件者为研华维修服务部门。 在退回故障品时，请使用防静电袋或者ESD材质将其妥善包好。如果包装不恰当而造成运送过程有所损伤，研华保留权利以客户的费用退回未修理的故障品。除此，建议使用门对门(door-to-door)的快递方式来寄送故障品，若是采用空运(Air-Cargo)而造成清关费用的支出，客户必需负担这些额外的费用。 如果DOA新品不良的情况发生，研华将对产品和运费负全部的责任。如果故障品是在保固内，寄送方将承担运费。对保固外的案件来说，客户应该负担来回两趟的运费。</p>
        <p>
            <span style="font-weight: bold">3 维修收费</span>
            <br />
            研华将针对下列情况的维修酌收处理费用:<br />
            保固期期满。<br />
            产品或是零件被更动，序号标签被撕掉。<br />
            因客户不正当的使用、未被授权的拆卸或修改、不良的操作环境、不恰当的维护、意外或是其它原因所引起的产品功能问题。研华保有上述情况判定的权利。
            <br />
            因闪电、洪水、地震等天灾所造成的产品损坏。
            <br />
            非研华生产的产品和附件，其保固的判定比照原制造商所制定的标准。这类的产品和附件包括RAM、HDD、FDD、CD-ROM、CPU、FAN等等。<br />
            过保后客户所提出的产品升级或是测试要求。<br />
            研华维修过后的产品，在3个月内若是相同问题再次发生，研华将会负责到底，不仅提高维修等级加快维修速度，此次维修费用也将完全免费。然而这样的情况不适用于因客户不正当的使用、未被授权的拆卸或修改、不良的操作环境、不恰当的维护、意外或是其它原因，导致相同的问题又再次发生。<br />
            维修服务费用的计算方式如下所述：</p>
        <table border="1" style="font-size: 10pt">
            <tr>
                <td rowspan="7" style="font-weight: bold">
                    ATSC
                </td>
                <td rowspan="2" style="font-weight: bold">
                    种类
                </td>
                <td style="font-weight: bold">
                    包括材料费/包括材料费/包括材料费
                </td>
                <td>
                    中等零组件损坏
                </td>
                <td>
                    主要零组件损坏
                </td>
            </tr>
            <tr>
                <td>
                    电阻，电容，TTL IC，连接器，插座 等等
                </td>
                <td>
                    SMT芯片组，AD IC，CPLD
                </td>
                <td>
                    BGA, CPU, MCX314, PCI Bridge
                </td>
            </tr>
            <tr>
                <td>
                    板卡
                </td>
                <td style="font-weight: bold">
                    产品售价 x 15%
                </td>
                <td style="font-weight: bold">
                    产品售价 x 25%
                </td>
                <td style="font-weight: bold">
                    产品售价 x 35%
                </td>
            </tr>
            <tr>
                <td>
                    系统
                </td>
                <td colspan="3" style="font-weight: bold">
                    US$60 + 材料费
                </td>
            </tr>
            <tr>
                <td>
                    NPF/调整/更新BIO
                </td>
                <td colspan="3" style="font-weight: bold">
                    <div style="float: left">
                        板卡: US$30, 系统: US$60 (handling charge)</div>
                    <div style="float: right">
                        *NPF: 未发现任何问题点</div>
                </td>
            </tr>
            <tr>
                <td>
                    重工
                </td>
                <td colspan="3" style="font-weight: bold">
                    <div style="float: left">
                        材料费 + 工时费( US$30 每小时) + 运费</div>
                    <div style="float: right">
                        *针对客户提出特殊之重工需求</div>
                </td>
            </tr>
            <tr>
                <td>
                    非研华生产制造的产品
                </td>
                <td colspan="3" style="font-weight: bold">
                    板卡: US$30+厂商收费, 系统: US$60+厂商收费
                </td>
            </tr>
            <tr>
                <td rowspan="4" style="font-weight: bold">
                    AASC
                </td>
                <td>
                    板卡
                </td>
                <td colspan="3" style="font-weight: bold">
                    US$105 + 运费
                </td>
            </tr>
            <tr>
                <td>
                    系统
                </td>
                <td colspan="3" style="font-weight: bold">
                    材料费 + 工时费( US$90 每小时) + 运费
                </td>
            </tr>
            <tr>
                <td>
                    重工
                </td>
                <td colspan="3" style="font-weight: bold">
                    <div style="float: left">
                        材料费 + 工时费( US$60 每小时) + 运费</div>
                    <div style="float: right">
                        *针对客户提出特殊之重工需求</div>
                </td>
            </tr>
            <tr>
                <td>
                    非研华生产制造的产品
                </td>
                <td colspan="3" style="font-weight: bold">
                    厂商收费 x ( 1 + 10% handling charge )
                </td>
            </tr>
            <tr>
                <td rowspan="4" style="font-weight: bold">
                    APSC
                </td>
                <td>
                    板卡
                </td>
                <td colspan="3" style="font-weight: bold">
                    Eur€85 + 运费
                </td>
            </tr>
            <tr>
                <td>
                    系统
                </td>
                <td colspan="3" style="font-weight: bold">
                    材料费 + 工时费( Eur€75 每小时) + 运费
                </td>
            </tr>
            <tr>
                <td>
                    重工
                </td>
                <td colspan="3" style="font-weight: bold">
                    <div style="float: left">
                        材料费 + 工时费( Eur€50 每小时) + 运费</div>
                    <div style="float: right">
                        *针对客户提出特殊之重工需求</div>
                </td>
            </tr>
            <tr>
                <td>
                    非研华生产制造的产品
                </td>
                <td colspan="3" style="font-weight: bold">
                    厂商收费 x ( 1 + 5% handling charge )
                </td>
            </tr>
            <tr>
                <td rowspan="4" style="font-weight: bold">
                    ACSC<br />
                    AKMC
                </td>
                <td>
                    板卡
                </td>
                <td colspan="3" style="font-weight: bold">
                    材料费 + 工时费( RMB 125 每小时) + 运费
                </td>
            </tr>
            <tr>
                <td>
                    系统
                </td>
                <td colspan="3" style="font-weight: bold">
                    材料费 + 工时费( RMB 125 每小时) + 运费
                </td>
            </tr>
            <tr>
                <td>
                    重工
                </td>
                <td colspan="3" style="font-weight: bold">
                    <div style="float: left">
                        材料费 + 工时费( RMB 50 每小时)</div>
                    <div style="float: right">
                        *针对客户提出特殊之重工需求</div>
                </td>
            </tr>
            <tr>
                <td>
                    非研华生产制造的产品
                </td>
                <td colspan="3" style="font-weight: bold">
                    厂商收费 x ( 1 + 5% handling charge )
                </td>
            </tr>
        </table>
        <br />
        备注:<br />
        (1)板卡产品/系统产品的保固外服务收费，未满US$30 / US$60者，一律以US$30 / US$60来收取费用.
        <br />
        <br />
        (2) 保固外且维修结果为调整/更新/NPF(No Problem Found:没有发现问题)：<br />
        维修服务费用 = 工时费 + 运费 板卡类产品服务收费:US$30<br />
        系统类产品服务收费:US$60<br />
        <br />
        (3) 保固外且非研华生产制造的产品： 板卡类产品服务收费︰US$30 +厂商收费 系统类产品服务收费︰US$60 +厂商收费系统类产品服务收费:US$60 +厂商收费<br />
        <br />
        (4) 保固外报修之后却取消维修请求： 维修服务费用 = 手续费 + 运费 板卡类产品服务收费︰US$15 运费板卡类产品服务收费:US$15 系统类产品服务收费:US$30<br />
        <br />
        (5) 客户自行要求做产品升级或是重工：<br />
        重工服务费用 = 材料费 + 工时费 (每个小时US$30) + 运费<br />
        备注:请与研华PM/RSM联系以确认重工规格的可行性 针对保固外的系统类故障品，在维修前研华会以提供报价单的方式来做报价的动作。当客户在申请费用时，请参考Quotation号码。若是客户未将已做新品更换的DOA故障品退回，或是未回签同意保固外的维修报价，研华将保留是否提供维修服务的权利。如果客户在三个月内都未回签报价单，研华将不会另行知会客户，会直接将客户的故障品做报废处理。<br />
        <br />
        <span style="font-weight: bold">4 送修往返时间(TAT: Turn-Around-Time)</span>
        <br />
        送修往返时间(TAT)的定义如下:<br />
        TAT = 研华收到故障品的日期 ~ 研华寄出维修品的日期
        <br />
        研华生产制造的产品，其送修往返所需的时间如下列所述：<br />
        (1) 一次送修在50片以内，TAT通常大约是5个工作天。
        <br />
        (2) 一次送修在50到100片内，TAT通常大约是7个工作天。<br />
        (3) 一次送修在100片以上，TAT通常大约是10个工作天。
        <br />
        针对非研华生产制造的产品，研华将会送到原制造商作维修。往返时间通常大约是10-15个工作天。<br />
        送修往返所需的时间有可能因下列因素而耽搁：
        <br />
         客户未在48小时内签署寄回报价单。
        <br />
         应付帐款过期客户却尚未支付。
        <br />
         客户所提供的问题描述不明确。<br />
         客户自行修改研华的产品。<br />
         客户延迟回复或是未回复研华所需的信息，像是应用环境、系统组态等等。<br />
        <br />
        <span style="font-weight: bold">5 产品下市后的维修服务 </span>
        <br />
        针对产品下市后的维修服务，研华将提供从产品下市日期开始起算，多延长一段该产品的保固期来作为保修时间，继续提供维修服务以符合客户的需求。若是因为非预期因素而导致研华无法对保固内但已下市的故障品做维修/更换处理，研华将视情况以产品升级(无升级费用，但是延续旧产品的保固年限)或是部分退费(依所剩的保固时间来计算)来解决这类的问题。<br />
        <br />
        <span style="font-weight: bold">6 维修报告</span>
        <br />
        故障品在维修完毕后，随货会附上维修报告一并寄回给客户，上面会记载维修的结果与所更换的零组件。若是客户需要进一步的维修分析报告，研华将会视产品保固状况酌收不同的服务费用：保固内分析费用US$60，保固外分析费用US$120。若是分析结果证实问题是由研华不良的产品设计或是生产制程所造成，则维修分析所需的费用将不予收取。<br />
        <br />
        <span style="font-weight: bold">7 退修故障品的保管 </span>
        <br />
        在等待客户回签P/I或是付清应付帐款的一个月内，研华会负责保管这些退修品。在这一个月的期间内，研华将与客户做适当的联系，以提醒客户尽快响应。如果一个月后客户未有响应或是任何动作，研华将自行将此案件结案。<br />
        <br />
        <span style="font-weight: bold">8 装运对用户回来</span><br />
        研华通常会以DHL或者快递将维修品寄回给客户。若是客户有特别的需求，研华也可以依照客户的要求采用如UPS、联邦快递等等来寄送维修品，然而客户必须负担这些额外的费用。如果客户需要任何特别的安排，请在将故障品退回研华时事先告知。<br />
        <br />
    </li>
    <li><span class="blueTitle">全球维修服务中心</span>
        <br />
        <br />
        下列据点为研华授权的维修服务中心，提供研华客户保固内和保固外的维修服务。若有任何需要，可与下面各维修中心的经理联络
        <table border="1" style="width: 585px; font-size: 10pt;">
            <tr style="font-weight: bold">
                <td>
                    地区
                </td>
                <td>
                    地点
                </td>
                <td>
                    联络人
                </td>
                <td>
                    电子邮箱地址
                </td>
            </tr>
            <tr>
                <td>
                    美洲
                </td>
                <td>
                    Milpitas (AASC)
                </td>
                <td>
                    Peter Tang
                </td>
                <td>
                    <a href="mailto:Peter.Tang@advantech.com">Peter.Tang@advantech.com</a>
                </td>
            </tr>
            <tr>
                <td>
                    欧洲
                </td>
                <td>
                    波兰(APSC)
                </td>
                <td>
                    Michal.Sadowski
                </td>
                <td>
                    <a href="mailto:Michal.Sadowski@advantech.com">Michal.Sadowski@advantech.com</a>
                </td>
            </tr>
            <tr>
                <td>
                    华北
                </td>
                <td>
                    北京 (ACSC)
                </td>
                <td>
                    Jiang Lin
                </td>
                <td>
                    <a href="mailto:Jiang.Lin@advantech.com.cn">Jiang.Lin@advantech.com.cn</a>
                </td>
            </tr>
            <tr>
                <td>
                    华南
                </td>
                <td>
                    昆山 (AKMC)
                </td>
                <td>
                    Qiang Guo
                </td>
                <td>
                    <a href="mailto:Qiang.Quo@advantech.com.cn">Qiang.Quo@advantech.com.cn</a>
                </td>
            </tr>
            <tr>
                <td>
                    亚太
                </td>
                <td>
                    台北 (ATSC)
                </td>
                <td>
                    Jennifer Lin
                </td>
                <td>
                    <a href="mailto:Jennifer.Lin@advantech.com.tw">Jennifer.Lin@advantech.com.tw</a>
                </td>
            </tr>
        </table>
        <br />
    </li>
    <li><span class="blueLabel">服务型产品</span>
        <br />
        研华针对客户的不同需求，提供了以下列服务型产品。若有任何需要，可以参考下面表格及细节部份，或联络各维修中心的经理。
        <br />
        <table border="1" style="font-weight: bold; font-size: 10pt; text-align: center;" width="100%">
            <tr>
                <td style="text-align: left">
                    服务型产品
                </td>
                <td width="80px">
                    AASC
                </td>
                <td width="80px">
                    ACSC
                </td>
                <td width="80px">
                    APSC
                </td>
                <td width="80px">
                    AKMC
                </td>
                <td width="80px">
                    ATSC
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                    到场服务
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    V
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    V
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                    延长保固服务
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                    维修技术训练服务
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    V
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    V
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                    全球物流服务
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                    不良原因分析服务
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    V
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                    维护合约
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    V
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    V
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                    升级服务
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                    快速换货服务
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                    固定收费维修服务
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
                <td>
                    V
                </td>
            </tr>
        </table>
        <br />
        到场维修服务<br />
        客户可依需要自行购买所需的到场服务保固年限，含标准保固最多三年。研华将到场服务标准化，并以料号的方式呈现如下。这样的模式可以让到场服务的需求快速有效地被处理，并且获得较好的管理。<br />
        <table border="1" style="font-size: 10pt; font-family: 宋体">
            <tr>
                <td>
                    售价等级
                </td>
                <td colspan="2">
                    单台售价 ≤ NT 50K
                </td>
                <td colspan="2">
                    NT50K~100K
                </td>
                <td colspan="2">
                    单台售价 ≥ NT100K
                </td>
            </tr>
            <tr>
                <td>
                    服务种类
                </td>
                <td>
                    料号
                </td>
                <td>
                    价格
                </td>
                <td>
                    料号
                </td>
                <td>
                    价格
                </td>
                <td>
                    料号
                </td>
                <td>
                    价格
                </td>
            </tr>
            <tr>
                <td style="color: #0000FF">
                    5x8/隔工作日到场服务第一年
                </td>
                <td style="color: #FF0000">
                    AGS-OS-L51
                </td>
                <td>
                    NT 2000
                </td>
                <td style="color: #FF0000">
                    AGS-OS-M51
                </td>
                <td>
                    NT 4000
                </td>
                <td style="color: #FF0000">
                    AGS-OS-H51
                </td>
                <td>
                    NT 6000
                </td>
            </tr>
            <tr>
                <td style="color: #0000FF">
                    5x8/隔工作日到场服务二年(一次购买二年)
                </td>
                <td style="color: #FF0000">
                    AGS-OS-L52
                </td>
                <td>
                    NT 4800
                </td>
                <td style="color: #FF0000">
                    AGS-OS-M52
                </td>
                <td>
                    NT 9600
                </td>
                <td style="color: #FF0000">
                    AGS-OS-H52
                </td>
                <td>
                    NT 14400
                </td>
            </tr>
            <tr>
                <td style="color: #0000FF">
                    5x8/隔工作日到场服务三年(一次购买三年)
                </td>
                <td style="color: #FF0000">
                    AGS-OS-L53
                </td>
                <td>
                    NT 8000
                </td>
                <td style="color: #FF0000">
                    AGS-OS-M53
                </td>
                <td>
                    NT 16000
                </td>
                <td style="color: #FF0000">
                    AGS-OS-H53
                </td>
                <td>
                    NT 24000
                </td>
            </tr>
            <tr>
                <td style="color: #0000FF">
                    专案(旧机加买)<br />
                    5x8/隔工作日到场服务一年
                </td>
                <td style="color: #FF0000">
                    AGS-OS-OA1
                </td>
                <td colspan="5">
                    由客服中心另外报价
                </td>
            </tr>
            <tr>
                <td style="color: #0000FF">
                    专案(旧机加买)7X24X4到场服务一年
                </td>
                <td style="color: #FF0000">
                    AGS-OS-0C1
                </td>
                <td colspan="5">
                    由客服中心另外报价
                </td>
            </tr>
            <tr>
                <td>
                    计件(单机)到场服务<br />
                    (10km≥)
                </td>
                <td style="color: #FF0000">
                    AGS-OS-NS
                </td>
                <td>
                    NT 2500 元/次
                </td>
                <td colspan="4">
                    <ol type="1">
                        <li>不含零件费用</li><li>以单机计算,如有多台或是非上班时间到场服务时,则需视情形由客服中心另外报价,该案件处理完工后,7个工作天内,如有相同问题,则将免费(不包括零件费)再次前往处理.</li></ol>
                </td>
            </tr>
        </table>
        <br />
        备注一:以上只限BTOS组装之整机部份.<br />
        备注二:服务地区限台湾本岛,以上所有价格皆未含税<br />
        备注三︰研华公司受理报修及到场服务的时间皆为正常上班时间，上午9时至下午5时<br />
        延长保固服务 客户可依需要自行购买所需的延长保固年限，最多可以在标准保固外再延长三年。研华将 延长保固服务标准化，并以料号的方式呈现。这样的模式可以让延长保固的需求快速有效 地被处理，并且获得较好的管理。所有延长保固料号所对应的售价将由研华维修服务部门 来维护。客户可以参考下面的图表，依自己的需求状况来选择合适的延长保固料号。<br />
        <table style="font-size: 10pt">
            <tr>
                <td style="width: 100px">
                    P/N
                </td>
                <td style="width: 100px">
                    Description
                </td>
                <td style="width: 100px">
                    Markup
                </td>
            </tr>
            <tr>
                <td style="color: #FF0000">
                    AGS-EW-03
                </td>
                <td style="color: #0000FF;">
                    延长保固 3 个月
                </td>
                <td>
                    1.25%
                </td>
            </tr>
            <tr>
                <td style="color: #FF0000;">
                    AGS-EW-06
                </td>
                <td style="color: #0000FF;">
                    延长保固 6 个月
                </td>
                <td>
                    2.50%
                </td>
            </tr>
            <tr>
                <td style="color: #FF0000;">
                    AGS-EW-12
                </td>
                <td style="color: #0000FF;">
                    延长保固 1 年
                </td>
                <td>
                    5.00%
                </td>
            </tr>
            <tr>
                <td style="color: #FF0000;">
                    AGS-EW-24
                </td>
                <td style="color: #0000FF;">
                    延长保固 2 年
                </td>
                <td>
                    8.00%
                </td>
            </tr>
            <tr>
                <td style="color: #FF0000;">
                    AGS-EW-36
                </td>
                <td style="color: #0000FF;">
                    延长保固 3 年
                </td>
                <td>
                    12.00%
                </td>
            </tr>
        </table>
        <br />
        备注一︰若是有需求，请直接与RMA部门联系.<br />
        备注二︰在下订单购买产品时，请当下决定是否购买延长保固，事后的加保将不接受。延长保固将以整个订单为主，不接受部份做延长保固，故请将订单拆开，一张订单为标准保固，另一张订单为延长保固。<br />
        维修技术训练服务 研华提供定期之软件及硬件的训练服务，包含维修及基本故障排除部份，以提升客户于第一时间点之自行检修之能力.<br />
        全球物流服务 研华提供客户全球化的物流支持服务，并为客户保管及管理其库存. 透过这合适之物流计划，研华会在24小时内出货并将产品安全递送至客户合约上之特定地点.<br />
        不良原因分析服务 (DAR) 研华为提高客户满意度可以提供不良原因分析服务. 其不良原因分析报告DAR (Defect Analysis Report)包含不良原因之检查/确认/建议及改善预防措施，并教导客户正确使用，以避免再次发生.<br />
        快速换货服务 客户可先行判断故障之硬件零件，再提供研华正确之零件名称规格，研华将于24小时内出货，后续客户再将不良零件寄还研华客服部门.<br />
        固定收费维修服务 此为延长保固的另一种选择，针对所有过保固的维修品以每台固定之费用计算之
        <br />
    </li>
</ul>
