@charset "utf-8";
/***************** CSS Document *****************/
body,html{margin:0px; padding:0px;}
.iot-Wrapper{border-top:3px solid #f5f5f5; padding-top:10px;  color:#666; min-width:980px; font-size: 12px;}
.iot-font15 {font: 15px/21px Arial, "新細明體", sans-serif;}
/* .iot-Wrapper{font: 15px/21px Arial, "新細明體", sans-serif;color: #666;} */
.slide-out-div{z-index:999;}

/******************** reset ********************/
.iot-Wrapper a {text-decoration:none; color:#0082d1; outline: none; /* for Firefox Google Chrome  */behavior:expression(this.onFocus=this.blur()); /* for IE */}
.iot-Wrapper a img,.iot-Wrapper a img:hover {border:none;}
.iot-Wrapper a:hover {color:#299de4; text-decoration:none;}
.iot-Wrapper ul,.iot-Wrapper ol,.iot-Wrapper li {list-style:none; margin:0px; padding:0px;}
.iot-Wrapper ul,.iot-Wrapper ol,.iot-Wrapper .resourcelist li {list-style:none; margin:0px; padding-top: 3px;padding-right: 3px;padding-bottom: 3px;padding-left: 12px;}
.iot-Wrapper input {outline: none;}
.iot-Wrapper .overflow-hidden {overflow:hidden;}
.iot-Wrapper .text-center {text-align:center;}
.iot-Wrapper .text-right{text-align:right;}
.iot-Wrapper .text-left{text-align:left;}
.iot-Wrapper .block-center {margin:0 auto;}
.iot-Wrapper .pull-left {float:left;}
.iot-Wrapper .pull-right {float:right;}
.iot-Wrapper .margin-TopBottom25{margin:25px 0;} 
.iot-Wrapper .margin-TopBottom15{margin:15px 0;} 
.iot-header .clearfix,.iot-Wrapper .clearfix{clear:both; height:0px; visibility:inherit;}


/****************** container ******************/
.iot-header,.iot-container{width:980px; margin:0 auto;}
/* header --------------------------*/
.iot-logo{float:left;margin-top: 10px;}
.iot-topMsg{float:right; text-align:right; margin:10px 0; font-size:12px; line-height:18px; font-family:Arial, "新細明體", sans-serif;width:650px;color: #666;}
.iot-topMsg a{color:#666; text-decoration:none; margin:0 5px;}
.iot-topSearch{border:1px solid #b9b9b9; width:377px; height:24px; margin-top:8px; padding:3px 3px 3px 10px;float: right;}
.iot-topSearch input[type=text]{border:none; width:280px; height:24px; float:left; line-height:24px; padding:0px; margin:0px;}
.iot-topSearch input[type=text]:focus{border:none; box-shadow:none; outline:none;}
.iot-topSearch .btnSearch{width:85px; height:24px; float:right; background:#ff8400 url(../images/IotMart/iot_btnSearch-BG.png) 65px center no-repeat; border:1px solid #c26400;  border-radius:3px; cursor:pointer; color:#fff; padding:0 20px 1px 3px;}

/* nav --------------------------*/
.iot-Wrapper .iot-nav{width:180px; margin-bottom:20px; float:left; position:relative; z-index:999;}
.iot-Wrapper .iot-navBlock{color:#fff; font-size:13px; line-height:15px; margin-bottom:5px; background-color:#0067b7;}
/* title */
.iot-Wrapper .iot-navBlock-title,.iot-Wrapper a.iot-navBlock-title{background:#004889; color:#fff; font-size:18px; line-height:20px; padding:5px 10px; display:block; font-family: "Microsoft JhengHei";}
.iot-Wrapper .BG-black .iot-navBlock-title,.iot-Wrapper .BG-black a.iot-navBlock-title{background:#537388; font-family: "Microsoft JhengHei";}
/* link */
.iot-Wrapper .iot-navBlock-link{border-bottom:1px solid #005393; position:relative;}
.iot-Wrapper .iot-navBlock-linkTitle,.iot-Wrapper a.iot-navBlock-linkTitle{padding:8px 10px; display:block; color:#fff;}
.iot-Wrapper .iot-navBlock-link:hover .iot-navBlock-linkTitle{background-color:#fff; padding:6px 10px; border:2px solid #004889; color:#0067b7;}
.iot-Wrapper .iot-navBlock-linkTitle.iot_onPage{background-color:#fff; padding:6px 10px; border:2px solid #004889;color:#0067b7;}
.iot-Wrapper .iot-navBlock-linkTitle.iot_iconList{background:url(../images/IotMart/iot_iconList_none.png) 165px center no-repeat; padding-right:18px;}
.iot-Wrapper .iot-navBlock-linkTitle.iot_iconList.iot_onPage{background:#fff url(../images/IotMart/iot_iconList_show.png) 165px center no-repeat;position:relative; z-index:2;}
.iot-Wrapper .iot-navBlock-linkTitle.iot_iconList.showList{background:#fff url(../images/IotMart/iot_iconList_show.png) 165px center no-repeat; border-right:none; position:relative; z-index:2;}
/* list */
.iot-Wrapper .iot-navBlock-link ul{display:none; position:absolute; top:0px; left:178px; width:165px; padding:3px 5px; border:2px solid #004889; background-color:#fff;}
.iot-Wrapper .iot-navBlock-link ul li{border-bottom:1px solid #e4e4e4;}
.iot-Wrapper .iot-navBlock-link ul a{color:#666; padding:6px 10px; display:block;}
.iot-Wrapper .iot-navBlock-link ul a:hover{color:#0067b7;}
.iot-Wrapper input[type=button]{cursor:pointer;}
/* content ----------------------*/
.iot-Wrapper .iot-content{width:780px; float:right;}
/* google webFont*/
.iot-container .iot-priceGray,.iot-container .iot-priceOrange,.iot-container .iot-title,.iot-container .iot-titleBig,.iot-container .iot-storiesTxt .iot-storiesTxt-Top{font-family:'Roboto Condensed',Tahoma, sans-serif;}
/* content universal */
.iot-block{margin-bottom:10px;}
.iot-title,.iot-titleBig{font-size:22px; line-height:22px; color:#000000; margin-bottom:10px;}
.iot-titleBig{font-size:36px; line-height:36px; font-weight:300;}
.iot-titleSmall{font-size:15px; line-height:21px; color:#000000;}
.iot-titleBG{background-color:#d7dee3; font-size:18px; line-height:22px; padding:2px 12px; margin-bottom:6px;}
.iot-titleBG2{background:url(../images/IotMart/iot_titleBG2.jpg) no-repeat;; font-size:18px; line-height:22px; padding:4px 18px; margin-bottom:5px; color:#cf7200;}
.iot-proBlock{float:left;}
.iot-proBlock .iot-proBlock-pic img{width:auto; height:89px;}
.iot-proBlock-pic{text-align:center;}
.iot-proBlock-msg{font-size:13px; line-height:16px; padding:8px;}
.iot-proDescription{color:#333333; height:65px; overflow:hidden;}
.iot-proDescription a{color:#333333;}
.iot-proBlock:hover .iot-proDescription a{color:#1e4c9a; text-decoration:underline;}
.iot-proDescription .iot-proPartNumber{color:#999999;}
.iot-proAction{position:relative; margin-top:4px;}
.iot-proBtn .btnStyle{color:#fff; padding:3px 20px 3px 10px; background:#537388 url(../images/IotMart/iot_proBtnBG.png) right center no-repeat; border:none; min-width:96px; *width:108px;}
.iot-proBtn .btnStyle:hover{background-color:#12659c; cursor:pointer;}
.iot-proPrice{height:39px; position:relative;}
.iot-priceGray{text-decoration:line-through; font-size:15px; color:#999; line-height:15px; margin-left:3px;}
.iot-priceOrange{font-size:20px; color:#ff8400; line-height:24px; position:absolute; bottom:0px;}
/*.iot-breadcrumb,.iot-breadcrumb a{font-size:12px; color:#666;} */
.iot-breadcrumb a:hover{color:#000;}
.iot-iconLinkBlock {margin-bottom:10px;}
.iot-iconLinkBlock a{background:url(../images/IotMart/iot_iconLink.png) 0 center no-repeat; padding-left:13px; margin-right:15px;}


/*highlightBlock*/
.iot-highlightBlock .iot-proBlock{width:248px; height:256px; *height:260px; border:1px solid #eee; margin:0 0 0 15px; position:relative;}
.iot-highlightBlock .iot-proBlock:hover{border-color:#ffd999;}
.iot-highlightBlock .iot-proBlock:first-child{margin-left:0px;}
.iot-highlightBlock .iot-proBlock .iot-iconNew{position:absolute; z-index:2; top:-4px; right:-4px; background:url(../images/IotMart/iot_iconNew.png) no-repeat; width:76px; height:76px;}
.iot-highlightBlock .iot-proBlock .iot-iconHot{position:absolute; z-index:2; top:-4px; right:-4px; background:url(../images/IotMart/iot_iconHot.png) no-repeat; width:76px; height:76px;}
.iot-highlightBlock .iot-proBlock-pic{position:relative;}
.iot-highlightBlock .iot-proBlock-pic img{height:135px;}
.iot-highlightBlock .iot-proBlock-pic .iot-proDiscount{position:absolute; bottom:0px; left:0px; right:0px; color:#fff; text-align:left; font:bold 21px/20px Arial, "新細明體", sans-serif; background:url(../images/IotMart/iot_proDiscountBG.png) repeat; padding:4px 8px;}
.iot-highlightBlock .iot-proBtn .btnStyle{position:absolute; right:0px; bottom:0px;}

/* carousel */
.iot-carouselBlock{position:relative;}
.iot-carouselBlockIndex .iot-titleBG{margin-bottom:0px;}
.iot-carouselBlock-content{border:1px solid #e4e4e4; border-top:none; padding:4px 0px; height:215px;}
.iot-carouselBlock-content .iot-proBlock{margin:4px 0 4px 4px; width:159px;}
.iot-carouselBlock-content .iot-proBlock .iot-proBlock-msg{padding:4px 6px;}
.iot-carouselControl{position:absolute; top:3px; right:5px;}
.iot-carouselControl #iot-prev,.iot-carouselControl #iot-next{background:url(../images/IotMart/iot_carouselControl.png) no-repeat -28px 0; width:22px; height:20px; cursor:pointer; display:inline-block;}
.iot-carouselControl #iot-next{background-position:-54px 0;}
.iot-carouselControl #iot-pager{margin-right:5px;}
.iot-carouselControl .iot-pager a{background:url(../images/IotMart/iot_carouselControl.png) 0px 0px no-repeat; text-decoration:none; text-indent:-999px; display:inline-block; overflow:hidden; width:13px; height:10px; margin:5px 0; display:block; float:left;}
.iot-carouselControl .iot-pager a.selected{background:url(../images/IotMart/iot_carouselControl.png) -13px 0 no-repeat;}

/* index */
.iot-bannerIndex{float:left; position:relative;}
#iot-carouselBannerIndex.iot-carouselBlock-content{border:none; padding:0px; height:250px;}
#iot-carouselBannerIndex.iot-carouselBlock-content li{float:left;}
#iot-carouselBannerIndex .iot-carouselControl{position:absolute; bottom:3px; *bottom:8px; right:8px; top:auto;}
#iot-carouselBannerIndex .iot-carouselControl a{padding:1px 8px; background-color:#000; background-image:none; color:#fff; text-indent:0px; height:auto; width:auto; margin-left:6px;}
#iot-carouselBannerIndex .iot-carouselControl a.selected{background-color:#2e98cc;}
.iot-bannerSBlockIndex{width:300px; float:left; margin-left:10px;}
.iot-bannerSIndex{margin-top:10px;}
.iot-bannerSBlockIndex .iot-bannerSIndex:first-child{margin-top:0px;}
.iot-carouselBlockIndex{width:670px; float:left;}


/* product */
.iot-att{font-size:13px; line-height:16px; margin-bottom:20px; *margin-bottom:10px;}
.iot_proList{width:792px;}
.iot_proList .iot-proBlock{width:145px; margin:0 13px 24px 0; padding:10px 19px; border:1px solid #fff;}
.iot_proList .iot-proBlock.checkbox-checked{border-color:#59a3ec;}
.iot_proList .iot-proBtn{margin-top:4px;}
.iot_proList .iot-proBlock-msg{padding:8px 0 0 0;}
.iot_proList .iot-proBlock-check{font-size:13px; margin-bottom:3px;}
.iot_proList .iot-proBlock-check input{vertical-align:middle;}
.iot-eStoreTop{padding-left:200px; padding-bottom:8px; border-bottom:4px solid #f5f5f5;}
.iot-eStoreTop a{background:#537388 url(../images/IotMart/iot-eStoreTopBtn.png) 9px center no-repeat; color:#fff; font-size:13px; padding:6px 20px 6px 50px; display:inline-block; margin-left:15px;}
.iot-eStoreTop a:hover{background-color:#12659c; color:#fff;}
.iot-eStoreblock{background:#dfeef9; width:280px; height:100px; float:left; margin-left:40px; padding:10px;}
.iot-eStoreblock:first-child{margin-left:0px;}
.iot-eStoreblock-pic{float:left; width:100px; height:100px; overflow:hidden; margin-right:12px;}
.iot-eStoreblock-title,.iot-eStoreblock-title a,.iot-eStoreblock-title a:hover {color:#0082d1; font-size:12px; line-height:20px; margin-bottom:2px;}
.iot-eStoreblock-content,.iot-eStoreblock-content a{font-size:12px; line-height:16px; height:48px; margin-bottom:10px; overflow:hidden; color:#666;}
.iot-eStoreblock:hover .iot-eStoreblock-txt .iot-eStoreblock-content,.iot-eStoreblock:hover .iot-eStoreblock-txt .iot-eStoreblock-content a{color:#1e4c9a; text-decoration:underline;}
.iot-switchingBlock{background-color:#f7f7f7; border:1px solid #e2e2e2; border-radius:3px; padding:8px 10px; *padding:8px 10px 0px 10px;}
.iot-switchingBlock .iot-proStyleBlock{float:left; display:inline-block;}
.iot-switchingBlock .iot-proBtn{float:right; display:inline-block;}
.iot-switchingBlock .iot-proBtn .btnStyle{height:26px; background-image:none; padding:3px 6px; min-width:90px; width:90px; border-radius:3px;}
.btnBlueBG,.btnGrayBG{margin-left:6px; width:100px; height:26px; overflow:hidden; font-size:13px; line-height:26px; padding:0px; text-align:center; border:none;}
.btnBlueBG{background:url(../images/IotMart/iot_btnBlueBG.png) no-repeat; color:#fff;}
.btnGrayBG{background:url(../images/IotMart/iot_btnGrayBG.png) no-repeat; color:#333;}
.iot-proListBlock{margin:0 0 40px;}
.iot-proListBlock .iot-proBtn{margin:10px 0 0 0;}
.iot-proListBlock .iot-proBtn .btnStyle{margin-right:6px;}
.iot-proColumnBlock,.iot-proListBlock{display:none;}
.iot-proColumnBlock.iot-show,.iot-proListBlock.iot-show{display:block;}
.iot-proStyleBlock .iot-proColumnBtn,.iot-proStyleBlock .iot-proListBtn{width:35px; height:26px; background:url(../images/IotMart/iot-proStyleBG.png) no-repeat; display:inline-block; float:left; cursor:pointer;}
.iot-proStyleBlock .iot-proListBtn{background-position:-35px 0;}
.iot-proStyleBlock .iot-proColumnBtn.iot-show,.iot-proStyleBlock .iot-proListBtn.iot-show{background-position-y:-26px; cursor:default;}
.iot-proStyleBlock .iot-proListBtn.iot-show{background-position-y:-26px;}

/* Success Stories + About ToMark */
.iot_bannerTop{margin-bottom:3px; position:relative;}
.iot_bannerTop-txt{position:absolute; top:60px; z-index:1; font-size:30px; font-weight:bold; font-family: "Microsoft JhengHei";}

/* Success Stories */
.iot-storiesArticleCategory{margin:18px 0 3px 0;}
.iot-storiesArticleCategory span{background-color:#90a9b1; border-radius:5px; color:#fff; font-size:13px; padding:2px 5px; margin-right:5px;}
a.iot-btnSuccessStories{background:url(../images/IotMart/iot_iconSuccessStories.png) left center no-repeat; padding-left:15px;}
a.iot-btnSuccessStories:hover{text-decoration:underline;}
.iot_bannerTop-Stories{left:455px; color:#0067b7;}
.iot-storiesSelect{float:left; margin-left:20px; width:380px;}
.iot-storiesSelect:first-child{margin-left:0px;}
.iot-storiesSelect .select{position:absolute; width:372px; height:36px; padding:0 0 0 8px; background: url(../images/IotMart/iot_storiesSelectBG.jpg) no-repeat; overflow:hidden; line-height:36px;}
.iot-storiesSelect select.styled{height:36px; margin-left:1px; font-size:15px; line-height:36px; font-family:Arial, "新細明體", sans-serif;}
.iot-storiesContentBlock{position:relative; width:800px; padding:0 10px 10px 0; margin:0 -10px;}
.iot-storiesContent{width:380px; border:1px solid #e5f0f5; margin:15px 10px 0 10px; box-shadow:3px 3px 0px rgba(0, 0, 0, 0.05); background-color:#fff;}
.iot-storiesCategoryBG{background-color:#f3f9ff; color:#c1dce5; font-size:13px; line-height:18px; padding:4px 0;}
.iot-storiesCategoryBG span{color:#90a9b1; display:inline-block; margin:0 10px;}
.iot-storiesTxt{padding:10px;}
.iot-storiesTxt-Top{color:#537388; margin-bottom:12px; font-size:21px; line-height:22px; font-weight:300;}
.iot-storiesTxt-Top a{color:#537388;}
.iot-storiesTxt-Top img{float:left; margin-right:12px;}
.iot-storiesTxt-Bottom a{margin-left:10px; white-space: nowrap;}

/* About ToMark */
.iot_bannerTop-About{left:520px; color:#fff;}


/****************** footer ******************/
.iot-Wrapper .iot-footer{background-color:#f5f5f5; padding:20px 0; text-align:center;margin-top: 10px;}
.iot-Wrapper .iot-footer .iot-footerBlock{margin:0 50px 0 10px; width:150px; text-align:left; vertical-align:top; display:inline-block; *display:inline; *zoom : 1;}
.iot-Wrapper .iot-footer .iot-footerBlock .iot-title{color:#537388; font-size:16px; line-height:18px; margin-bottom:6px; background-color:#f5f5f5; display:inline-block; *display:inline; *zoom : 1;}
.iot-Wrapper .iot-footer a {color:#888; font-size:12px; line-height:15px; display:block; margin-top:8px;}
.iot-Wrapper .iot-footer a:hover {color:#000; text-decoration:none;}
.iot-footerMsg{text-align:center; font:12px/15px Arial, "新細明體", sans-serif; color:#888; margin:5px 0; min-width:980px;}
.iot-content .youarehere li {padding-left: 18px;padding-right: 5px;}
.iot-content .youarehere li.home {padding-left: 0px;padding-right: 0px;}

/************ only Iot style  ****************/
.productprice {font-weight:normal;}
.productprice .specialprice {text-decoration:line-through; font-size:14px; color:#999; line-height:15px; margin-left:3px;}
.estoretable .productprice .specialprice {font-size:12px;}
.productprice .regularprice span {color: #ff8400;}
.iot-content ul.youarehere  {padding-left: 0px;}
.iot-content h2, .iot-content h1.pagetitle, .iot-content th  {color: #333333;}
.iot-priceOrange .regularprice span, .regularprice label {color: #ff8400;}
.iot-topMsg .iot-topLink ul li { list-style-type: none; float:right;padding-left: 10px;}
.iot-Orange { color: #ff8400;}
.iot-topMsg .iot-topLink ul li a { margin: 0px;}
.iot-topLink .myAccountList ul {margin-top: -3px;}
.iot-Wrapper a span {color: white;}
.iot-content .proSuggestAdvs{width: 220px;float: left;padding-right: 25px;padding-left: 10px; margin-bottom:10px;}

/*highlightBlock iot-highlight2*/
.iot-highlightBlock.iot-highlight2 .iot-proBlock{width:380px; height:225px;}
.iot-highlightBlock.iot-highlight2 .iot-proBlock-pic,.iot-highlightBlock.iot-highlight2 .iot-proBlock-msg{float:left;width:185px;}
.iot-highlightBlock.iot-highlight2 .iot-proBlock-pic img{margin-top:48px;}
.iot-highlightBlock.iot-highlight2 .iot-proBlock-msg{padding:12px 5px;}
.iot-highlightBlock.iot-highlight2 .iot-proBtn .btnStyle{position:static; margin-top:5px;}
.iot-highlightBlock.iot-highlight2 .iot-proPrice{padding-top:10px;}
.iot-highlightBlock.iot-highlight2 .iot-videoBlock{border:1px solid #a6c5d7; width:100px; height:56px; overflow:hidden; position:relative; margin-top:5px;} 
.iot-highlightBlock.iot-highlight2 .iot-videoBlock span{position:absolute; top:50%; left:50%; margin:-24px 0 0 -24px; width:48px; height:48px; background:url(../images/iot_videoBtn.png) no-repeat;opacity: 0.6;filter: alpha(opacity=60);}
.iot-highlightBlock.iot-highlight2 .iot-videoBlock:hover span{opacity:0.8;filter: alpha(opacity=80);} 

a.StoreGreyButton{	background-position: left -144px;padding-left:6px;color:#000;}
a.StoreGreyButton span {background-position: right -179px; color:White;padding-right: 10px;}
.iot-checkbox{margin: 0;padding: 0;border: none;cursor: pointer;}
.textRight {text-align: right;}
.iot-content .btnStyle {color:#fff; padding:3px 20px 3px 10px; background:#537388 url(../images/IotMart/iot_proBtnBG.png) right center no-repeat; border:none;}
.iot-content .btnStyle:hover {background-color:#12659c; cursor:pointer;}
.iot-content .btnEeleteStyle {color:#fff; padding:3px 10px 3px 20px; background:#537388 url(../images/IotMart/iot_proBtnDeleteBG.png) left center no-repeat; border:none;}
.iot-content .btnEeleteStyle:hover {background-color:#12659c; cursor:pointer;}

.iot-content .storebutton a,.iot-content .storebutton a:hover,.iot-content .rightside a,.iot-content .rightside a:hover,.iot-content #productaction a,.iot-content #productaction a:hover {background: left 0;}
.iot-content .storebutton a span,.iot-content .rightside a span,.iot-content #productaction a span {color:#fff; padding:3px 20px 3px 10px; background:#537388 url(../images/IotMart/iot_proBtnBG.png) right center no-repeat; border:none;}
.iot-content .storebutton a span:hover,.iot-content .rightside a span:hover,.iot-content #productaction a span:hover {background-color:#12659c; cursor:pointer;}
.iot-content .storeBlueButton {color:#fff; padding:3px 20px 3px 10px; background:#ef9618 url(../images/IotMart/iot_proBtnBG.png) right center no-repeat; border:none;font-weight:normal;}
.iot-content .storeBlueButton:hover {background-color:#f9a631; cursor:pointer;}
.iot-content .marginBottom7{ margin-bottom:7px;}
.iot-header .margin0{ margin:0px;}
.iot-content #orderDetailInfro .c_heat_1 { padding-top: 0px;}
.iot-storiesContent .iot-storiesTxt-Bottom { font: 15px/21px Arial, "新細明體", sans-serif; }
.iot-content .estoretable tbody .regularprice { font-size: 14px; }
.estoretable th a, .estoretable th {white-space:normal;}
.iot-content #cmsMainDiv { border-top-style: none;}
.iot-content #cmsMainDiv h2 {font-size: 24px;line-height: 22px;color: #000000;margin-bottom: 10px;}
.iot-content a.StoreGreyButton, .iot-content a.StoreGreyButton span, .iot-content a.StoreBlueImageButton, .iot-content a.StoreBlueImageButton span { font-weight:normal;line-height: 18px;height: 16px;}

#floatbtospanel{ display:none;}
#eStoreMainContent_ProductCompare1_tblCompareProducts .btnStyle{ margin:2px 2px 2px 0px;}
#eStoreMainContent_ProductCompare1_tblCompareProducts li,.ProductFeature li{ list-style-type:disc;}

.productcompare{ display:none;}
.iot-header .ExtTitleLabel {width: 125px;}




/****************** uShop ******************/
.iot-uShop{font-family: Arial, "Microsoft JhengHei", "新細明體", sans-serif; margin-bottom: 30px;font: 15px/21px Arial, "新細明體", sans-serif;color: #666;}
.iot-uShop h1{font-family: Arial, "Microsoft JhengHei" , "新細明體" , sans-serif;margin-top: 20px;margin-bottom: 14px;}
.iot-uShop .iot-block p{margin-bottom: 14px;}
.iot_bannerTop-uShop{color: #fff; right: 50px; top: 50px; text-align: center; font-weight: bold;}
.iot_bannerTop-uShop span{display: block; font-size: 21px; font-weight: normal;}
.iot-uShop .iot-uShop-box{border: 1px solid #e5f0f5; margin: 20px 0;}
.iot-uShop .iot-uShop-box.special{border: 1px solid #f7b500; padding: 25px 30px; background: url(../images/ushop/iot_uShop_adBG.png) 95% 70% no-repeat;}
.iot-uShop .iot-uShop-box.special .specialTxt{float: left; margin-left: 10px;}
.iot-uShop .iot-uShop-box.special .specialTxt h6{background-color: #fff; padding: 8px 0 0; display: inline-block; *display: inline; *zoom:1; font-size: 21px; color: #f7b500;}
.iot-uShop .btnStyle{color:#fff; padding:3px 20px 3px 10px; background:#537388 url(../images/ushop/iot_proBtnBG.png) right center no-repeat; border:none; min-width:60px; *width:108px; font-size: 13px; font-weight: normal;}
.iot-uShop .btnStyle:hover{background-color:#12659c; color:#fff; cursor:pointer;}
.iot-uShop-box h6{background-color: #d7dee3; margin: 0px; padding: 2px 10px; font-size: 15px;}
.iot-uShop .iot-uShop-box3{margin: 20px 0;}
.iot-uShop-box3 li{float: left; padding: 25px 50px 20px 100px; color: #f7b500; font-size: 22px; font-weight: bold;}
.iot-uShop-box3 li span{color: #9c9c9c; display: block; font-size: 13px; margin-bottom: 3px;}
.iot-uShop-box3 .solution{background:url(../images/ushop/iot_uShop_icon-1.jpg) 0 top no-repeat;}
.iot-uShop-box3 .free{background:url(../images/ushop/iot_uShop_icon-2.jpg) 0 top no-repeat;}
.iot-uShop-box3 .tele{background:url(../images/ushop/iot_uShop_icon-3.jpg) 0 top no-repeat;}
.iot-uShop .iot-uShop-box4{margin: 10px 0;}
.iot-uShop-box4 li{float: left; width: 20%; margin: 0 2.5%; text-align: center; font-size: 13px; line-height: 1.2em;}
.iot-uShop-title,.iot_uShop_stepBG{color:#f7b500; font-size: 21px;}
.iot-uShop-title{margin-top: 20px;}
.iot-uShop .iot_uShop_stepBG{width: 780px; height: 80px; line-height: 80px; margin-bottom: 3px;}
.iot_uShop_stepBG.stepBG-1{background:url(../images/ushop/iot_uShop_stepBG-1.jpg) 1px top no-repeat;}
.iot_uShop_stepBG.stepBG-2{background:url(../images/ushop/iot_uShop_stepBG-2.jpg) 1px top no-repeat;}
.iot_uShop_stepBG.stepBG-3{background:url(../images/ushop/iot_uShop_stepBG-3.jpg) 1px top no-repeat;}
.iot_uShop_stepBG li{float: left;width: 163px;padding: 0 0 0 88px;position: relative;font: "新細明體" , sans-serif;font-family: Arial, 'Microsoft JhengHei' , 新細明體, sans-serif;}
.iot_uShop_stepBG li:first-child{ width: 195px; padding: 0 0 0 58px;}
.iot_uShop_stepBG li span{font-size: 36px; position: absolute; top: 1px; left: 50px;}
.iot_uShop_stepBG li:first-child span{left: 15px;}
.iot_uShop_stepBG li.on{color: #fff;}
.iot_uShop_stepBG li.on span{color:#f7b500;}
.iot-uShop-formTitle{background-color: #d7dee3; padding: 2px 20px}
.iot-uShop-form{background-color: #f5f5f5; padding: 25px 20px;}
.iot-uShop-form th,.iot-uShop-form td{padding: 8px 0; font-weight: normal;}
.iot-uShop-form th{text-align: right; padding-right: 10px; width: 150px;}
.iot-uShop-formAtt{color: #9c9c9c; font-size: 12px; padding-left: 5px;}
.iot-uShop-form input[type="text"],.iot-uShop-form input[type="password"],.iot-uShop-form select{width: 180px; border:1px solid #c1c1c1; line-height: 20px;}
.iot-uShop-form select{padding: 1px;}
.iot-uShop-formBlock .red{color: #f00; font-size: 12px; padding: 0 5px;}
.iot-uShop-checkBlock{margin-top: 30px;}
.iot-uShop-checkBlock:first-child{margin-top: 0px;}
.iot-uShop-checkBlock ul{margin:15px 0;}
.iot-uShop-checkBlock li{float: left; margin:0 20px 8px 20px; white-space:nowrap;}
.iot-uShop-checkBlock input[type="text"]{border: none; border-bottom:1px solid #c1c1c1; background-color: transparent; width: 100px; }
.iot-uShop-checkbtn{background-color: #e4e4e4; padding: 20px; text-align: center;}
.iot-uShop-checkbtn .btnStyle{color:#fff; padding:5px 30px; font-size: 20px; line-height: 1.2em; background:#537388; margin-top: 10px; display: inline-block;}
.iot-uShop-checkbtn .btnStyle:hover{background-color:#12659c; color:#fff; cursor:pointer;}
/**acctount**/
.acctount .iot-uShop-form{background-color: #fff;}
.acctount .accountPassword{margin: 0 10px;}
.acctount .iot-uShop-checkbtn{background-color: #fff; padding: 0px; text-align: center;}
.acctount .iot-uShop-checkbtn .btnStyle{color:#fff; padding:3px 20px 3px 10px; background:#537388 url(../images/ushop/iot_proBtnBG.png) right center no-repeat; border:none; min-width:60px; *width:108px; font-size: 13px; font-weight: normal;}
.acctount .iot-uShop-checkbtn .btnStyle:hover{background-color:#12659c; color:#fff; cursor:pointer;}
.acctount label{margin-right: 5px;}
.acctount .checkBox{margin: 20px 0; border-bottom: 1px solid #dbdbdb; padding-bottom: 10px;}
/**lightBox**/
.iot_uShopPOP{min-width: 600px; font-family: Arial, "Microsoft JhengHei", "新細明體", sans-serif; border-radius: 4px; overflow: hidden;}
.iot_uShopPOP *{margin: 0px; padding: 0px;}
.iot_uShopPOP a{text-decoration: none; color: #0082d1;}
.iot_uShopPOP .btnStyle{color:#fff; padding:3px 20px 3px 10px; background:#537388 url(../images/ushop/iot_proBtnBG.png) right center no-repeat; border:none; display: inline-block; min-width:96px; *width:108px; font-size: 15px; font-weight: normal; text-decoration: none; text-align: center; vertical-align: middle; margin: 0 5px;}
.iot_uShopPOP .btnStyle:hover{ cursor:pointer;}
/**account**/
.uShopPOP_account{padding: 20px; min-width: 560px; color: #666;}
.uShopPOP_account h1{ font-size: 21px; border-bottom: 1px solid #dbdbdb; padding: 0 10px 5px; color: #666;}
.uShopPOP_account .formBlcok{margin: 0 auto; padding: 20px 40px 20px 0;}
.uShopPOP_account .att{font-size: 12px;}
.uShopPOP_account .bigTxt{text-align: center; padding-top: 40px; font-size: 21px; font-weight: bold;}
/**login**/
.loginBottom{background-color: #f5f5f5; padding: 20px; margin: -20px; text-align: right; vertical-align: baseline;}
/**registerSuccess**/
.iot_uShop_registerSuccess-top{text-align: center; color: #fff; padding: 60px 50px; background: #f7b500;}
.iot_uShop_registerSuccess-icon{display: inline-block; text-align: left; padding-left: 85px; min-height: 80px; background: #f7b500 url(../images/ushop/iot_uShop_icon-registerSuccess.png) 0px center no-repeat;}
.iot_uShop_registerSuccess-top h1{font-size: 22px; padding: 10px 0 3px;}
.iot_uShop_registerSuccess-bottom{text-align: center; padding: 30px 0;}
.iot_uShop_registerSuccess-bottom .wellcome{font-size: 21px; font-weight: bold; padding: 8px 0;color: #444;}
.iot_uShop_registerSuccess-bottom .att{font-size: 12px; color: #666;}
.iot_uShopPOP th,.iot_uShopPOP td{padding: 8px 0; font-weight: normal;}
.iot_uShopPOP th{text-align: right; padding-right: 10px;}
.iot_uShopPOP input[type="text"],.iot_uShopPOP input[type="password"]{width: 180px; border:1px solid #c1c1c1; line-height: 20px; padding: 2px 0;}
#iot_uShop_registerWrong p,#iot_uShop_registerWrong a{text-align: center;}
#iot_uShop_registerWrong .red{color: #f00; margin-top: 10px; font-size: 13px;}
/****************** footer ******************/
.iot-Wrapper .iot-footer{background-color:#f5f5f5; padding:20px 0; text-align:center;}
.iot-Wrapper .iot-footer .iot-footerBlock{margin:0 50px 0 10px; width:150px; text-align:left; vertical-align:top; display:inline-block; *display:inline; *zoom : 1;}
.iot-Wrapper .iot-footer .iot-footerBlock .iot-title{color:#537388; font-size:16px; line-height:18px; margin-bottom:6px; background-color:#f5f5f5; display:inline-block; *display:inline; *zoom : 1;}
.iot-Wrapper .iot-footer a {color:#888; font-size:12px; line-height:15px; display:block; margin-top:8px;}
.iot-Wrapper .iot-footer a:hover {color:#000; text-decoration:none;}
.iot-footerMsg{text-align:center; font:12px/15px Arial, "新細明體", sans-serif; color:#888; margin:5px 0; min-width:980px;}
.iot_uShopPOP h1 {font-family: Arial, "Microsoft JhengHei", "新細明體", sans-serif;}
.iot_uShop_registerSuccess-icon p {font-size: 16px;}
.iot-uShop .checkBox ul{ margin:0px; padding: 0px;}
.iot-uShop .uedit { display: none;}
.red {color: #f00;}
.iot-uShop .iot-breadcrumb { font-size: 12px; }