#applicationcontainer{  
                       }

#demoarea{
	background-position:center top;
	position:relative;
	margin: 0px auto;
	overflow:hidden;
	border:#d8d8d8 solid 1px;
	width:780px;
	height:513px;
}
 

#appScenarios {
	position:absolute;
	top:3px;
	left:597px;
	width:183px;
}

#appScenarios #apptitle {
	width:183px;
	height:31px;
	text-align:center;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	color:#595959;
	font-weight:bold;
	padding-top:23px;
	overflow:hidden;
}

.orange #appScenarios #apptitle {background-image:url(uStoreApplication/menu_title_bg_o.png);}    
.green #appScenarios #apptitle {background-image:url(uStoreApplication/menu_title_bg_g.png);}    
.yellow #appScenarios #apptitle {background-image:url(uStoreApplication/menu_title_bg_y.png);} 

#appScenarios ul {
	background-image:url(uStoreApplication/menu_item_bg.png);
	background-repeat:repeat-y;
	padding:0px 0px;
	margin:0px 0px;
	list-style:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#7a7a7a;
	font-weight:bold;
	line-height:16px;
}

#appScenarios ul li {
	padding:5px 0px 5px 20px;
	margin:0px 0px 0px 10px;
	background-image: url(uStoreApplication/menu_item_dot.png);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	cursor: hand;
	cursor: pointer;
	color:#7a7a7a;
}
.orange #appScenarios ul li {background-image:url(uStoreApplication/menu_item_dot_o.png);}    
.green #appScenarios ul li {background-image:url(uStoreApplication/menu_item_dot_g.png);}    
.yellow #appScenarios ul li{background-image:url(uStoreApplication/menu_item_dot_y.png);} 

.orange #appScenarios ul li.hover {  color: #f39801 ;}    
.green #appScenarios ul li.hover  {  color: #4cbb2f ;}   
.yellow #appScenarios ul li.hover {  color: #c9c601 ;} 
#appScenarios #bom {
	background-image:url(uStoreApplication/menu_bom_bg.png);
	width:183px;
	height:3px;
}


.dot {
    cursor: hand;
    cursor: pointer;
    position:absolute;
    background-repeat:no-repeat;
    width:23px;
    height:40px;
    background-position:left top;
}
.orange .dot{background-image:url(uStoreApplication/dot_o.png);}    
.green .dot{background-image:url(uStoreApplication/dot_g.png);}    
.yellow .dot{background-image:url(uStoreApplication/dot_y.png);} 

#prodTitle {
	position:absolute;
	top:14px;
	left:17px;
	width:140px;
	height:35px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:gray;
	background-color:#dedede;
	font-size:22px;
	line-height:38px;
	overflow:hidden;
}  

#categoriestabs {
	margin:20px 0px 0px 0px;
}

#categoriestabs ul {
	padding:0px 0px;
	margin:0px 0px;
	list-style:none;
	height:34px;
	overflow:hidden;
}

#categoriestabs ul li {
	margin:1px 1px 3px 1px;
	padding:0px 0px;
	background-image: url(uStoreApplication/itemMenu_g.jpg);
	background-repeat:repeat-x;
	cursor: hand;
	cursor: pointer;
	height:34px;
	overflow:hidden;
	text-align:center;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:34px;
	color:#777;
	border:#e7e7e6 1px solid;
	float:left;
	overflow:hidden;	
}

#categoriestabs ul li:first-child {
	margin-left:0px;
}

 .cycle-overlay{ left:auto; right:0px;}
#categoriestabs ul li:hover {
	background-image: url(uStoreApplication/itemMenu_b.jpg);
	border:1px #FFF solid;
	color:#FFF;
	padding:0px 0px;
	margin-bottom:0px;
	margin-top:0px;
	height:34px;
	overflow:hidden;
}
#categoriestabs ul li:hover a
{color:#FFF;text-decoration:none;}
#categoriestabs ul li.select {
	padding:0px 0px;	
	background-image: url(uStoreApplication/itemMenu_b.jpg);
	color:#FFF;
	margin-bottom:0px;
	margin-top:0px;
	height:32px;
	overflow:hidden;	
	position:inherit;
}
#categoriestabs ul li.select a{color:#FFF; text-decoration:none;}


#categoriestabs #blueLine {
	clear:both;
	width:100%;
	height:4px;
	background-color:#2270bf;
}



    
.sBubble {
    border: 1px solid;
    border-radius: 6px;
    color: #eee;
    font-size: 12px;
    padding: 5px 8px;
    text-align: center;
    text-shadow: 0px 1px 1px #000;
}
.sBubble a {
	color:white;
	text-decoration:none;
}

.sBubble a:hover {
	text-decoration:underline;
}


.sBubbleArw {
    content: "";
    height: 0;
    width: 0;
}
.sBubbleArw.top {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid transparent;
}
.sBubbleArw.right {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid transparent;
}
.sBubbleArw.left {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid transparent;
}
.sBubbleArw.bottom {
    border-bottom: 8px solid transparent;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.sBubble,
.sBubbleArw {
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    position: absolute;
    opacity: 0;
    z-index: 5;
}
.sBubble.top,
.sBubbleArw.top {
    margin: -10px 0 0 0;
}
.sBubble.right,
.sBubbleArw.right {
    margin: 0 0 0 10px;
}
.sBubble.left,
.sBubbleArw.left {
    margin: 0 0 0 -10px;
}
.sBubble.bottom,
.sBubbleArw.bottom {
    margin: 10px 0 0 0;
}
.sBubble.visible, .sBubbleArw.visible {
    margin: 0;
    opacity: 1;
}


/*** sBubble Black Theme ***/
.sBubble.black {
	font-family:Arial, Helvetica, sans-serif;
    background: #555;
    border-color: #333;
    box-shadow: 0 0 12px #666, inset 0 0 30px #222;
	filter:alpha(opacity=80);       /* IE */
	-moz-opacity:0.8;              /* Moz + FF */
	opacity: 0.8;  
}
.sBubbleArw.top.black {
    border-top-color: #333;
}
.sBubbleArw.bottom.black {
    border-bottom-color: #333;
}
.sBubbleArw.left.black {
    border-left-color: #333;
}
.sBubbleArw.right.black {
    border-right-color: #333;
}


/*** sBubble Orange Theme ***/
.sBubble.orange {
    background: #FF4C00;
    border-color: #CC3300;
    box-shadow: 0 0 12px #666, inset 0 0 30px #D83900;
}
.sBubbleArw.top.orange {
    border-top-color: #CC3300;
}
.sBubbleArw.bottom.orange {
    border-bottom-color: #CC3300;
}
.sBubbleArw.left.orange {
    border-left-color: #CC3300;
}
.sBubbleArw.right.orange {
    border-right-color: #CC3300;
}


/*** sBubble Blue Theme ***/
.sBubble.blue {
    background: #0089C9;
    border-color: #006899;
    box-shadow: 0 0 12px #666, inset 0 0 30px #007DB7;
}
.sBubbleArw.top.blue {
    border-top-color: #007DB7;
}
.sBubbleArw.bottom.blue {
    border-bottom-color: #006899;
}
.sBubbleArw.left.blue {
    border-left-color: #007DB7;
}
.sBubbleArw.right.blue {
    border-right-color: #007DB7;
}


/*** sBubble Green Theme ***/
.sBubble.green {
    background: #00BA53;
    border-color: #00893D;
    box-shadow: 0 0 12px #666, inset 0 0 30px #00A048;
}
.sBubbleArw.top.green {
    border-top-color: #00893D;
}
.sBubbleArw.bottom.green {
    border-bottom-color: #00893D;
}
.sBubbleArw.left.green {
    border-left-color: #00893D;
}
.sBubbleArw.right.green {
    border-right-color: #00893D;
}
    