<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="eStore.Proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="estore.proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <eStore.Proxy.Properties.Settings>
            <setting name="estore_proxy_Advantech_SAP_WS_eCommerce" serializeAs="String">
                <value>http://172.21.1.93/AdvantechWS/WS_eCommerce.asmx</value>
            </setting>
            <setting name="estore_proxy_AdvantechSAPPrice_USAdvPrice" serializeAs="String">
                <value>http://172.21.1.93/USADVPrice/eBizAEU_WS.asmx</value>
            </setting>
        </eStore.Proxy.Properties.Settings>
        <estore.proxy.Properties.Settings>
            <setting name="estore_proxy_Advantech_SAP_WS_eCommerce" serializeAs="String">
                <value>http://172.21.1.93/AdvantechWS/WS_eCommerce.asmx</value>
            </setting>
        </estore.proxy.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
