<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Quotation</title>
    <style type="text/css">
        table.contact
        {
            font: bold 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            border-color: #ffffff;
            background: #FFFFFF;
            color: #333;
            width: 100%;
        }
        .contact th
        {
            width: 33%;
            border-collapse: collapse;
            background: #EFF4FB;
        }
        .contact td
        {
            font: 12px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            background: #FFFFFF;
            color: #333;
        }
        
        table.estoretable
        {
            font: 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            color: #333;
            width: 100%;
        }
        
        .estoretable th
        {
            padding: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #E5E5E5;
            text-align: center;
            background: #EFF4FB;
        }
        
        .estoretable td
        {
            padding: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #E5E5E5;
        }
        
        .estoretable caption
        {
            padding: 0 0 .5em 0;
            text-align: left;
            text-transform: uppercase;
            color: #333;
            background: transparent;
        }
        .cartitem td
        {
            text-align: right; border-width: 0px; border-color: #FFFFFF;
            }
        .cartitem p
        {
            margin: 0;
            padding: 5px 0;
            font-size: 12px;
        }
        .cartitem label
        {
            font-weight: bold;
        }
        .style2
        {
            width: 345px;
        }
        .style3
        {
            width: 34px;
        }
    </style>
</head>
<body>
    <table width="720" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family: Arial, Helvetica, sans-serif">
        <tr>
            <td align="left">
                <img src="http://buy.advantech.com/App_Themes/AUS/logo.gif" alt="Advantech eStore" />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <table width="720" border="0" cellpadding="0" cellspacing="0" height="30">
                    <tr>
                        <td width="8" align="left" height="30">
                            <img src="http://buy.advantech.com/App_Themes/AUS/barleft.jpg" width="8" height="30">
                        </td>
                        <td width="704" bgcolor="#E5E5E5" style="background-color: #E5E5E5" height="30">
                            <a href="http://[/STOREURL]" style="text-decoration: none">
						<font size="2" color="#767677"><b>Inicio</b></font></a>
						&nbsp; &nbsp; &nbsp;
						<font size="2" color="#767677">
						<a href="http://[/STOREURL]" style="text-decoration: none">
						<b><font color="#767677">Sobre Nosotros</font></b></a>
						&nbsp; &nbsp; &nbsp;
						<a href="http://support.advantech.com.tw/" style="text-decoration:none"><font size="2" color="#767677"><b>Soporte</b></font></a>
						&nbsp; &nbsp; &nbsp;
						<a href="http://[/STOREURL]/ContactUs.aspx" style="text-decoration:none"><font size="2" color="#767677"><font size="2" color="#767677"><b>
						Contáctenos</b></font></font></a></td>
                        <td width="8" align="right" height="30">
                            <img src="http://buy.advantech.com/App_Themes/AUS/barright.jpg" width="8" height="30">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" height="18" bgcolor="#708AAC" style="background-color: #708AAC; padding: 5px 10px">
                            <div style="color: #FFFFFF; font-size: 12px">
                                [/ourAddress] <br />[/OurTel]
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <!-- START -->
                <table width="100%" border="0" cellspacing="0" cellpadding="6" style="border: 1px solid #CCCCCC;
                    background-color: #FFFFE6" bgcolor="#FFFFE6" align="center">
                    <tr>
                        <td style="font-size: 13px; font-family: Arial;">
                            <div>
                                <b>Estimad@ [/USERNAME],</b></div>
                            <div style="padding-left: 10px">
                                ¡Gracias por su pedido a la tienda virtual de 
								Advantech operada por DAMEZ!
                                <br />
                                Usted puede revisar el estado de su orden a todo 
								momento simplemente haciendo
								<a href="http://[/CLICKHERE]">haciendo clic aquí</a>. 
								(Por favor aguarde 24 horas para que entre en 
								efecto cualquier actualización sobre el estado). 
								Si desea contactar a DAMEZ por cualquier 
								consulta relacionada con su pedido le 
								recomendamos que tenga a mano esta información 
								como referencia durante su llamado.<p>
                                <br />
                                </p>
                                <table width="90%" border="0" align="center" cellpadding="5">
                                    <tr>
                                        <td style="border-left: 1px solid #CCC" class="style1">
                                            <table>
                                                <tr>
                                                    <td>
                                                        Contacto administrativo: 
                                                    </td>
                                                    <td>
                                                        <b>Maria Sandoval</b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Situación de IVA: 
                                                    </td>
                                                    <td>
                                                        <b>Responsable Inscripto</b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        C.U.I.T Nº: 
                                                    </td>
                                                    <td>
                                                        <b>30-62467063-5</b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                       Exento de retención: 
                                                    </td>
                                                    <td>
                                                        <b>No.</b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Ingresos Brutos: 
                                                    </td>
                                                    <td>
                                                        <b>Responsable Inscripto</b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Convenio Multilateral: 
                                                    </td>
                                                    <td>
                                                        <b>901-939458-9</b>
                                                    </td>
                                                </tr>
                                                
                                            </table>
											
											 <table>
                                                <tr>
                                                    <td>
                                                     <b>   Cuenta corriente en PESOS Banco Santander Rio  </b>
                                                    </td>
                                                     
                                                </tr>
                                                <tr>
                                                    <td>
                                                       Nº 058-2615/4. 
                                                    </td>
                                                     
                                                </tr>
                                                <tr>
                                                    <td>
                                                       A nombre de DAMEZ ELECTRONICA PROFESIONAL SRL. 
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>
                                                      CBU Nº 0720058820000000261540.
                                                    </td>                                                     
                                                </tr>                                               
                                              </table>
											
											 <table>
                                                <tr>
                                                    <td>
                                                     <b>   Cuenta corriente en DOLARES Banco Santander Rio    </b>
                                                    </td>
                                                     
                                                </tr>
                                                <tr>
                                                    <td>
                                                      Nº 058-005502/4.  
                                                    </td>
                                                     
                                                </tr>
                                                <tr>
                                                    <td>
                                                      A nombre de DAMEZ ELECTRONICA PROFESIONAL SRL. 
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>
                                                      CBU Nº 0720058821000000550241
                                                    </td>                                                     
                                                </tr>                                               
                                              </table>
											  
											   <table>
                                                <tr>
                                                    <td>
                                                     <b>   Cuenta corriente en PESOS Banco Credicoop   </b>
                                                    </td>
                                                     
                                                </tr>
                                                <tr>
                                                    <td>
                                                      Nº 027-19431/5   
                                                    </td>
                                                     
                                                </tr>
                                                <tr>
                                                    <td>
                                                      A nombre de DAMEZ ELECTRONICA PROFESIONAL SRL.  
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>
                                                      CBU Nº 1910027855002701943150.
                                                    </td>                                                     
                                                </tr>                                               
                                              </table>
											
                                        </td>
                                        <tr>
                                            <td>
                                                <b>Nota:</b> Por favor envíe por 
												fax&nbsp; el comprobante de su 
												transferencia bancaria al numero 
												indicado aqui debajo, indicando 
												el destinatario. Por favor 
												tambien incluya el numero de 
												confirmacion de pedido de 
												Advantech en la primer hoja del 
												FAX.
                                                <br />
                                                <b>Tel:</b> +5411 4639-1014 <b>Fax:</b> 
												+5411 4568-1990
                                            </td>
                                        </tr>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF">
                            <table width="100%" border="0" cellspacing="2" cellpadding="0">
                                
                                <tr>
                                    <td align="left" colspan="2">
                                        <span style="font-size: 20px; color: #003D7C">
										<b>Información sobre su pedido y su pago</b></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="52%" style="font-size: 14px;">
                                        Numero de confirmación de pedido: <b><span style="color: #0033CC">[/ORDERNO]</span></b><br />
                                        <span style="color: #666666">[/PROMOTIONCODE] [/PURCHASENO] [/RESELLERID][/Courier_account]</span><br />
                                    </td>
                                    <td width="47%" align="right" style="font-size: 13px" valign="top">
                                        Fecha de pedido: [/ORDERDATE]
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" background="http://buy.advantech.com/App_Themes/AUS/line.gif" height="1">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <!-- Contact Info -->
                                        <table width="100%" class="contact">
                                            <tr>
                                                <th>
                                                    Facturar a:
                                                </th>
                                                <th>
                                                    Vendido a:
                                                </th>
                                                <th>
                                                    Enviar a:
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Destinatario:</b> [/BILLTOATTENTION]
                                                </td>
                                                <td>
                                                    <b>Destinatario:</b> [/SOLDTOATTENTION]
                                                </td>
                                                <td>
                                                    <b>Destinatario:</b> [/SHIPTOATTENTION]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Compañia:</b> [/BILLTOCOMPANY]
                                                </td>
                                                <td>
                                                    <b>Compañia:</b> [/SOLDTOCOMPANY]
                                                </td>
                                                <td>
                                                    <b>Compañia:</b> [/SHIPTOCOMPANY]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Dirección:</b> [/BILLTOADDRESS]
                                                </td>
                                                <td>
                                                    <b>Dirección:</b> [/SOLDTOADDRESS]
                                                </td>
                                                <td>
                                                    <b>Dirección:</b> [/SHIPTOADDRESS]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Tel:</b> [/BILLTOTEL]
                                                </td>
                                                <td>
                                                    <b>Tel:</b> [/SOLDTOTEL]
                                                </td>
                                                <td>
                                                    <b>Tel:</b> [/SHIPTOTEL]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    &nbsp;
                                                </td>
                                                <td>
                                                    &nbsp;
                                                </td>
                                                <td>
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- Contact Info/ -->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="5">
                                        <!-- CART DETAIL  -->
                                        <table class="estoretable" width="100%">
                                            <tbody>
                                                <thead>
                                                    <tr class="carthead">
                                                        <th>
                                                            Item#
                                                        </th>
                                                        <th width="20%">
                                                            Codigo de producto
                                                        </th>
                                                        <th class="style2">
                                                            Descripción</th>
                                                        [/DetailModeTH]<th>
                                                            Unitario
                                                        </th>
                                                        <th>
                                                            Cant.
                                                        </th>
                                                        <th>
                                                            SubTotal
                                                        </th>
                                                    </tr>
                                                </thead>
                                                [/CARTITEMS]
                                                <tr class="cartitem">
                                                    <td colspan="[/colspan]">
                                                        &nbsp;
                                                    </td>
                                                    <td colspan="2">
                                                        &nbsp;
                                                    </td>
                                                    <td colspan="3">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                        <table width="100%" class="estoretable">
                                            <tr class="cartitem">
                                                <td align="left" rowspan="6" valign="top" width="45%">
                                                    [/SHIPPINGMETHOD] [/Courier_account] [/PROMOTIONCODE] [/PURCHASENO] [/RESELLERID][/PAYMENTTYPE]
                                                </td>
                                                <td>
                                                    Sub Total:
                                                </td>
                                                <td>
                                                    [/SUBTOTAL]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    <font color="red">* </font>
													Envío:
                                                </td>
                                                <td>
                                                    [/FREIGHT]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    <font color="red">* </font>
													Impuestos  aproximados([/TAXRATE]):
                                                </td>
                                                <td>
                                                    [/TAX]
                                                </td>
                                            </tr>
                                            <tr id="DutyAndTax" class="cartitem">
                                                <td style="text-align: right; border-width: 0px; border-color: #FFFFFF;">
                                                    <font color="red">* </font>Duty:
                                                </td>
                                                <td style="text-align: right; border-width: 0px; border-color: #FFFFFF;">
                                                    [/DutyAndTax]
                                                </td>
                                            </tr>
                                            <tr id="CartDiscount" class="cartitem">
                                                <td>
                                                    <font color="red">* </font>Descuento:
                                                </td>
                                                <td style="color: #FF0000;">
                                                    [/DISCOUNT]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    Total:
                                                </td>
                                                <td style="font-weight: bold;color: #FF0000;">
                                                    [/TOTAL]
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- CART DETAIL / -->
                                        <p style="font-size: 13px; font-family: Arial;"><b>Comments:</b><br /> &nbsp;&nbsp;&nbsp;&nbsp;[/Comment]</p>
                                    </td>
                                </tr>
                            </table>
                            <div style="color: #333; padding-left: 10px">
                                <p style="font-size: 12px;">
                                    <span style="color: red">*</span> Indica un 
									valor estimado.</p>
                                <p style="font-size: 12px;">
                                    <span style="color: red">*</span> Los valores estimados pueden variar
                                </p>
                                <p style="font-size: 12px;">
                                    <span style="color: red">*</span> Los costos de envío e impuestos están a cargo
                                    del cliente. Por favor solicite la asistencia de su ejecutivo de cuenta para obtener
                                    un estimado de los mismos
                                </p>
                                <p style="font-size: 12px;">
                                    Los pedidos de compra están sujetos a 
									revisión. Por favor no deje de revisar el 
									estado de su pedido
                                </p>
                                <p style="font-size: 12px;">
                                    Todos los precios están en Dolares 
									Americanos.</p>
                                <p style="font-size: 12px;">
                                    Los precios, especificaciones, 
									disponibilidad y promociones pueden cambiar 
									sin previo aviso y no son transferibles. Los 
									impuestos, comisiones, costos de envío y 
									nacionalización y cualquier otro cargo extra 
									pueden variar y no están sujetos a 
									descuentos.</p>
                                <p style="font-size: 12px;">
                                    El tiempo estimado de envío representa el 
									tiempo aproximado que toma procesar su 
									pedido y ensamblar su sistema previa 
									autorización de cobro de su tarjeta de 
									crédito o transferencia bancaria. El tiempo 
									estimado de envío no pretende informarle la 
									fecha exacta de envío. Su plazo de entrega 
									puede variar dependiendo del método de pago 
									que usted haya seleccionado entre otros 
									factores dependiendo del tipo de pedido que 
									haya realizado.</p>
                                <p style="font-size: 12px;">
                                    La exportación de cualquier producto o 
									software adquirido a Advantech/DAMEZ debe 
									cumplir todas las leyes relevantes de la 
									Republica Argentina. Esto puede significar 
									que Ud. deba adquirir una licencia formal de 
									exportación o que haga ciertas declaraciones 
									al gobierno de la Republica Argentina sobre 
									los productos a exportar, su cliente final y 
									el uso que se les dará a los productos.</p>
								<p style="font-size: 12px;">
                                    &nbsp;</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-size: 13px; padding-left: 10px">
                                Nuevamente, agradecemos por su compra en la
								<a href="http://buy.advantech.com/">Tienda 
								Virtual de Advantech</a> operada por DAMEZ.
                                Procesaremos su pedido lo mas pronto posible. 
								Llame al [/OurTel] si tiene alguna consulta 
								sobre este pedido.</p>
                            <p style="font-size: 13px;">
                                Saluda atentamente,
                                <br />
                                <a href="http://[/STOREURL]" style="text-decoration: none">
								<span style="color: #000000; font-weight: 700">
								Tienda Virtual de Advantech</span></a>
                            </p>
                        </td>
                    </tr>
                </table>
                <!-- END -->
                <div>
                </div>
            </td>
        </tr>
        <!-- Footer -->
        <tr>
            <td height="15" bgcolor="#708AAC" style="background-color: #708AAC; text-align: center;
                color: #FFFFFF; font-size: 12px" align="center">
                [/STOREURL] / [/OurTel]
            </td>
        </tr>
        <tr>
            <td height="30" style="text-align: center; border: 1px solid #CCCCCC; background-color: #FFFFE6"
                bgcolor="#FFFFE6" align="center" valign="middle">
                <a href="http://buy.advantech.com/resource/aus/terms_and_conditions_aus.pdf" style="text-decoration: none;
                    font-size: 11px"><font color="#555555">Términos y 
				Condiciones</font>&nbsp;&nbsp;<font
                        color="#555555">|</font>&nbsp;&nbsp;</a><a href="http://buy.advantech.com/Info/ReturnPolicy.htm"
                            style="text-decoration: none; font-size: 11px"><font color="#555555">Política 
				de Devolución</font></a>&nbsp;&nbsp;<font
                                color="#555555"><span style="font-size: 11px;">|</span></font>&nbsp;&nbsp;<a href="http://buy.advantech.com/Info/PrivacyPolicy.htm"
                                    style="text-decoration: none; font-size: 11px"><font color="#555555">Política 
				de Privacidad</font></a>
            </td>
        </tr>
        <!-- Footer /-->
    </table>
    <br />
    <br />
</body>
</html>
