<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Quotation</title>
    <style type="text/css">
        table.contact
        {
            font: bold 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            border-color: #ffffff;
            background: #FFFFFF;
            color: #333;
            width: 100%;
        }
        .contact th
        {
            width: 33%;
            border-collapse: collapse;
            background: #EFF4FB;
        }
        .contact td
        {
            font: 12px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            background: #FFFFFF;
            color: #333;
        }
        
        table.estoretable
        {
            font: 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            color: #333;
            width: 100%;
        }
        
        .estoretable th
        {
            padding: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #E5E5E5;
            text-align: center;
            background: #EFF4FB;
        }
        
        .estoretable td
        {
            padding: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #E5E5E5;
        }
        
        .estoretable caption
        {
            padding: 0 0 .5em 0;
            text-align: left;
            text-transform: uppercase;
            color: #333;
            background: transparent;
        }
        .cartitem td
        {
            text-align: right; border-width: 0px; border-color: #FFFFFF;
            }
        .cartitem p
        {
            margin: 0;
            padding: 5px 0;
            font-size: 12px;
        }
        .cartitem label
        {
            font-weight: bold;
        }
        .style2
        {
            width: 345px;
        }
        .style3
        {
            width: 34px;
        }
        .banckInfor p
        {
            padding: 3px 5px 10px 0;
            margin: 0px; float:left;width:100%;
        }
        .banckInfor p label 
        {
            color: black;
            display: inline-block;
            float: left;
            width: 150px;
            text-align: left;
            padding-left: 5px;
        }
    </style>
</head>
<body>
    <table width="720" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family: Arial, Helvetica, sans-serif">
        <tr>
            <td align="left">
                <img src="http://buy.advantech.com/App_Themes/AUS/logo.gif" alt="Advantech eStore" />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <table width="720" border="0" cellpadding="0" cellspacing="0" height="30">
                    <tr>
                        <td width="8" align="left" height="30">
                            <img src="http://buy.advantech.com/App_Themes/AUS/barleft.jpg" width="8" height="30">
                        </td>
                        <td width="704" bgcolor="#E5E5E5" style="background-color: #E5E5E5" height="30">
                            <a title="Home" href="http://buyasc.advantech.com/Default.htm" style="text-decoration: none">
                                <font size="2" color="#767677"><b>Inicio</b></font></a> &nbsp; &nbsp; &nbsp; <a title="Support"
                                    href="http://support.advantech.com.tw/" style="text-decoration: none"><font size="2" color="#767677"><b>Soporte</b></font></a>
                            &nbsp; &nbsp; &nbsp; <a title="Contact Us" href="http://buyasc.advantech.com/ContactUs.aspx"
                                style="text-decoration: none"><font size="2" color="#767677">
                                    <b>Contáctenos</b></font></a>
                        </td>
                        <td width="8" align="right" height="30">
                            <img src="http://buy.advantech.com/App_Themes/AUS/barright.jpg" width="8" height="30">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" height="18" bgcolor="#708AAC" style="background-color: #708AAC; padding: 5px 10px">
                            <div style="color: #FFFFFF; font-size: 12px">
                                [/ourAddress] <br />[/OurTel]
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <!-- START -->
                <table width="100%" border="0" cellspacing="0" cellpadding="6" style="border: 1px solid #CCCCCC;
                    background-color: #FFFFE6" bgcolor="#FFFFE6" align="center">
                    <tr>
                        <td style="font-size: 13px; font-family: Arial;">
                            <div>
                                <b>Estimado [/USERNAME],</b></div>
                            <div style="padding-left: 10px">
                                ¡Gracias por ordenar de nuestra tienda en linea! 
                                <br />
                                Usted puede revisar el estado de su orden en cualquier momento solamente dando <a href="http://[/CLICKHERE]">click aquí</a>. (Por favor permita que pasen 24 horas para que todas las actualizaciones del estado de su orden surtan efecto). 

Si desea contactar a Advantech para obtener más información sobre su orden le recomendamos que tenga el número de la misma a la mano con el objetivo de brindarle un servicio más rápido y eficiente.<br />
                                <br />
                                <table width="90%" border="0" align="center" cellpadding="5">
                                    <tr>
                                        <td style="border-left: 1px solid #CCC" class="banckInfor">
                                            [/BANKINFORMATION]
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Nota:</b>  Por favor envíe por correo electrónico el comprobante de su pago o recibo de transferencia bancaria a la siguiente dirección de correo electrónico. (Favor de hacer referencia al número de orden emitido por Advantech)
                                            <br />
                                            <b>Tel:&nbsp;</b> 1-888-576-9668 &nbsp;<b>email:&nbsp;&nbsp;</b><a href="mailto:buy@advantech.com">buy@advantech.com</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    <tr>
                        <td bgcolor="#FFFFFF">
                            <table width="100%" border="0" cellspacing="2" cellpadding="0">
                                <tr>
                                    <td align="left" colspan="2">
                                        <span style="font-size: 20px; color: #003D7C"><b>Información de ordenes y pagos</b></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%" style="font-size: 14px;">
                                        No. de confirmación:  <b><span style="color: #0033CC">[/ORDERNO]</span></b><br />
                                        <span style="color: #666666">[/PROMOTIONCODE] [/PURCHASENO] [/RESELLERID][/Courier_account]</span><br />
                                    </td>
                                    <td width="60%" align="right" style="font-size: 13px" valign="top">
                                        Fecha de la orden: [/ORDERDATE]
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" background="http://buy.advantech.com/App_Themes/AUS/line.gif" height="1">&nbsp;
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <!-- Contact Info -->
                                        <table width="100%" class="contact">
                                            <tr>
                                                <th>
                                                    Facturar a
                                              </th>
                                                <th>Vendido  a</th>
                                                <th>
                                                    Enviar a
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Atención:</b> [/BILLTOATTENTION]
                                                </td>
                                                <td>
                                                    <b>Atención:</b> [/SOLDTOATTENTION]
                                                </td>
                                                <td>
                                                    <b>Atención:</b> [/SHIPTOATTENTION]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Compañia:</b> [/BILLTOCOMPANY]
                                                </td>
                                                <td>
                                                    <b>Compañia:</b> [/SOLDTOCOMPANY]
                                                </td>
                                                <td>
                                                    <b>Compañia:</b> [/SHIPTOCOMPANY]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Dirección:</b> [/BILLTOADDRESS]
                                                </td>
                                                <td>
                                                    <b>Dirección:</b> [/SOLDTOADDRESS]
                                                </td>
                                                <td>
                                                    <b>Dirección:</b> [/SHIPTOADDRESS]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Tel:</b> [/BILLTOTEL]
                                                </td>
                                                <td>
                                                    <b>Tel:</b> [/SOLDTOTEL]
                                                </td>
                                                <td>
                                                    <b>Tel:</b> [/SHIPTOTEL]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;
                                                    
                                                </td>
                                                <td>&nbsp;
                                                    
                                                </td>
                                                <td>&nbsp;
                                                    
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- Contact Info/ -->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="5">
                                        <!-- CART DETAIL  -->
                                        <table class="estoretable" width="100%">
                                            <tbody>
                                                <thead>
                                                    <tr class="carthead">
                                                        <th>
                                                            Item#
                                                        </th>
                                                        <th width="20%">
                                                            Modelo
                                                        </th>
                                                        <th class="style2">
                                                            Descripción
                                                        </th>
                                                        [/DetailModeTH]<th>
                                                            UnitPrecio
                                                        </th>
                                                        <th>
                                                            Qty
                                                        </th>
                                                        <th>
                                                            SubTotal
                                                        </th>
                                                    </tr>
                                                </thead>
                                                [/CARTITEMS]
                                                <tr class="cartitem">
                                                    <td colspan="[/colspan]">&nbsp;
                                                        
                                                    </td>
                                                    <td colspan="2">&nbsp;
                                                        
                                                    </td>
                                                    <td colspan="3">&nbsp;
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                        <table width="100%" class="estoretable">
                                            <tr class="cartitem">
                                                <td align="left" rowspan="5" valign="top" width="45%">
                                                    [/SHIPPINGMETHOD] [/Courier_account] [/PROMOTIONCODE] [/PURCHASENO] [/RESELLERID][/PAYMENTTYPE]
                                                </td>
                                                <td>
                                                    Sub Total:
                                                </td>
                                                <td>
                                                    [/SUBTOTAL]
                                                </td>
                                            </tr>
                                            <tr id="Freight" class="cartitem">
                                                <td>
                                                    <font color="red">* </font>Envio:
                                                </td>
                                                <td>
                                                    [/FREIGHT]
                                                </td>
                                            </tr>
                                            <tr id="Tax" class="cartitem">
                                                <td>
                                                    <font color="red">* </font>Impuestos([/TAXRATE]):
                                                </td>
                                                <td>
                                                    [/TAX]
                                                </td>
                                            </tr>
                                            <tr id="CartDiscount" class="cartitem">
                                                <td>
                                                    <font color="red">* </font>Descuento:
                                                </td>
                                                <td style="color: #FF0000;">
                                                    [/DISCOUNT]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    Total:
                                                </td>
                                                <td style="font-weight: bold;color: #FF0000;">
                                                    [/TOTAL]
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- CART DETAIL / -->
                                        <p style="font-size: 13px; font-family: Arial;"><b>Comentarios:</b><br /> &nbsp;&nbsp;&nbsp;&nbsp;[/Comment]</p>
                                    </td>
                                </tr>
                            </table>
                            <div style="color: #333; padding-left: 10px">
                                <p style="font-size: 12px;">
                                    <span style="color: red">*</span> Indica un valor estimado</p>
                                <p style="font-size: 12px;">
                                    Las ordenes de compra estan sujetas a revisión, por favor continue para revisar el estado de su orden en los links de arriba 
                                </p>
                                <p style="font-size: 12px;">
                                    Todos los precios estan en Dolares Americanos. </p>
                                <p style="font-size: 12px;">
                                    El precio, especificaciones, disponibilidad y términos de la oferta pueden cambiar sin previo aviso y no son transferibles. Los impuestos, cargos, envios, manejo y cualquier cargo extra pueden variar y no esta sujetos a descuento. </p>
                                <p style="font-size: 12px;">
                                    Si usted esta excento de pagar impuestos en su región, seleccione la opción reventa durante el proceso de pago. </p>
                                <p style="font-size: 12px;">
                                   Cuando la documentación apropiada sea recibida por Advantech los impuestos no serán incluídos en la factura final.

Los dias de envio estimados representan el tiempo aproximado que se toman el procesamiento de su orden y el ensamble del sistema basado en la aprobación de su tarjeta de crédito o terminos netos de compra. El dia estimado de envio no pretende proporcionarle la fecha de envio. El dia de envio puede variar dependiendo de factores como metodo de pago y algunos otros relacionados con la naturaleza de la orden. </p>
                                <p style="font-size: 12px;">
                                   La exportación de cualquier producto o software comprado de Advantech debe ser hecha de acuerdo con todas las leyes aplicables para cada región. Esto puede requerir que usted obtenga una licencia de exportación temporal o hacer ciertas declaraciones ante el gobierno con respecto a los productos a ser exportados, su destino y su uso final.</p>
                                <p style="font-size: 12px;">
                            </div>
                            <!--
						<div style="font-size:13px; padding-left:10px">
						<br />
						<b>Comments: </b><br />
						[/COMMENT]
						</div>
						-->
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-size: 13px; padding-left: 10px">
                                Una vez mas queremos agradecerle por comprar en nuestra tienda en linea, procesaremos su orden tan pronto como sea posible. Llame al siguiente numero [OurTel] en caso de tener alguna duda sobre esta orden.</p>
                            <p style="font-size: 13px;">
                                Saludos Cordiales,
                                <br />
                                <a href="http://[/STOREURL]" style="text-decoration: none; font-weight: bold; color: #000000">
                                    Advantech eStore</a>
                            </p>
                        </td>
                    </tr>
                </table>
                <!-- END -->
                <div>
                </div>
            </td>
        </tr>
        <!-- Footer -->
        <tr>
            <td height="15" bgcolor="#708AAC" style="background-color: #708AAC; text-align: center;
                color: #FFFFFF; font-size: 12px" align="center">
                [/STOREURL] / [/OurTel]
            </td>
        </tr>
        <tr>
            <td height="30" style="text-align: center; border: 1px solid #CCCCCC; background-color: #FFFFE6"
                bgcolor="#FFFFE6" align="center" valign="middle">
                <a href="http://buyasc.advantech.com/resource/aus/terms_and_conditions_aus.pdf" style="text-decoration: none;
                    font-size: 11px"><font color="#555555">Términos y condiciones</font>&nbsp;&nbsp;<font
                        color="#555555">|</font>&nbsp;&nbsp;</a><a href="http://buyasc.advantech.com/Info/ReturnPolicy.htm"
                            style="text-decoration: none; font-size: 11px"><font color="#555555">política de devoluciones</font></a>&nbsp;&nbsp;<font
                                color="#555555"><span style="font-size: 11px;">|</span></font>&nbsp;&nbsp;<a href="http://buyasc.advantech.com/Info/PrivacyPolicy.htm"
                                    style="text-decoration: none; font-size: 11px"><font color="#555555">Privacy Policy</font></a>
            </td>
        </tr>
        <!-- Footer /-->
    </table>
    <br />
    <br />
</body>
</html>
