<ol>
    <li>Advantech allows our customers to place evaluation orders for Advantech Hardware
        to determine whether the item or system will perform in the application as the customer
        expects. <br /></li>
		
    <li>For Approval, the customer should issue a purchase order, sign and date it and fax
        to your Advantech Sales Team at 1-408-519-3899. <br /></li>
		
    <li>Advantech will designated an "option401-Evaluation order" for all Evaluation purchase
        order. <br /></li>
		
    <li>Advantech evaluation orders may be shipped from our stock of refurbished or open
        box inventory but will be in "as new" condition. A system order requiring a Microsoft
        operating system will not include the license sticker. If the customer decides to
        keep the unit, the license sticker will be sent to them after payment in full of
        the invoice. <br /></li>
		
    <li>Material returned to Advantech for credit shall be subject to a restocking charge
        based on the following schedule.*
        <ul>
            <li>CTOS Orders (Orders with Option Codes for Integration)
                <ul>
                    <li>Material requested to be returned within 0-60 days of the original invoice date
                        shall incur a 20% restocking charge. </li>
                    <li>Material requested to be returned with 61-90 days of the original invoice date shall
                        incur a 30% restocking charge. </li>
                    <li>No material shall be accepted for return if requested more than 90 days from the
                        original invoice date. </li>
                </ul>
            </li>
            <li>Component Orders
                <ul>
                    <li>Material requested to be returned within 0-30 days of the original invoice date
                        shall incur a 0% restocking charge. </li>
                    <li>Material requested to be returned with 31-60 days of the original invoice date shall
                        incur a 20% restocking charge. </li>
                    <li>Material requested to be returned within 61-90 days of the original invoice date
                        shall incur a 30% restocking charge. </li>
                    <li>No material shall be accepted for return if requested more than 90 days from the
                        original invoice date. </li>
                </ul>
            </li>
            <li>Note: Software packages are not refundable after activation. </li>
        </ul>
		<br />
    </li>
	
    <li>If more than 30 days are needed for the Evaluation, the customer should advise on
        the Evaluation Application or ask for an extension before the first 30 days have
        past so our A/R Dept will not try to collect the invoice prematurely. Any extension
        beyond 60 days will incur a 20% restocking fee to cover the cost of inspection,
        refurbishment, etc. <br /></li>
		
    <li>If the unit is to be returned due to an unsuccessful evaluation, the customer should
        submit a Credit RMA Request form and Evaluation Questionnaire form within the approved
        evaluation period. These forms are available for download on Advantech's eStore.com or
        you may contact an Advantech Sales Assistant to obtain them. Simply complete the
        forms, sign and date them and fax to your Advantech Sales Team at 1-408-519-3899.
        The Evaluation Questionnaire form is required to know why the unit did not meet
        the purpose or expectations of the application. This questionnaire must be answered
        and returned with the Credit RMA Request form to receive the Advantech Authorized
        RMA number and 0 percent restocking charges..
        <ul>
            <li><a href="/Resources/AUS/Evaluation_Return_Questionnaire_Form.pdf"  target="_blank" >Download Evaluation Return Questionnaire form</a> </li>
        </ul>
		<br />
    </li>
	
    <li>If the appropriate forms are not received within the approved evaluation period,
        restocking charges as dictated by the standard Advantech Return Policy shall apply
        to the returned items. <br /></li>
		
    <li>Customers are expected to keep equipment that meets the approval or specification
        desired unless it is noted on the original evaluation request that the evaluation
        is for a long term project and/or future requirements that are based on acceptance
        of the Advantech product. <br /></li>
		
    <li>Any material ordered as an Evaluation and returned to Advantech must be returned
        in resalable condition and with all manuals, hardware, disks, cables, etc. or additional
        restocking charges will be accessed to cover the cost to refurbish or replace missing
        parts. <br /></li>
		
    <li>Outbound freight charges on Evaluation orders are NOT credited if the unit is returned
        and the customer is responsible for the freight charges when returning the material
        to Advantech. <br /></li>
		
    <li>The evaluation policy is not a method to "borrow" Advantech Equipment for purposes
        not related to a valid project or need. If it is found that equipment has been used
        for this type of purpose, the return of the equipment in question will be subject
        to Advantech's standard return policy. <br /></li>
		
    <li>Any questions related to this policy should be directed to your Advantech Sales
        Team. <br /></li>
</ol>
