<ol>
    <table width="585" border="0" align="center" cellpadding="4">
      <tr>
        <th width="585" align="center" scope="row"><i>Note:</i> An RMA NUMBER MUST BE OBTAINED from our staff prior to returning any products. ANY RMA RETURNED 
WITHOUT AN RMA NUMBER WILL BE REJECTED BY OUR SHIPPING DEPARTMENT. All RMA numbers are valid for 30-DAYS from the date of issuance.
&nbsp;</th>
      </tr>
    </table>
    <p>
</p>
    <li>All returns to Advantech for credit must be authorized in advance with an Advantech Return Material Authorization Number. To receive your RMA number, the customer should download the Credit RMA form from the Advantech's eStore/Advantech website or request the form from their Sales Representative. Complete the form, sign and date them and fax to your Advantech's eStore/Advantech Sales Team at 408-519-3899.
        <p>
            <a href="/Resources/AUS/Credit_Return_Request_Form.pdf" target="_blank">Download Credit RMA form</a>
        </p>
    </li>
  <li>Credit Return Restocking Fees: Material returned to Advantech for credit shall be subject to a restocking fee based on the following schedule:
      <br />
        <br />
      <table>
          <tr>
              <td><strong>Within 15 days from the invoice date: </strong></td>
          </tr>
          <tr>
              <td>
              </td>
          </tr>
          <tr>
              <td>
                <ul type="disc">
                  <li>0% for standard products</li>
                    <li>20% minimum restocking fee for Build-to-order systems & Boards with SW pre-loaded</li>
                    
              </ul></td>
  </tr>
          <tr>
              <td>
              </td>
          </tr>
          <tr>
              <td>
                  <span class="12blue"><strong>16 to 30 days from the invoice date:</strong></span>
              </td>
          </tr>
          <tr>
              <td>
              </td>
          </tr>
          <tr>
              <td height="40">
                  <ul type="disc">
                    <li>10% for standard products</li>
                      <li>20% minimum restocking fee for Build-to-order systems &amp; Boards with SW pre-loaded</li>
                      
                  </ul>
              </td>
          </tr>
      </table>
    </li>
<br />
    <li><p>No material shall be accepted for return if shipped more than 30 days from the original invoice date. </p></li>
    <li><p>Returns are only acceptable in NEW condition. The products must be in their original packaging, including anti-static bags, etc.  Advantech reserves the right to assess additional restocking fees to cover damages or missing items discovered upon return and inspection by the Advantech RMA Dept. </p></li>
    <li>
        <p>
            Customers are responsible for all freight charges to return material to Advantech.</p>
    </li>
    <li>
        <p>
            In no case will outbound freight charges billed on the original invoice be credited to the customer when material is returned.</p>
    </li>
    <li>
        <p>
            Returns for Special Order material or material not normally stocked by Advantech will be authorized for return only if our Vendor will accept the material for return. If accepted, any restocking charges imposed by our Vendor for this material above and beyond our normal restocking fees will be passed along to the customer.</p>
    </li>
    <li>
      <p>All  special order items labeled as X and Y part numbers are Non Returnable. </p>
    </li>
        
    <li><p>Once an RMA is issued for return of material, it is valid for 30 days. It is the responsibility of the customer to ensure the material is returned within this time frame.</p>
    </li>
    <li>
        <p>
            Material returned to Advantech that is not shown on the initial Credit RMA request will be returned to the customer at their expense. Any RMA returned without an RMA number will be rejected by our shipping department.</p>
    </li>
    <li>
      <p>All software items may only be returned if the license agreement seal has not been broken. </p>
    </li>
    <li>
      <p> Assembly, test and burn-in, freight and other service charges are NOT refundable. </p>
    </li>
    <li>
        <p>
            Advantech reserves the right to revise any part of the above without notice.</p>
    </li>
</ol>
