<h1>
    Glossary <font size="2">- we are here to help you</font></h1>
<a name="glossary"></a>
<p align="center">
    <font color="006600" class="title_med"><a href="#A">A |</a><a href="#B"> B |</a><a
        href="#C"> C |</a> <a href="#D">D |</a> <a href="#E">E |</a> <a href="#F">F |</a>
        <a href="#G">G |</a> <a href="#H">H |</a> <a href="#I">I |</a><br>
        <br>
        <a href="#L">L |</a> <a href="#M">M |</a> <a href="#N">N |</a> <a href="#O">O |</a>
        <a href="#P">P |</a> <a href="#R">R |</a> <a href="#S">S |</a> <a href="#T">T |</a></font></p>
<div>
    <a name="A"></a>
    <dl>
        <dt class="blueTitle">Accuracy</dt>
        <dd class="text">
            Accuracy is the deviation of a measurement from a known standard. Accuracy is normally
            specified in percent.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">ADCs - Analog-to-Digital Converter</dt>
        <dd class="text">
            ADC is used to convert DC voltage from transducers into digital words (data). The
            voltage represents a temperature. pressure, flow, pH, or speed and must converted
            to a digital word before it can be passed to an intelligent device like a computer.</dd></dl>
    <dl>
        <dt class="blueTitle">Alarm Reporting/logging</dt>
        <dd class="text">
            An alarm reporting/logging can show the steps that led to a production line being
            shut down and the points on the line to be checked before starting it again.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Amplifier</dt>
        <dd class="text">
            Amplifiers are used to boost the analog level (voltage) of the signal.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">ANSI C - American Electronics Standards Institute C language
        </dt>
        <dd class="text">
            The ANSI sets standards for data and communication codes, and for programming and
            data management languages.</dd></dl>
    <dl>
        <dt class="blueTitle">Annunciator Panel/Screen</dt>
        <dd class="text">
            An annunciator panel/screen shows both essential information and alarms to provide
            danger level coding and display multiple alarm messages.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">AO - Analog Output</dt>
        <dd class="text">
            The D/A converter performs the opposite function of an A/D converter. It interprets
            commands from the computer and outputs the proper DC voltage or current. The output
            stays at this output level until the computer tells the D/A converter to output
            a new value.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">API - Application Programming Interface</dt>
        <dd class="text">
            API allows access to two layers of the open systems interconnect (OSI) model and
            provides high-level calls to the program for general purpose, name, data, and session
            support.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Attenuator</dt>
        <dd class="text">
            Attenuators are used to lower the analog level (voltage) of a signal.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">AUI</dt>
        <dd class="text">
            Attachment Unit Interface</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="B"></a>
    <dl>
        <dt class="blueTitle">BASIC</dt>
        <dd class="text">
            Beginners All Purpose Symbolic Instruction Code</dd>
    </dl>
    <dl>
        <dt class="blueTitle">BCD</dt>
        <dd class="text">
            Binary Coded Decimal</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Bit-mapped graphics</dt>
        <dd class="text">
            Bit-mapped graphics require you to use graphics-oriented software, or drawing tools
            and libraries of symbols which you may be able to modify.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Bridge Measurement</dt>
        <dd class="text">
            Strain gages change resistance so slightly (0.00024 ohms per microstrain) that a
            bridge circuit is needed to see it. The bridge in effect highlights this small resistance
            change in the form of a voltage. Strain gages multiplexers normally contain this
            bridge circuitry including the DC voltage power supply. Quarter-, Half-, and Full-bridge
            configurations can be used for increased sensitivity.</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="C"></a>
    <dl>
        <dt class="blueTitle">CAN - Control Area Network/div&gt;</dt>
        <dd class="text">
            The CAN is a serial bus system especially suited for networking symbol 147 \f "Times
            New Roman"intelligentsymbol 148 \f "Times New Roman" I/O devices as well as sensors
            and actors within a machine or plane.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Character graphics</dt>
        <dd class="text">
            Character graphics offer special graphics characters (such as motors, pumps, pipes,
            and tanks) which you display as special, or “alternate” letters or numbers on the
            screen.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">CJC - Cold- Junction Compensation</dt>
        <dd class="text">
            The CJC let you make direct temperature measurements from thermocouple transducer.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Close-loop Control</dt>
        <dd class="text">
            The close-loop control is more sophisticated. The measurement hardware makes a measurement
            and the results is compared to the desired value (called the setpoint). Using the
            error value (difference between measured value and desired value), the computer
            performs one or more calculations and sends out a control value. The control value
            is used by the control hardware to effect a change.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">CMOS</dt>
        <dd class="text">
            Complementary Metal Oxide Semiconductor</dd>
    </dl>
    <dl>
        <dt class="blueTitle">CMRR </dt>
        <dd>
            Common Mode Rejection Ratio</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Common Mode Noise</dt>
        <dd class="text">
            Electrical interference on both signal leads of an analog measurement which change
            simultaneously relative to ground. Common mode noise most often results when the
            ground potential between the measuring instrument and the device being measured
            are different. The difference in grounds results in a ground loop, a current flowing
            through ground and the low lead. Once this current appears in the low lead wire
            it will cause a voltage because the wire has some resistance. The longer the lead,
            the more lead resistance and greater the voltage error.</dd>
    </dl>
    <div>
        <font size="2" color="#ff9900">TIP : To reduce common mode noise, use a guarded voltmeter.
            Tie the guard to the low side of the device being measured. This will shunt any
            ground loop currents away from the high and low measurement wires.</font>
    </div>
    <dl>
        <dt class="blueTitle">Crosstalk</dt>
        <dd class="text">
            The coupling of signals from one conductor to another nearby conductor, by magnetic
            or capacitive coupling.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">C/T - Counter/Timer</dt>
        <dd class="text">
            The counter card can be used to sense the presence or absence of a voltage, much
            like digital input card. The counter is used to count the number of electronic pulses
            (totalize), the duration of the pulse (pulse width), or the rate of pulses (frequency)
            coming out of an external device.</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="D"></a>
    <dl>
        <dt class="blueTitle">DAS products Abound</dt>
        <dd class="text">
            vDAS products can be broken down into the following categories : board level products,
            data loggers and packaged box/level products, integrated computer driven systems,
            and products from software-only supplier with choices of I/O hardware drivers.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Data Acquisition</dt>
        <dd class="text">
            Data Acquisition systems make various types of physical measurements such as temperature,
            pressure, flow, strain, position and speed using electronic equipments. The data
            collected is usually sent to a computer for analysis and display.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Data Loggers</dt>
        <dd class="text">
            Data logging is the process of collecting information about a process while it is
            running. Data logging can be as simple as counting the number of parts number, or
            as complex as recording process times, pressures, temperatures, and part measurements.</dd>
        <dd class="text">
            Data logging not only “keep score”, but also certifies that a process was performed
            properly, observed and helps predict normal and abnormal process changes and trends,
            and analyzes what happened in the event of a process failure.</dd>
        <dd class="text">
            A well designed data logging screen can graphically show trend data, current data
            values, and statistics for various historical conditions.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">DCE - Data Communication Equipment/Data Circuit terminating Equipment</dt>
        <dd class="text">
            Use to specify the receiving station.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">DDC - Direct Digital Control</dt>
        <dd class="text">
            The control of a process by a digital computer by directly adjusting the correcting
            conditions of that process. The computer thereby replaces the function of conventional
            instrument controllers.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">DDE</dt>
        <dd class="text">
            Dynamic Data Exchange</dd>
    </dl>
    <dl>
        <dt class="blueTitle">DI - Digital Input</dt>
        <dd class="text">
            A digital input card is used to determine whether an external device is on or off
            by sensing the presence or absence of a voltage. The DI can only report ON/OFF status
            and not the value of the voltage on each channel (sometimes called a bit). The bit
            is considered to be ON if the voltage exceeds a certain value.
        </dd>
        <dd class="text">
            Digital cards are usually 8, 16, or 32 channels. They can monitor a number of devices.
            For example, a digital card can be attached to a single operator panel to sense
            the position of switches on that panel.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Digital Noise</dt>
        <dd class="text">
            Digital circuitry passes information in the form of voltages, switching from high
            to low at high speeds. This activity creates high frequency noise that can easily
            be transferred to analog signals that come in close proximity.</dd>
    </dl>
    <div>
        <font size="2" color="#ff9900">TIP : Never allows sensitive signals to pass near digital
            circuitry like that found in a computer. (Cards plugged into a PC may be susceptible
            to digital noise present in the computer).</font>
    </div>
    <dl>
        <dt class="blueTitle">DLL</dt>
        <dd class="text">
            Dynamic Link Library</dd>
    </dl>
    <dl>
        <dt class="blueTitle">DMA - Direct Memory Access</dt>
        <dd class="text">
            A method of transferring data from or to memory at a high rate without involving
            the CPU.</dd>
        <dd class="text">
            DMA is the hardware/software technique that allows the highest speed transfer of
            data, to or form random memory (RAM) . Given the potentially more expensive hardware.
            DMA can provide the means to read or write data at precise times without restricting
            the microprocessor‘ tasks. For example, one system under DMA control can read or
            write any combination of analog, digital or counter/timer data to or from RAM at
            rates up to 360KB/second. This is accomplished without taking time from the other
            tasks of the microprocessor. The amount of time required to respond to a DMA request
            is very small compared to the time required to service an interrupt. This makes
            the goal of foreground/background operation, at high speed, possible.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">DO - Digital Output</dt>
        <dd class="text">
            The digital output card interprets a command from the computer and outputs a high
            or low voltage on each of its channels (bits). It is commonly used to turn on/off
            small lights or to send digital words to machinery.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">DSP</dt>
        <dd class="text">
            Digital Signal Processors</dd>
    </dl>
    <dl>
        <dt class="blueTitle">DTE - Data Terminal Equipment</dt>
        <dd class="text">
            Use to specify the transmitting station.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">DTL</dt>
        <dd class="text">
            Diode Transistor Logic</dd>
    </dl>
    <dl>
        <dt class="blueTitle">DVM- Digital Voltmeter</dt>
        <dd class="text">
            Electrical instrument that measures electrical voltages, and display with digital
            number.</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="E"></a>
    <dl>
        <dt class="blueTitle">Electromagnetic noise</dt>
        <dd class="text">
            A magnetic field that is changing will cause a current to flow in a conductor running
            through it. Conversely, a current flowing is a wire has a magnetic field associated
            with you. Therefore, one wire with a current flowing in it can cause a current to
            flow in another wire (conductive coupling).</dd>
    </dl>
    <div>
        <font size="2" color="#ff9900">TIP : Whenever possible, keep signal lines away from
            noise sources (i.e. other wires carrying large currents).</font>
    </div>
    <div>
        <font size="2" color="#ff9900">TIP : To eliminate interference currents, twist your
            wire pairs so that the current induced into one loop cancels out the current induced
            in an adjacent loop. This is a simple, no-cost way to reduce electromagnetic noise.</font>
    </div>
    <dl>
        <dt class="blueTitle">Electrostatic noise</dt>
        <dd class="text">
            A voltage on one wire can be capacitively coupled to an adjacent parallel wire as
            a result of an electric field. The signals from power lines are the most common
            noise sources.</dd>
    </dl>
    <div>
        <font size="2" color="#ff9900">TIP : Whenever possible, run signal lines away from noise
            sources (i.e. other unshielded wires carrying large voltages).</font>
    </div>
    <div>
        <font size="2" color="#ff9900">TIP : Use shielded wire to reduce the effects of capacitive
            coupling. The voltage will couple to the shield and not to the protected wire.</font>
    </div>
    <div>
        <font size="2" color="#ff9900">TIP : Ground one end of the shield to keep voltages built-up
            on the shield from capacitively coupling to the protected wire. NEVER ground both
            ends of the shield!</font>
    </div>
    <div>
        <font size="2" color="#ff9900">TIP : For the best possible temperature measurements,
            use a shielded thermocouple and a guarded voltmeter. Tie the shield to the thermocouple
            junction and to guard. Do NOT ground the shield.</font>
    </div>
    <div>
        <font size="2" color="#ff9900">TIP : If not using a three-wire (shielded) thermocouple,
            tie guard to low. Leaving guard unattached will not make use of its ability to reduce
            noise.</font>
    </div>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="F"></a>
    <dl>
        <dt class="blueTitle">FET</dt>
        <dd class="text">
            Field Effect Transistor</dd>
    </dl>
    <dl>
        <dt class="blueTitle">FET switch </dt>
        <dd class="text">
            Field Effect Transistor Switch</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Field-effect transistor switch</dt>
        <dd class="text">
            a solid state device that either allows or prohibits a signal from passing through
            it - commonly used in solid state multiplexers.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">FFT</dt>
        <dd class="text">
            Fast Fourier Transform</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Flash Convertor</dt>
        <dd class="text">
            The Flash convertor compares the input voltage (Vin) to a set of known (reference)
            voltages (comparator). A digital value (0 or 1) is assigned based on the results.
            If any noise is present on the signal at the time it is digitized, the digital word
            will reflect that error. Flash converters tend to expensive because of the cost
            of accurate voltage references.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Flow chart</dt>
        <dd class="text">
            Graphical representation of the major stages performed by a program.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Filter</dt>
        <dd class="text">
            Filters are electrical circuits that are used to reduce noise on signals. A low
            pass filter only allows low frequency signals to get to the measurement hardware
            - high frequency (noise) signals are attenuated. Filters have the disadvantage of
            slowing down the response the signal.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">FINS</dt>
        <dd class="text">
            Factory Intelligent Network Service</dd></dl>
    <dl>
        <dt class="blueTitle">Frequency</dt>
        <dd class="text">
            Frequency measurements are common measurements made on flow and RPM transducers.
            These transducers output a series of pulses proportional to the rate of movement.
            The counter records the number of pulses (counts) per unit of time (gate). Frequency
            is the count divide by the gate time.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">FSR</dt>
        <dd class="text">
            Full Scale Range</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="G"></a>
    <dl>
        <dt class="blueTitle">GAL </dt>
        <dd class="text">
            Generic Array Logic</dd></dl>
    <dl>
        <dt class="blueTitle">Gain - Magnitude ratio</dt>
        <dd class="text">
            For a linear system or element, the ratio of the magnitude (amplitude) of a steady-state
            sinusoidal output relative to the causal input; the length of a phasor form the
            origin to a point of the transfer locus in a complex plane.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">GPIB - General Purpose Interface/ Instrument Bus</dt>
        <dd class="text">
            A standard for IEEE-488 communication interface.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Grounding</dt>
        <dd class="text">
            There are two definitions of ground : First is a signal ground is an equippotential
            circuit reference point for a circuit or a system; The other is a signal ground
            is a low impedance path for current to return to the source. The design objectives
            of a grounding system are : to minimize the noise voltage generated by currents
            from two or more circuits flowing through a common ground impedance; to avoid creating
            ground loops which are susceptible to magnetic fields and differences in ground
            potential.</dd>
        <dd class="text">
            Improper grounding can be a primary noise source. Grounds can be divided into two
            parts; safety and signal grounds. Safety grounds are provided so that a breakdown
            in impedance between the equipment chassis and the high voltage line of the power
            line will result in a low impedance path to ground.</dd>
        <dd class="text">
            Ground loops in very noisy environments can be broken by the use of isolation transformers
            or devices. The high frequency circuits require multiple grounding to reduce noise
            in the signal path.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">GUI - Graphic User Interface</dt>
        <dd class="text">
            The GUI are the portion of the software that the user deals with directly. It can
            vary from a language editor to menu-driven displays to an iconic display.</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="H"></a>
    <dl>
        <dt class="blueTitle">HP-IB - Hewlett-Packard Interface Bus</dt>
        <dd class="text">
            HPIB - implementation of the IEEE-488 standard - mechanical and electrical protocol
            (parallel) for sending data and commands between instruments and computers.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">HMI - Human Machine Interface</dt>
        <dd class="text">
            The HMI are the portion of the software that the user deals with directly. It can
            vary from a language editor to menu-driven displays to an iconic display.</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="I"></a>
    <dl>
        <dt class="blueTitle">I.C. Sensor</dt>
        <dd class="text">
            The IC sensor is a transducer for temperature measurement. Its advantages are most
            linear, highest output, and inexpensive, usually used for CJC circuit. Its disadvantages
            are power supply required, slow response, self-heating, and limited configurations.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Integrating A/D convertor</dt>
        <dd class="text">
            The integrating A/D convertor integrates the input signal over a period of time.
            Over that time period the noise on the input signal is integrated to zero, leaving
            the actual signal value. Most noise is related to power lines and exists at 60Hz
            in the U.S. and Canada and at 50 Hz in Europe and other parts of the world.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Interrupts data transfer</dt>
        <dd class="text">
            Interrupts to provide a means of tightly controlling the timing of events, while
            allowing the processing of more than one task. Multitasking systems are also known
            as “foreground/background” systems. One way of putting data acquisition in the background,
            is to relegate it to an interrupt routine. The clock or external timing signal,
            rather than being polled continuously, is used to generate an interrupt to the computer.
            Whenever the interrupt occurs, the computer suspends current activity, and executes
            an “interrupt service routine”. The interrupt service routine in this case might
            be a short program which acquires one frame of data, and stores it in memory. The
            computer can perform other operations in the foreground while collecting data in
            the background. Whenever a clock tick or external interrupt occurs, the computer
            will automatically stop the foreground processing, acquire the data, and then resume
            where it left off.</dd>
        <dd class="text">
            The reaction speed of the interrupt system is much higher than that of a polling
            loop. Speed, for a PC, is about 10K ~ 30K Hz in the interrupt mode.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Isolation</dt>
        <dd class="text">
            Isolation circuits are used to protect sensitive measurement circuitry from interference
            currents or voltages. These circuits are useful when the external voltage (from
            a transducer) is different than expected by the measurement hardware.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Isothermal Block</dt>
        <dd class="text">
            Terminal block specially designed to be at a constant temperature from one end to
            the other - used with thermocouples.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">ISR </dt>
        <dd class="text">
            Interrupt Service Routine</dd></dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <dl>
        <dt class="blueTitle">Memory models for the assembler - Compact type</dt>
        <dd class="text">
            All code fits into a single 64K byte code segment, and data fits into more than
            one data segment.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Memory models for the assembler - Flat type</dt>
        <dd class="text">
            Not available in MASM version 5.10. The flat memory model uses one segment with
            a maximum length of 512M bytes to store data and code.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Memory models for the assembler - Huge type</dt>
        <dd class="text">
            Same as large, but allows data segments that are larger than 64K bytes.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Memory models for the assembler - Large type</dt>
        <dd class="text">
            Both code and data fit into multiple code and data segments.</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="L"></a>
    <dl>
        <dt class="blueTitle">LPF - Low Pass Filter</dt>
        <dd class="text">
            A low pass filter only allows low frequency signals to get to the measurement hardware
            - high frequency (noise) signals are attenuated. Filters have the disadvantage of
            slowing down the response the signal.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">LSB</dt>
        <dd class="text">
            Least Significant Bit</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="M"></a>
    <dl>
        <dt class="blueTitle">Memory models for the assembler - Medium type</dt>
        <dd class="text">
            All code fits into a single 64K byte code segment, and all code fits into more than
            one 64K byte code segment. This allows code to exist in multiple segments.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Memory models for the assembler - Small type</dt>
        <dd class="text">
            All code fits into a single 64K byte code segment and all code fits into another
            single 64K byte code segment. This allows all code to be accessed with near jumps
            and calls.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Memory models for the assembler - Tiny type</dt>
        <dd class="text">
            All data and code fit into one segment, the code segment. Tiny model programs are
            written in the .COM file format, which means that the program must be originated
            at memory location 0100H. This model is most often used with small programs.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">MSB</dt>
        <dd class="text">
            Most Significant Bit.</dd></dl>
    <dl>
        <dt class="blueTitle">Multidrop communication</dt>
        <dd class="text">
            A multidrop communication line connects multiple devices together on a common transmission
            line for communication with each other.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Multiplexer</dt>
        <dd class="text">
            Multiplexers are electronic devices that are used to switch multiple channels to
            a single measurement instrument, one at a time. They operate much the same way as
            television set; although several channels are available, only one channel is viewed
            at a time.</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="N"></a>
    <dl>
        <dt class="blueTitle">Network</dt>
        <dd class="text">
            A communication link between PLCs, workstations, industrial equipment, and other
            devices.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Normal Mode Noise</dt>
        <dd class="text">
            Voltage differentially between two wire that appears to be part of the input signal.
            The noise is the most difficult to eliminate because it appears to be part of the
            signal. Normal mode noise can occur as a result of common mode, electrostatic, or
            electromagnetic noise finding its way to the signal. In most cases, the noise is
            related to AC power lines. If so, it appears as a 50 or 60 Hz sine wave added to
            the DC voltage that we want to measure. A filter can be used to reduce 50 or 60
            Hz but the slow response of the filter will slow down the measurements speed. Filters
            also inject some errors of their own.</dd>
    </dl>
    <div>
        <font size="2" color="#ff9900">TIP : The best way to eliminate power line noise is with
            an integrating voltmeter. The noise signal is integrated out with only minimal loss
            of speed.</font></div>
    <dl>
        <dt class="blueTitle">NTC</dt>
        <dd class="text">
            Negative Temperature Coefficient</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="O"></a>
    <dl>
        <dt class="blueTitle">ON/OFF control</dt>
        <dd class="text">
            ON/OFF control is the simplest of control. A switch card is used as the control
            hardware to turn something on or off.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Open-loop Control</dt>
        <dd class="text">
            Open-loop control is generally used in the characterization of a product or process.
            The product, for instance, is run through a series of tests and the results are
            collected.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Optical isolators</dt>
        <dd class="text">
            Optical isolators are used with digital circuitry to shield high voltage signals
            from affecting digital circuitry.</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a></div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="P"></a>
    <dl>
        <dt class="blueTitle">PAL</dt>
        <dd class="text">
            Programmable Array Logic</dd>
    </dl>
    <dl>
        <dt class="blueTitle">PCLD-RMK-3U</dt>
        <dd class="text">
            19 inch Rackmount Adapter for PCLD-series Daughterboards(3 units wide).</dd>
    </dl>
    <dl>
        <dt class="blueTitle">PID - Proportional, Integral, Derivative</dt>
        <dd class="text">
            A PID controller or PID loop, constantly reads and manipulates an output condition
            so that a process variable is maintained at a set-point.</dd>
        <dd class="text">
            The PID algorithm combines P-value proportional to the error value, I-value a time
            integral (accumulation of past errors), and D-value a time derivative (rate of change)
            of the error value. The P, I, and D factors may vary depending on the process being
            controlled.</dd>
        <dd class="text">
            PID control has the advantage of being able to respond to rapidly changing errors
            before they get too large and yet send out control values that will not cause the
            process to overreact.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">PLC - Programmable Logic Controller</dt>
        <dd class="text">
            A standard hardware device to control plant startup, running and shutdown sequencing,
            which may be readily altered to suit changed operating conditions.</dd>
        <dd class="text">
            PLC are electronic replacements for traditional industrial hard-wired relay panels.
            Available from a wide variety of manufacturers for all purposes, PLCs offer more
            control and are much easier to install and use than relay panels.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">PO - Pulse Output</dt>
        <dd class="text">
            The pulse output card is a combination of a digital output card and an arbitrary
            waveform generator. Like the waveform generator it contains a clock. It outputs
            a series of pulses at varying rates. The most common use of a pulse output card
            is to control stepper motors.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Polling</dt>
        <dd class="text">
            Polling is the simplest method for detecting a unique condition and then taking
            action. This involves a software loop that contains all of the required measurement,
            analysis, decision-making algorithms and planned actions. The data acquisition program
            periodically tests the system‘s clock or external trigger input to sense a transition.
            Whenever a transition occurs, the program then samples each of the inputs and stores
            their values in a “frame”. A frame is simply a list that contains the values representing
            the specified inputs at a given time. The frames can be stored in RAM, disk or other
            types of memory. Each time the program senses a clock “tick”, the inputs are scanned
            and converted, and a new frame is added to memory. In this mode, generic PC/AT’s
            can support an acquisition rate of about 10Khz.</dd>
        <dd class="text">
            In addition, the PC is continuously busy when the polling loop is operational, and
            hence no other tasks can be serviced. When an application cannot tolerate these
            characteristics, interrupt techniques may be needed.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Power Line Noise</dt>
        <dd class="text">
            Electrical interference caused by radiation from power cables or machinery in the
            vicinity of the signals to be measured.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Pseudo Diff. Input - Pseudo Differential Input</dt>
        <dd class="text">
            The pseudo-differential configuration brings the common lines of all channels back
            to the systemsymbol 145 \f "Times New Roman"s front end on two lines : AGND and
            IN LO. Choose pseudo-differential inputs over single-ended inputs whenever your
            setup can accommodate more than one ground wire.</dd>
        <dd class="text">
            If your sensor is not grounded, you should install a resistor between IN LO and
            AGND. You should also install a resistor between each channelsymbol 145 \f "Times
            New Roman"s input line and AGND. The resistors will protect your system from common
            mode voltages. Any induced currents in the sensor line will travel down the low
            impedance AGND line to ground and away from the high impedance IN LO line, ensuring
            the integrity of your measurements.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">PTC</dt>
        <dd class="text">
            Positive Temperature Coefficient</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Pulse Width</dt>
        <dd class="text">
            Pulse Width measurements are used to determine the length of time a pulse stays
            at a high (or low) voltage level. One practical application is to use a sensor and
            measure the amount of time it takes an objects to pass this sensor. This measurement
            can be used to determine the speed of a known object or if speed is known, the length
            of an object where size is not known.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">PRTD - Platinum Resistance Temperature Detector</dt>
        <dd class="text">
            A temperature transducer RTD made by platinum metal.</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="R"></a>
    <dl>
        <dt class="blueTitle">RDAC</dt>
        <dd class="text">
            Remote Data Acquisition and Control</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Rectifiers</dt>
        <dd class="text">
            Rectifiers are used to convert an AC signal into a DC signal. Some application call
            for an AC measurement. If your A/D converter does not measure AC signals, a rectifier
            would be needed to convert the signals to DC voltage levels.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Relay Configurations</dt>
        <dd class="text">
            Simple relay configurations may be used in applications from the power to the device
            under test (DUT) to forming a complex matrix topology for measurements. Some of
            the most common configurations consist of from A, form B, and form C configurations
            which can be linked together to form binary switching networks which guarantee that
            only one point can be connected to any other point at a time. Similarly, these can
            be configured to form measurement buses for the connection of many points to one
            point at a time. For the most part, this configuration is used for simple on-off
            switching of power rather than signals.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Resolution </dt>
        <dd class="text">
            Resolution is the smallest change that a measurement instrument can sense. Resolution
            is normally specified in bits.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">RS-232</dt>
        <dd class="text">
            RS-232 a low-cost and reliable standard for low speed, point to point communications
            at distances up to 50 feet (15 meters). The biggest drawback to RS-232 communications
            is that plant floor environments often generate electrical noise and transients
            which can cause errors in transmission and damage to the interface components.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">RS-422</dt>
        <dd class="text">
            RS-422 communications, with its balanced transmission and receiving modes, improve
            the reliability of transmitted data to make RS-422 preferred over RS-232 communications.
            Additionally, RS-422 communications allow you to specify a master workstation for
            multidrop connections to create a small network. The RS-422 standard permits transmissions
            up to 4000 feet (125 meters).</dd>
    </dl>
    <dl>
        <dt class="blueTitle">RS-485</dt>
        <dd class="text">
            The RS-485 standard includes all of the improved communications features of RS-422,
            but also allows you to operate using multiple master workstations with only a smaller
            and less expensive communication cable. half duplex, differential signal, two wire
            connection</dd>
    </dl>
    <dl>
        <dt class="blueTitle">RTD - Resistive Temperature Detector</dt>
        <dd class="text">
            A transducer that changes resistance proportional to its temperature. Its advantages
            are most stable, most accurate, and more linear than thermocouple. Its disadvantages
            are expensive, slow response time, current source required, small resistance change,
            4 wire measurement, and self-heating.</dd>
        <dd class="text">
            RTD requires a four-wire ohms measurement in order to get a reliable reading, especially
            if the RTD is located several feet from the DAC system.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">RTL</dt>
        <dd class="text">
            Resistor Transistor Logic</dd>
    </dl>
    <dl>
        <dt class="blueTitle">RTS - Request To Send</dt>
        <dd class="text">
            Handshaking signals, are normally used to control the direction of the data flow
            for RS-485.</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="S"></a>
    <dl>
        <dt class="blueTitle">SCADA - Supervisory Control and Data Acquisition</dt>
        <dd class="text">
            SCADA is the name applied to the control of pipe lines, production wells, etc.,
            through telemetry to a central computer.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Seebeck</dt>
        <dd class="text">
            When two wires composed of dissimilar metals are joined at both ends and one of
            the ends is heated, there is a continuous current which flows in the thermoelectric
            circuit. Thomas Seebeck made this discovery in 1821. If this circuit is broken at
            the center, the net open circuit voltage (the Seebeck voltage) is a function of
            the junction temperature and the composition of the two metals. All dissimilar metals
            exhibit this effect.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">S.E. Input - Single Ended Input</dt>
        <dd class="text">
            A single-ended configuration is best when you need to make analog measurements with
            respect to a common external ground. This configuration is also appropriate when
            there is no practical way to bring both a signal ground and an analog ground (AGND)
            back to the systemsymbol 145 \f "Times New Roman"s input terminals.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Sensor</dt>
        <dd class="text">
            Device that converts a physical parameter such as temperature, pressure, flow, strain,
            or position into an electrical signal - sometimes used synonymously with transducer
            - a true sensor contains signal conditioning so its output is more easily measured.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">S/H - Sample and Hold</dt>
        <dd class="text">
            Measurement hardware that is used to capture events on multiple channels - when
            triggered, hardware will hold value of input until a measurement can be made.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Shielding</dt>
        <dd class="text">
            An extra layer of conductive material surrounding a wire to prevent external electrical
            signals from interfering with the signal on the wire.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Signal Conditioning</dt>
        <dd class="text">
            To electrically amplify, reduce, eliminate, or change a signal - used to alter signals
            (eliminate noise) before they are measured in order to get more accurate measurements.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">SPC - Statistical Process Control</dt>
        <dd class="text">
            SPC is a tool used to improve productivity and reduce costs.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">SPEC - System Performance Evaluation Consortium</dt>
        <dd class="text">
            SPEC benchmarks are to workstations what FFTs are to DSPs - the most popular metric
            of performance comparison.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">SPDT relay</dt>
        <dd class="text">
            Single-Pole Dual-Throw relay</dd>
    </dl>
    <dl>
        <dt class="blueTitle">SPST relay </dt>
        <dd class="text">
            Single-Pole Single-Throw relay</dd>
    </dl>
    <dl>
        <dt class="blueTitle">SQC - Statistical Quality Control</dt>
        <dd class="text">
            SQC is a tool used to improve productivity and reduce costs.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">SQL</dt>
        <dd class="text">
            Structured Query Language</dd>
    </dl>
    <dl>
        <dt class="blueTitle">SSR</dt>
        <dd class="text">
            Solid State Relay</dd></dl>
    <dl>
        <dt class="blueTitle">Stepper Motor</dt>
        <dd class="text">
            Electro-mechanical device that rotates(or moves) proportional to pulses it receives
            from a stepper motor controller - DAC system sometimes contain stepper motor controllers
            - used for positioning equipment.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Strain</dt>
        <dd class="text">
            Change in length of a material divided by its total length - strain measurements
            are used in order to calculate the stress on a material.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Successive Approximation A/D</dt>
        <dd class="text">
            The successive approximation A/D is less expensive than a flash converter. It uses
            one comparator and generates reference voltages, comparing each one to the input
            signal. If the input signal is varying a voltage error can occur.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Switching</dt>
        <dd class="text">
            A switch is a mechanical or electronic device that is used to maker or break the
            connections in an electrical circuit. Switches can be used to route the output signals
            from multiple transducers to one measurement instrument (scanning). Switches are
            also used as control devices to switch power to external fans, heaters, pumps, lights,
            and motors.</dd>
    </dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
    <a name="T"></a>
    <dl>
        <dt class="blueTitle">T/C - Thermocouple</dt>
        <dd class="text">
            A pair of dissimilar conductors that are connected together at a point and produce
            a voltage proportional to temperature. Its advantages are self-powered, simple,
            rugged, inexpensive, wide variety of physical forms, and wide temperature range.
            Its disadvantages are non-linear, low voltage, reference required, least stable,
            and least sensitive.</dd>
        <dd class="text">
            When two wires composed of dissimilar metals are jointed as both ends and one of
            the ends is heated, there is a continuous current which flows in the thermoelectric
            circuit. Thomas Seebeck made this discovery in 1821.</dd>
    </dl>
    <div>
        <font size="2" color="#ff9900">TIP : Do not attach thermocouple wire directly to your
            voltmeter. Use an isothermal block.</font></div>
    <dl>
        <dt class="blueTitle">T/C B type - Platinum -6% Rhodium (+) Versus Platinum -30% Rhodium
            (-)</dt>
        <dd class="text">
            Seebeck coefficient = 6 mV/°C, and DVM sensitivity for 0.1°C = 0.6 mV, Range = 0°C
            to 1820°C, 4.4 ~ 8.6°C standard wire error.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">T/C E type - Nickel -10% Chromium (+) Versus Constantan (-)</dt>
        <dd class="text">
            Seebeck coefficient = 62 mV/°C, and DVM sensitivity for 0.1°C = 6.2 mV, Range =
            -100°C to 1000°C, 1.7 ~ 4.4°C standard wire error.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">T/C J type - Iron (+) Versus Constantan (-)</dt>
        <dd class="text">
            Seebeck coefficient = 51 mV/°C, and DVM sensitivity for 0.1°C = 5.1 mV, Range =
            0°C to 760°C, 1.1 ~ 2.9°C standard wire error.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">T/C K type - Nickel -10% Chromium (+) Versus Nickel - 5% (-) (Aluminum
            Silicon)</dt>
        <dd class="text">
            Seebeck coefficient = 40 mV/°C, and DVM sensitivity for 0.1°C = 4.0 mV, Range =
            0°C to 1370°C, 1.1 ~ 2.9°C standard wire error.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">T/C N (AWG 14) type - Nicrosil (+) Versus Nisil (-)</dt>
        <dd class="text">
            Seebeck coefficient = 39 mV/°C, and DVM sensitivity for 0.1°C = 3.9 mV, Range =
            0°C to 1300°C</dd>
    </dl>
    <dl>
        <dt class="blueTitle">T/C N (AWG 28) type - Nicrosil (+) Versus Nisil (-)</dt>
        <dd class="text">
            Seebeck coefficient = 26.2 mV/°C, and DVM sensitivity for 0.1°C = 2.62 mV, Range
            = -270°C to 400°C</dd>
    </dl>
    <dl>
        <dt class="blueTitle">T/C R type - Platinum -13% Rhodium (+) Versus Platinum (-)</dt>
        <dd class="text">
            Seebeck coefficient = 7 mV/°C, and DVM sensitivity for 0.1°C = 0.7 mV, Range = 0°C
            to 1000°C, 1.4 ~ 3.8°C standard wire error.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">T/C S type - Platinum -10% Rhodium (+) Versus Platinum (-)</dt>
        <dd class="text">
            Seebeck coefficient = 7 mV/°C, and DVM sensitivity for 0.1°C = 0.7 mV, Range = 0°C
            to 1750°C, 1.4 ~ 3.8°C standard wire error.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">T/C T type - Copper (+) Versus Constantan (-)</dt>
        <dd class="text">
            Seebeck coefficient = 40 mV/°C, and DVM sensitivity for 0.1°C = 4.0 mV, Range =
            -160°C to 400°C, 0.8 ~ 2.9°C standard wire error.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">T/C W -Re type - Tungsten - 5% Rhenium (+) Versus Tungsten - 26%
            Rhenium (-)</dt>
        <dd class="text">
            Seebeck coefficient = 19.5 mV/°C, and DVM sensitivity for 0.1°C = 1.95 mV, Range
            = 0°C to 2320°C</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Thermal noise</dt>
        <dd class="text">
            When two dissimilar metals are joined together and the temperature between the two
            ends are different, it is very easily affected by the nearby device with extreme
            change in high or low temperature. This temperature changes is called thermal noise.</dd>
        <dd class="text">
            Transducers like RTDs, thermistors, and strain gages are devices whose output resistance
            changes. All require power to make them work. When power is applied to a resistive
            device, it heats up. The rise in temperature causes a change in resistance and an
            error in the measurement.</dd>
    </dl>
    <div>
        <font size="2" color="#ff9900">TIP : To eliminate self-heating effects, do not apply
            power to the device any longer than necessary.</font></div>
    <div>
        <font size="2" color="#ff9900">TIP : For best results, make two measurements - one without
            power applied to the transducer and one with power applied. Simple subtraction will
            eliminate the thermal noise (self-heating).</font></div>
    <dl>
        <dt class="blueTitle">Thermal Block</dt>
        <dd class="text">
            A piece of hardware to which wires coming from transducers connect to the data acquisition
            system.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Thermistor</dt>
        <dd class="text">
            Temperature transducer that changes resistance proportional to its temperature.
            Its advantages are high output, fast response time, and two-wire ohms measurement.
            Its disadvantages are non-linear, limited temperature range, fragile. current source
            required, and self-heating.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Time Interval</dt>
        <dd class="text">
            Time interval measurements can be made by the more sophisticated counters. These
            measurements are the time between one edge of a pulse and another. If the edges
            are both the same, the time interval is the period. If one edge is rising and the
            other is falling, the time interval is equal to the pulse width.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Transducer</dt>
        <dd class="text">
            Devices that convert physical parameters such as temperature, pressure, flow, strain,
            or position into electrical signals such as voltage, current, or resistance.</dd>
        <dd class="text">
            Transducer can be used to measure temperature, pressure, flow, level, position,
            pH, strain, and many other physical parameters. For example, a temperature transducer
            may output a specific value at 50 degree C. As the temperature changes, the output
            voltage changes.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">Transformers</dt>
        <dd class="text">
            Transformers are normally used to step-down (reduce) large voltage and eliminate
            ground loops (noise) in analog measurements.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">True Diff. Input - True Differential Input</dt>
        <dd class="text">
            True differential operation provides a separate return line for each input channel.
            Using this configuration cuts the channel count in half for a given data acquisition
            board or system, but because it separates the return currents of each input, it
            reduces the errors caused by noise.</dd>
        <dd class="text">
            Although true-differential inputs offer the best immunity from ground noise, voltages
            common to both a channelsymbol 145 \f "Times New Roman"s HI and LO inputs can provide
            measurement errors.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">TSR - Terminate and Stay Resident</dt>
        <dd class="text">
            TSR stay resident program is a program that remains in memory until it is activated.</dd>
        <dd class="text">
            A program (TSR) remains in the memory system even after the program returns to DOS.
            Access to a TSR is via the interrupt structure of the microprocessor.</dd>
    </dl>
    <dl>
        <dt class="blueTitle">TTL</dt>
        <dd class="text">
            Transistor Transistor Logic</dd></dl>
    <div align="right">
        <a href="#glossary"><font size="2" face="Arial, Helvetica, sans-serif" color="#ff0000">
            Top</font></a>
    </div>
    <div style="background-image: url(&quot;/App_Themes/AUS/line.gif&quot;); width: 100%;
        height: 1px;">
    </div>
</div>
