<p class="text">
    Advantech hardware products are warranted against defects in materials and workmanship. If Advantech receives notice of such defects during the warranty period, Advantech shall, at its option, either repair or replace hardware products that prove to be defective.</p>
<ol class="text">
    <li>
        <p><strong>DURATION AND COMMENCEMENT OF WARRANTY PERIOD:</strong><br />
            The warranty period shall commence on the invoice date. For Advantech equipment the standard warranty period shall be two-year parts and labour.</p>
    </li>
    <li>
        <p><strong>THIRD PARTY NON-ADVANTECH PRODUCTS:&nbsp;</strong><br />

            All Non-Advantech products, including those supplied within assembled systems by Advantech Service Centers, will be covered by the Third Party Manufacturers warranty and time period and shall not exceed one year of coverage through Advantech. After one year, Advantech does not take responsibility of warranty or repair for Third Party Non-Advantech items. Owners should contact Third Party Manufacturers for warranty service and provide model numbers and serial numbers of the Third Party item. Third Party items include, but are not limited to, CPUs, RAM, Hard Drives, Floppy Drives, CD-ROMs, Ethernet Cards, Non-Advantech Video cards, etc.</p>
    </li>
    <li>
        <p><strong>*NEW*GLOBAL REPAIR SERVICE:&nbsp;</strong><br />

            Advantech provides global repair service for our products and systems, including standard warranty. Warranty and Out of Warranty service is available at Advantech Service Centers in the USA, Europe, Mainland China and Taiwan. Customers should contact the closest Service Center to arrange for necessary repair service overseas. Please refer to our website for the service centre closest to your location.</p>
    </li>
    <li><strong>EXTENDED WARRANTY SERVICE: </strong>
            <br />
    Warranty service beyond the time period described in item one above is available to purchase at time of order entry and up to ninety days thereafter. A maximum of 5 years of total warranty can be purchased. &quot;Global&quot; extended warranty is also available and would be in addition to the cost for extended warranty service. Please contact our Sales Department on 1300-308-531 for pricing information.</li>
     <br /><li><strong>HOW TO OBTAIN SERVICE IN AUSTRALIA:&nbsp;</strong><br />
       For products requiring repair service from Advantech in Australia, the owner shall complete the RMA process. The RMA form must be filled out completely including product catalogue number, serial numbers, and complete problem description and faxed to us at +61 3 9797 0199. After this form is returned to Advantech an RMA number will be issued for your repair return. An Advantech Technical Support Engineer may contact you to discuss your problem prior to issuing an RMA number.       <a href="/Resources/AUS/Repair_RMA_Request_Form.pdf" target="_blank">Download Repair RMA Request form</a> </li>
    <br /><li><strong>HOW TO OBTAIN GLOBAL SERVICE:&nbsp;</strong><br />

    For products requiring repair service from Advantech outside Australia, owners shall contact the closest Advantech Service Center located in USA, Europe, Mainland China, or Taiwan. Please refer to our website for contact information. Please be prepared to give the same information as required in item 5 above.</li>
      <strong><br />
      </strong>
      <li><strong>RETURNING PRODUCTS FOR REPAIR:&nbsp;</strong><br />
    The owner shall prepay shipping charges (and pay all applicable duties, taxes, and other such charges) when returning products to Advantech for repair service. Products shall be returned to the owner with the same level of freight service as the owner used when returning the product to Advantech for repair.</li>
     <br /><li><strong>SHIPPING DAMAGE AND WARRANTY:&nbsp;</strong><br />

    Damage or any loss to Advantech equipment caused by any transportation service while enroute to the customer is not considered a product defect and therefore ineligible for warranty service. All Advantech equipment is shipped FOB Shipping Point so the responsibility for loss or damage claims to transportation services is the responsibility of the purchaser. If Advantech is notified of loss or shipping damages within 5 days after invoice date, Advantech may assist the customer with filing the claim and coordinate the repair or replacement of the product with any compensation provided by the transportation company.</li>
    <br /><li><strong>LIMITATION OF WARRANTY:&nbsp;</strong><br />
      Warranty service shall not apply to defects resulting from:<br />
      a.	Improper or inadequate maintenance by owner<br />
      b.	Unauthorized disassembly, modification, or misuse<br />
      c.	Operation outside the environmental specifications of the product<br />
      d.	Improper site preparation and maintenance<br />
      e.	Improper storage or handling by owner<br />
      f.	Owner supplied software, hardware, or interfacing<br />
      g.	All warranty is voided if the Advantech warranty label or serial number is removed, illegible, or missing.<br />
    </li>
</ol>
<p class="text">
    THE WARRANTY SET FORTH ABOVE IS EXCLUSIVE AND NO OTHER WARRANTY, WHETHER WRITTEN OR ORAL, IS EXPRESSED OR IMPLIED. ADVANTECH SPECIFICALLY DISCLAIMS THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.</p>
