<head>
     <style type="text/css">
         .style1
         {
	color: #008000;
	font-weight: bold;
         }
     .auto-style1 {
	color: #008000;
	font-weight: bold;
	font-family: Calibri;
}
.auto-style2 {
	font-family: Calibri;
}
     </style>
 </head>
    <span class="auto-style2">Credit Term and Condition</span>
    <p><span class="auto-style2">All Sales will be transacted through Telegraphic Transfer (TT) in  Advance or PayPal, if there is any queries, kindly email us at 
	<a href="mailto:inquiry.intercon@advantech.com.tw">
	inquiry.intercon@advantech.com.tw</a> or contact us at  </span>  
	<span class="auto-style1">+ 
	886 2792-7818</span>.</p>
