<head>
     <style type="text/css">
         .style1
         {
	color: #008000;
	font-weight: bold;
         }
     .auto-style1 {
	color: #008000;
	font-weight: bold;
	font-family: Calibri;
}
.auto-style2 {
	font-family: Calibri;
}
     </style>
 </head>
   <span class="auto-style2">Credit Term and Condition</span>
   <p><span class="auto-style2">All Sales will be transacted through Telegraphic Transfer (TT) in  Advance or PayPal, if there is any queries, kindly email us at 
   </span>
   <a class="auto-style2" href="mailto:inquiry.intercon@advantech.com.tw" style="font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
   inquiry.intercon@advantech.com.tw</a><span class="auto-style2">&nbsp; or contact us at 
   </span> <span class="auto-style1">+886 
   2792-7818</span>.</p>
   <p>&nbsp;</p>
