<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Advantech Online Quotation Information</title>
    <link href="../pdf.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .style4
        {
            width: 48%;
            height: 37px;
        }
        .style5
        {
            height: 20px;
        }
    .auto-style1 {
	font-family: Calibri;
}
.auto-style2 {
	height: 20px;
	font-family: Calibri;
}
    </style>
</head>
<body>
    <div>
        <!--splitflag-->
        <table class="title">
            <tr class="quotationTitle">
                <td colspan="3">
                    <span class="auto-style1">ADVANTECH&nbsp;&nbsp;QUOTATION
                    </span>
                    <br class="auto-style1" />                </td>
            </tr>
            <tr>
                <td colspan="3" class="auto-style1">&nbsp;                </td>
            </tr>
            <tr>
                <td class="corpAddress">                </td>
                <td class="auto-style1">
                    Quote No :                </td>
                <td class="auto-style1">
                    [/QuoteNO]                </td>
            </tr>
            <tr>
                <td class="corpAddress" style="height: 23px">
				<span class="auto-style1">No. 1, Alley 20, Lane 26, Rueiguang Rd., Neihu Dist., 
				</span> <br class="auto-style1" /></td>
                <td class="auto-style1" style="height: 23px">
                    Quote Date :                </td>
                <td class="auto-style1" style="height: 23px">
                    [/QuoteDate]                </td>
            </tr>
            <tr>
                <td class="auto-style1">
                Taipei   114,Taiwan, R. O. C.</td>
                <td class="auto-style1">
                    Quote Exp. Date:                </td>
                <td class="auto-style1">
                    [/QUOTEEXPDATE]                </td>
            </tr>
            <tr>
                <td class="corpAddress">
                    <span class="auto-style1">PHONE </span> 
					<span id="CPH1_ctl00_lblTel" class="auto-style1">886-2-2792-7818</span><span class="auto-style1">&nbsp; FAX 6-2-2794-7301</span></td>
                <td class="auto-style1">
                    Sales Person :                </td>
                <td class="auto-style1">
                    [/SalesPerson]                </td>
            </tr>
            <tr>
                <td class="auto-style1">
                    WEB: buyemt.advantech.com                </td>
                <td class="auto-style1">
                    Version :                </td>
                <td class="auto-style1">
                    [/Version]                </td>
            </tr>
        </table>
        <br class="auto-style1" />
        <span class="auto-style1">
        <!--splitflag-->
        </span>
        <table>
            <tr>
                <td rowspan="6" valign="top" class="auto-style1">
                    SOLD TO:
                </td>
                <td class="auto-style1">
                    [/SOLDTOCOMPANYNAME]
                </td>
                <td rowspan="6" valign="top" class="auto-style1">
                    SHIP TO:
                </td>
                <td class="auto-style1">
                    [/SHIPTOCOMPANYNAME]
                </td>
            </tr>
            <tr>
                <td class="auto-style1">
                    ATTN:&nbsp;[/SOLDTOATTENTION]
                </td>
                <td class="auto-style1">
                    ATTN:&nbsp;[/SHIPTOATTENTION]
                </td>
            </tr>
            <tr>
                <td class="auto-style1">
                    [/SOLDTOADDRESS]
                </td>
                <td class="auto-style1">
                    [/SHIPTOADDRESS]
                </td>
            </tr>
            <tr>
                <td class="auto-style1">
                    [/SOLDTOSTATE]
                </td>
                <td class="auto-style1">
                    [/SHIPTOSTATE]
                </td>
            </tr>
            <tr>
                <td class="auto-style1">
                    PHONE:&nbsp;[/SOLDTOPHONE]
                </td>
                <td class="auto-style1">
                    PHONE:&nbsp;[/SHIPTOPHONE]
                </td>
            </tr>
            <tr>
                <td class="auto-style1">
                    FAX:&nbsp;[/SOLDTOFAX]
                </td>
                <td class="auto-style1">
                    FAX:[/SHIPTOFAX]
                </td>
            </tr>
        </table>
        <br class="auto-style1" />
        <span class="auto-style1">
        <!--splitflag-->
        </span>
        <table>
            <tr>
                <th colspan="2" class="auto-style1">
                    CUSTOMER ID
                </th>
                <th class="auto-style1">
                    SHIP VIA
                </th>
                <th class="auto-style1">
                    FOB
                </th>
                <th class="auto-style1">
                    TERMS
                </th>
                <th class="auto-style1">
                    CUSTOMER PO
                </th>
            </tr>
            <tr>
                <td colspan="2" class="auto-style1">
                    [/ERPID]
                </td>
                <td class="auto-style1">
                    [/SHIPMETHOD]
                </td>
                <td class="auto-style1">
                    FOB Milpitas, CA
                </td>
                <td class="auto-style1">
                    Credit Card
                </td>
                <td>
                </td>
            </tr>
        </table>

        <!--splitflag-->
        <table>
                    <tr>
                <th class="auto-style1">
                    LINE
                </th>
                <th class="auto-style1">
                    ITEM NUMBER
                </th>
                <th class="auto-style1">
                    DESCRIPTION
                </th>
                <th class="auto-style1">
                    PRICE
                </th>
                <th class="auto-style1">
                    QUANTITY 
                </th>
                <th class="extendedprice">
                    <span align="center" class="auto-style1">EXTENDED PRICE</span><span class="auto-style1">
					</span>
                </th>
            </tr>
            		<caption class="auto-style1">[/QUOTECONTENT]
            <tr>
                <td class="style5">
                </td>
                <td class="style5">
                </td>
                <td class="style5">
                </td>
                <td class="style5">
                </td>
                <td class="auto-style2">
                    SUBTOTAL
                </td>
                <td class="auto-style2">
                    [/SUBTOTAL]
                </td>
            </tr>
        </table>
        <br class="auto-style1" />
        <table style="page-break-inside: avoid;">
            <tr>
                <td colspan="5" class="auto-style1">&nbsp;
                    
              </td>
                <td class="auto-style1">&nbsp;
              </td>
            </tr>
            <tr>
                <td class="auto-style1">
                    Thank you for considering our products
                </td>
                <td class="style3">
                </td>
                <td class="auto-style1">&nbsp;
                    
              </td>
                <td class="auto-style1">
                    TOTAL
                </td>
                <td class="auto-style1">
                    [/TOTAL]
                </td>
                <td class="auto-style1">&nbsp;
              </td>
            </tr>
            <tr>
                <td class="style2">
                </td>
                <td class="style3">
                </td>
                <td class="auto-style1">&nbsp;
                    
              </td>
                <td class="auto-style1">
                    TAX([/TAXRATE])
                </td>
                <td class="auto-style1">
                    [/TAX]
                </td>
                <td class="auto-style1">&nbsp;
              </td>
            </tr>
            <tr>
                <td class="style2">
                </td>
                <td class="style3">
                </td>
                <td class="auto-style1">&nbsp;
                    
              </td>
                <td class="auto-style1">
                    Discount
                </td>
                <td class="auto-style1">
                    [/DISCOUNT]
                </td>
                <td class="auto-style1">&nbsp;
              </td>
            </tr>
            <tr>
                <td class="style2">
                </td>
                <td class="style3">
                </td>
                <td class="auto-style1">&nbsp;
                    
              </td>
                <td class="auto-style1">
                    TOTAL
                </td>
                <td class="auto-style1">
                    [/TOTAL]
                </td>
                <td class="rightAlign textUnderline  title">
                </td>
            </tr>
            <tr>
                <td colspan="5" class="auto-style1">&nbsp;
                    
              </td>
                <td class="auto-style1">&nbsp;
              </td>
            </tr>
            <tr>
                <td colspan="5">
                    <p>
                        <span class="auto-style1">* All prices are in US dollars.
                        </span> 
                        <br class="auto-style1" />
                        <span class="auto-style1">*Pricing, specifications, availability and terms of
                        offers may change without notice, and are not transferable. Taxes, fees, shipping,
                        handling and any applicable restocking charges vary and are not subject to discount.
                        </span>
                        <br class="auto-style1" />
                        <span class="auto-style1">* The estimated ship days represents the approximate
                        time it takes to process your order and assemble your system based on approved credit
                        card or net term purchase. The estimated shipment date is not intended to provide
                        you with an actual ship date. Your estimated ship date may vary based upon the payment
                        method you choose among other factors pertaining to the nature of the order.
                        </span> 
                        <br class="auto-style1" />
                  </p>
                </td>
                <td class="auto-style1">&nbsp;
              </td>
            </tr>
            <tr>
                <td class="auto-style1">&nbsp;
                    
              </td>
                <td colspan="4" class="auto-style1">&nbsp;
                    
              </td>
                <td class="auto-style1">&nbsp;
              </td>
            </tr>
            <tr>
                <td>
                </td>
                <td colspan="4" class="auto-style1">
                    Accepted and Confirmed by:
                </td>
                <td class="auto-style1">&nbsp;
              </td>
            </tr>
            <tr>
                <th>
                </th>
                <td align='center' class="auto-style1">
                    X
                </td>
                <th class="auto-style1">&nbsp;
                    
              </th>
                <th colspan="2">
                </th>
                <th class="auto-style1">&nbsp;
              </th>
            </tr>
            <tr>
                <td class="auto-style1">
                    [/SalesPerson]
                </td>
                <td class="auto-style1">&nbsp;
                    
              </td>
                <td class="auto-style1" colspan="3">
                    &nbsp;Signature
                </td>
                <td class="auto-style1">&nbsp;
              </td>
            </tr>
            <tr>
                <td class="auto-style1">
                    [/SalesPersonEmail]
                </td>
                <td class="auto-style1">&nbsp;
                    
              </td>
                <td class="auto-style1" colspan="3">&nbsp;
                    
              </td>
                <td class="style4">
                </td>
            </tr>
            <tr>
                <td class="auto-style1">
                    [/SalesPersonPhone]
                </td>
                <td class="auto-style1">&nbsp;
                    
              </td>
                <td class="auto-style1" colspan="3">&nbsp;
                    
              </td>
                <td class="auto-style1">&nbsp;
              </td>
            </tr>
        </table>
        <!--splitflag-->
    </div>
</body>
</html>
