
<head>
<style type="text/css">
.auto-style1 {
	font-family: Calibri;
}
.auto-style2 {
	font-family: Calibri;
	font-style: italic;
}
</style>
</head>

<h1 class="auto-style1">Credit Return Policy</h1>
<ol>
    <table width="585" border="0" align="center" cellpadding="4">
        <tr>
            <th width="585" align="center" scope="row">
                <span class="auto-style2">Note:</span><span class="auto-style1"> An RMA NUMBER MUST BE OBTAINED from our staff prior to returning any
                products. ANY RMA RETURNED WITHOUT AN RMA NUMBER WILL BE REJECTED BY OUR SHIPPING
                DEPARTMENT. All RMA numbers are valid for 30-DAYS from the date of issuance.&nbsp;            
				</span>            </th>
        </tr>
    </table>
</ol>
<p><span class="auto-style1">Please  contact Advantech to receive a<strong> Return  Merchandise Authorization (RMA) </strong>number prior to returning</span><br class="auto-style1" />
  <span class="auto-style1">any  product for credit or repair. The RMA number must be marked clearly on the  packaging in which goods</span><br class="auto-style1" />
  <span class="auto-style1">are  returned, and the Advantech RMA paperwork must be included with the shipment.  ANY RMA</span><br class="auto-style1" />
  <span class="auto-style1">RETURNED  WITHOUT AN RMA NUMBER WILL BE REJECTED BY OUR SHIPPING DEPARTMENT. To</span><br class="auto-style1" />
  <span class="auto-style1">expedite  the RMA process, you may choose to complete the online RMA request.</span><br class="auto-style1" />
  <span class="auto-style1">
  <strong>RMA website: </strong><a href="http://erma.advantech.com.tw/" target="_blank"><strong>http://erma.advantech.com.tw</strong></a></span></p>
<p><span class="auto-style1"><strong>a)  Repair RMAs</strong></span><br class="auto-style1" />
  <span class="auto-style1">For  detailed warranty terms and conditions, please refer to Advantech’s Warranty  Policy or you may contact</span><br class="auto-style1" />
  <span class="auto-style1">an  Advantech staff member to verify the warranty status of an item. There is no  repair fee for in-warranty</span><br class="auto-style1" />
  <span class="auto-style1">service.  A repair fee must be paid to have a non-warranty item repaired. This fee will  also extend the</span><br class="auto-style1" />
  <span class="auto-style1">product’s  warranty for an additional three months on the parts that have been repaired.  See our Return</span><br class="auto-style1" />
  <span class="auto-style1">Policy  for more details. If the product is under warranty, it will be repaired or  replaced at the sole discretion</span><br class="auto-style1" />
  <span class="auto-style1">of  Advantech. If an out-of-warranty item cannot be repaired, it will be returned  to the customer at customer’s</span><br class="auto-style1" />
  <span class="auto-style1">shipping  expense.</span></p>
<p><span class="auto-style1"><strong>b)  Returns for Credit</strong></span><br class="auto-style1" />
  <span class="auto-style1">Returns  are only acceptable in “NEW” condition. Returns for Credit may be subject to  restocking fees. All</span><br class="auto-style1" />
  <span class="auto-style1">Special  order items labeled as X and Y part numbers and also outsourcing products are  Non Cancellable and Non Returnable.  All  other software items, assembly, test and burn-in, freight and other service  charges are NOT refundable. The products must be in their original packaging,  including anti-static bags, etc. All manuals and other accessories must also be  returned. Any missing items will result in an additional restocking fee. Advantech  reserves the right to assess additional restocking fees to cover damages or missing  items discovered upon return and inspection by the Advantech RMA Dept. ALL  RETURNS MUST ARRIVE WITHIN 30 DAYS IN NEW CONDITION FROM INVOICED DATE. PLEASE  INDICATE YOUR RMA NUMBER CLEARLY ON THE OUTSIDE OF THE PACKAGE OR SHIPPING  LABEL. PACKAGE WITHOUT RMA NUMBER CLEARLY MARKED ON THE BOX WILL BE REJECTED BY  OUR RECEIVING DEPARTMENT. 
</span> </p>
