
<head>
<style type="text/css">
.auto-style1 {
	font-family: Calibri;
}
</style>
</head>

<h1 class="auto-style1">Warranty Policy</h1>
<p class="auto-style1">
    Advantech hardware products are warranted against defects in materials and workmanship. If Advantech receives notice of such defects during the warranty period, Advantech shall, at its option, either repair or replace hardware products that prove to be defective.
</p>
<ol class="text">
    <li>
        <p>
            <span class="auto-style1">DURATION AND COMMENCEMENT OF WARRANTY PERIOD:</span>
            <br class="auto-style1" />
            <span class="auto-style1">The warranty period shall commence on the invoice date. For Advantech equipment the standard warranty period shall be two-year parts and labor.</span></p>
    </li>
    <li>
        <p>
            <span class="auto-style1">THIRD PARTY NON-ADVANTECH PRODUCTS:</span>
            <br class="auto-style1" />
            <span class="auto-style1">All Non-Advantech products, including those supplied within assembled systems by Advantech Service Centers, will be covered by the Third Party Manufacturers warranty and time period and shall not exceed one year of coverage through Advantech. After one year, Advantech does not take responsibility of warranty or repair for Third Party Non-Advantech items. Owners should contact Third Party Manufacturers for warranty service and provide model numbers and serial numbers of the Third Party item. Third Party items include, but are not limited to, CPUs, RAM, Hard Drives, Floppy Drives, CD-ROMs, Ethernet Cards, Non-Advantech Video cards, etc.
        	</span>
        </p>
    </li>
    <li>
        <p>
            <span class="auto-style1">*NEW*GLOBAL REPAIR SERVICE:</span>
            <br class="auto-style1" />
            <span class="auto-style1">Advantech provides global repair service for our products and systems, including standard warranty. In Warranty and Out of Warranty service is available at Advantech Service Centers in the USA, Europe, Mainland China and Taiwan. Customers should contact the closest Service Center to arrange for necessary repair service overseas. Please refer to our website for the service center closest to your location.
        	</span>
        </p>
    </li>
    <li>
        <p>
            <span class="auto-style1">EXTENDED WARRANTY SERVICE:</span>
            <br class="auto-style1" />
            <span class="auto-style1">Warranty service beyond the time period described in item one above is available to purchase at time of order entry and up to ninety days thereafter. A maximum of 5 years of total warranty can be purchased. "Global" extended warranty is also available and would be in addition to the cost for extended warranty service only in the USA or Canada. Please contact our Sales Department at 888-576-9668 for pricing information.
        	</span>
        </p>
    </li>
    <li>
        <p>
            <span class="auto-style1">HOW TO OBTAIN SERVICE IN USA and CANADA:</span>
            <br class="auto-style1" />
            <span class="auto-style1">For products requiring repair service from Advantech in the USA and Canada, the owner shall contact the local sales office to obtain an Advantech repair RMA request form. This form must be filled out completely including product catalog number, serial numbers, and complete problem description and faxed to us at 408-519-3899. After this form is returned to Advantech an RMA number will be issued for your repair return. An Advantech Technical Support Engineer may contact you to discuss your problem prior to issuing an RMA number.
            </span>
            <br class="auto-style1" />
            <span class="auto-style1">
            <a href="/resource/AUS/Repair_RMA_Request_Form.pdf" target="_blank">Download Repair RMA Request form</a>
        	</span>
        </p>
    </li>
    <li>
        <p>
            <span class="auto-style1">HOW TO OBTAIN GLOBAL SERVICE:</span>
            <br class="auto-style1" />
            <span class="auto-style1">For products requiring repair service from Advantech outside the USA and Canada, owners shall contact the closest Advantech Service Center located in USA, Europe, Mainland China, or Taiwan. Please refer to our website for contact information. Please be prepared to give the same information as required in item 5 above.
        	</span>
        </p>
    </li>
    <li>
        <p>
            <span class="auto-style1">RETURNING PRODUCTS FOR REPAIR:</span>
            <br class="auto-style1" />
            <span class="auto-style1">The owner shall prepay shipping charges (and pay all applicable duties, taxes, and other such charges) when returning products to Advantech for repair service. Except for products returned to the owner from a country other than the USA or Canada, Advantech shall pay for return of products to the owner. Products shall be returned to the owner with the same level of freight service as the owner used when returning the product to Advantech for repair.
        	</span>
        </p>
    </li>
    <li>
        <p>
            <span class="auto-style1">SHIPPING DAMAGE AND WARRANTY:</span>
            <br class="auto-style1" />
            <span class="auto-style1">Damage or any loss to Advantech equipment caused by any transportation service while enroute to the customer is not considered a product defect and therefore ineligible for warranty service. All Advantech equipment is shipped FOB Shipping Point so the responsibility for loss or damage claims to transportation services is the responsibility of the purchaser. If Advantech is notified of loss or shipping damages within 5 days after invoice date, Advantech may assist the customer with filing the claim and coordinate the repair or replacement of the product with any compensation provided by the transportation company.
        	</span>
        </p>
    </li>
    <li>
        <p>
            <span class="auto-style1">LIMITATION OF WARRANTY:</span>
            <br class="auto-style1" />
            <span class="auto-style1">Warranty service shall not apply to defects resulting from:
        	</span>
        </p>
        <ol type="a">
            <li class="auto-style1">Improper or inadequate maintenance by owner</li>
            <li class="auto-style1">Unauthorized disassembly, modification, or misuse</li>
            <li class="auto-style1">Operation outside the environmental specifications of the product</li>
            <li class="auto-style1">Improper site preparation and maintenance</li>
            <li class="auto-style1">Improper storage or handling by owner</li>
            <li class="auto-style1">Owner supplied software, hardware, or interfacing</li>
            <li class="auto-style1">All warranty is voided if the Advantech warranty label or serial number is removed, illegible, or missing.</li>
        </ol>
    </li>
</ol>
<p class="auto-style1">
    THE WARRANTY SET FORTH ABOVE IS EXCLUSIVE AND NO OTHER WARRANTY, WHETHER WRITTEN OR ORAL, IS EXPRESSED OR IMPLIED. ADVANTECH SPECIFICALLY DISCLAIMS THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE</p>
