<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Advantech eStore Ordering Information</title>
    <style type="text/css">
        table.contact
        {
            font: bold 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            border-color: #ffffff;
            background: #FFFFFF;
            color: #333;
            width: 100%;
        }
        .contact th
        {
            width: 33%;
            border-collapse: collapse;
            background: #EFF4FB;
        }
        .contact td
        {
            font: 12px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            background: #FFFFFF;
            color: #333;
        }
        
        table.estoretable
        {
            font: 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            color: #333;
            width: 100%;
        }
        
        .estoretable th
        {
            padding: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #E5E5E5;
            text-align: center;
            background: #EFF4FB;
        }
        
        .estoretable td
        {
            padding:3px;  border-style:solid; border-width:1px; border-color:#E5E5E5;
        }
		
		table.estoretable2
        {
            font: 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            color: #333;
            width: 100%;
        }
        .estoretable2 td
        {
			padding:3px;
			text-align: right;
        }
        
		.boder
        {
			border: 1px solid #E5E5E5;
        }
		
        .estoretable caption
        {
            padding: 0 0 .5em 0;
            text-align: left;
            text-transform: uppercase;
            color: #333;
            background: transparent;
        }
        .cartitem p
        {
            margin: 0;
            padding: 5px 0;
        }
        .cartitem  label
        {
            font-weight: bold;
        }
        .style2
        {
            width: 345px;
        }
        .banckInfor p
        {
            padding: 3px 5px 10px 0;
            margin: 0px; float:left;width:100%;
        }
        .banckInfor p label 
        {
            color: black;
            display: inline-block;
            float: left;
            width: 150px;
            text-align: left;
            padding-left: 5px;
        }
    </style>
</head>
<body>
    <table width="720" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family: Arial, Helvetica, sans-serif">
        <tr>
            <td align="left">
                <img src="http://buy.advantech.com/App_Themes/AUS/logo.gif" alt="Advantech eStore"
                     />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <table width="720" border="0" cellpadding="0" cellspacing="0" height="30">
                    <tr>
                        <td width="8" align="left" height="30">
                            <img src="http://buy.advantech.com/App_Themes/AUS/barleft.jpg" alt="" width="8" height="30">
                        </td>
                        <td width="704" style="background-color: #E5E5E5" height="30">
                            <a title="Home" href="http://[/STOREURL]" style="text-decoration: none"><font
                                size="2" color="#767677"><b>Home</b></font></a> &nbsp; &nbsp; &nbsp; <a title="Support"
                                            href="http://support.advantech.com.tw/" style="text-decoration: none"><font size="2"
                                                color="#767677"><b>Support</b></font></a> &nbsp; &nbsp; &nbsp;
                            <a title="Contact Us" href="http://[/STOREURL]/ContactUs.aspx" style="text-decoration: none">
                                <font size="2" color="#767677"><b>Contact Us</b></font></a>
                        </td>
                        <td width="8" align="right" height="30">
                            <img src="http://buy.advantech.com/App_Themes/AUS/barright.jpg" width="8" height="30">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" height="18" bgcolor="#708AAC" style="background-color: #708AAC; padding: 5px 10px">
                            <div style="color: #FFFFFF; font-size: 12px;">
                                [/ourAddress]</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <!-- START -->
                <table width="100%" border="0" cellspacing="0" cellpadding="6" style="border: 1px solid #CCCCCC;
                    background-color: #FFFFE6" bgcolor="#FFFFE6" align="center">
                    <tr>
                        <td style="font-size: 13px;">
                        <div><b>Dear [/USERNAME],</b></div>
                            <div style="padding-left: 10px">
                                Thank you for your web order.<br />
                                Please allow 24 hours for us to update your status then check it any time by simply
                                <a href="http://[/CLICKHERE]">clicking here</a>. If you have any questions about
                                your order, you will need to reference the following information:
                                [/OurTel] [/Mailgroup]<br />
                                <br />
                                [/SupportInfo]
                                <table width="90%" border="0" align="center" cellpadding="5" style="margin-top:5px;">
                                    <tr>
                                        <td style="border-left: 1px solid #CCC" class="banckInfor">
                                            [/BANKINFORMATION]
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF">
                            <table width="100%" border="0" cellspacing="2" cellpadding="0">
                                <tr>
                                    <td align="left" colspan="2">
                                        <span style="font-size: 20px; color: #003D7C"><b>Ordering &amp; Information</b></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%" style="font-size: 14px; padding-left: 10px">
                                        Order Confirmation No: <b><span style="color: #0033CC">[/ORDERNO]</span></b><br />
                                        <span style="color: #666666">[/PROMOTIONCODE] [/PURCHASENO] [/RESELLERID] [/ERPID]
                                        </span>
                                    </td>
                                    <td width="60%" align="right" style="font-size: 13px" valign="top">
                                        Order Date: [/ORDERDATE]
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" background="http://buy.advantech.com/App_Themes/AUS/line.gif" height="1">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                    <!-- Contact Info -->
                                        <table width="100%" class=contact>
                                            <tr>
                                                <th>
                                                    Sold to
                                                </th>
                                                <th>
                                                    Ship to</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Attention: [/SOLDTOATTENTION]
                                                </td>
                                                <td>
                                                    Attention: [/SHIPTOATTENTION]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Company: [/SOLDTOCOMPANY]
                                                </td>
                                                <td>
                                                    Company: [/SHIPTOCOMPANY]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Address: [/SOLDTOADDRESS]
                                                </td>
                                                <td>
                                                    Address: [/SHIPTOADDRESS]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Tel: [/SOLDTOTEL]
                                                </td>
                                                <td>
                                                    Tel: [/SHIPTOTEL]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Mobile: [/SOLDTOMOBILE]
                                                </td>
                                                <td>
                                                    Mobile: [/SHIPTOMOBILE]
                                                </td>
                                            </tr>
                                                                                        <tr>
                                                <td>&nbsp;
                                                    
                                                </td>
                                                <td>&nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    <!-- Contact Info/ -->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="5">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                    <!-- CART DETAIL  -->
                                     <table class="estoretable" width="100%">
                                            <tbody>
                                                <thead>
                                                    <tr class="carthead">
                                                        <th>
                                                            Item#
                                                        </th>
                                                        <th width="20%">
                                                            Part Number
                                                        </th>
                                                        <th class="style2">
                                                            Description
                                                        </th>
                                                        [/DetailModeTH]<th>
                                                            UnitPrice
                                                        </th>
                                                        <th>
                                                            Qty
                                                        </th>
                                                        <th>
                                                            SubTotal
                                                        </th>
                                                    </tr>
                                                </thead>
                                                [/CARTITEMS]
                                                <tr class="cartitem">
                                                    <td colspan="[/colspan]">&nbsp;
                                                        
                                                    </td>
                                                    <td colspan="2">&nbsp;
                                                        
                                                    </td>
                                                    <td colspan="3">&nbsp;
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                     <table width="100%" class="estoretable2">
                                            <tr class="cartitem">
                                                <td align="left" rowspan="3" valign="top" width="45%" class="boder">
                                                    [/SHIPPINGMETHOD] [/Courier_account] [/PROMOTIONCODE] [/PURCHASENO] [/RESELLERID][/PAYMENTTYPE]
                                                </td>
                                                <td>
                                                    Sub Total (INR):
                                                </td>
                                                <td>
                                                    [/SUBTOTAL]
                                                </td>
                                            </tr>
                                            <tr id="CartDiscount" class="cartitem">
                                                <td>
                                                    <font color="red">* </font>Discount (INR):
                                                </td>
                                                <td style="color: #FF0000;">
                                                    [/DISCOUNT]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td>
                                                    Total (INR):
                                                </td>
                                                <td style="font-weight: bold;color: #FF0000;">
                                                    [/TOTAL]
                                                </td>
                                            </tr>
                                        </table>
                                   <!-- CART DETAIL / -->
                                   <p style="font-size: 13px; font-family: Arial;"><b>Comments:</b><br /> &nbsp;&nbsp;&nbsp;&nbsp;[/Comment]</p>
                                </td></tr><tr><td colspan="5"></td></tr>
                                <tr><td colspan="5"> 
                         <div style="color: #333;font-size: 12px; padding-left: 10px">
                            <p><span style="color: red">*</span>This order is based on shipping terms under Ex-works Advantech and exclusive of all handling charges, custom duties, taxes & levies impose at the receiving location.</p>                          
                            <p>* Pricing, specifications, availability and terms of offers may change without notice, are not transferable. Taxes, fees, shipping, handling and any applicable restocking charges  vary and are not subject to discount.</p>
                            <p >* The estimated ship days represents the approximate time it takes to process your order and assemble your system based on receiving of your payment. The estimated shipment date is not intended to provide you with an actual ship date. <span style="font-size:12px;">Your estimated ship date may vary based upon the payment method you choose among other factors pertaining to the nature of the order.</span></p>
                            <p >* The shipping and handling charges will be determined by shipment characteristics, weight, and applicable service charges of the actual shipment. Any assembly, installation and commissioning cost will be at the cost of the customer.</p>
                            <p>Expediting any orders may be done through our customer care center. Please contact us at [/OurTel] or email [/Mailgroup]</p>
                         </div>
                <br /></td></tr>
                            </table>
                        </td>
                    </tr>
                <!--
						<div style="font-size:13px; padding-left:10px">
						<br />
						<b>Comments: </b><br />
						[/COMMENT]
						</div>
						-->
        <tr>
            <td>
                <p style="font-size: 13px; padding-left: 10px; background-color :#FFFFE6;">
                    Again, thank you for shopping at the<span style="font-size: 13px; padding-left: 10px"><a href="http://[/STOREURL]">Advantech eStore</a>. </span> We will process
                    your order as soon as possible. Call  [/OurTel] if you have any question about
                    this order.</p>
            </td>
        </tr>
          </table>                 
          <!-- END -->
            </td>
        </tr>
        <!-- Footer -->
        <tr>
          <td height="15" bgcolor="#708AAC" style="background-color: #708AAC; text-align: center;
                color: #FFFFFF; font-size: 12px" align="center">[/STOREURL] / [/OurTel] </td>
        </tr>
        <tr>        
            <td height="30" text-align: center; style="border: 1px solid #CCCCCC; background-color: #FFFFE6" bgcolor="#FFFFE6" align="center" valign="middle"><font color=#555555 style="text-decoration: none; font-size: 11px"> Terms and Conditions</font>&nbsp;&nbsp;<font color=#555555>|</font>&nbsp;&nbsp;<a href="http://[/STOREURL]/Info/ReturnPolicy.htm" style="text-decoration: none; font-size: 11px"><font color=#555555>Return Policy</font></a>&nbsp;&nbsp;<font color=#555555><span style="font-size: 11px;">|</span></font>&nbsp;&nbsp;<a href="http://[/STOREURL]/Info/PrivacyPolicy.htm" style="text-decoration: none; font-size: 11px"><font color=#555555>Privacy Policy</font></a>
                     </td>
        </tr>
        <!-- Footer /--></table>
</body>

</html>
