<p class="text">
    ADVANTECH has established the following guidelines to give you the best support and shortest turn-around time possible.</p>
<ol type="1" class="text">
    <li><span class="blueTitle">Warranty period:</span>
        <p>
            All standard products manufactured by Advantech come with <b>Two (2) years warranty</b> against defects in design, materials or manufacturing process only starting from the invoice date.</p>
    </li>
    <li><span class="blueTitle">Repairs under warranty:</span>
        <p>
            During the warranty period, ADVANTECH will repair all defective ADVANTECH manufactured products, provided that they are returned at the customer’s expense to an authorized Advantech repair center. Advantech has sole unfettered discretion to determine whether a particular product will be either repaired or replaced.</p>
    </li>
    <li><span class="blueTitle">Exclusions from warranty:</span>
        <br />
        <ol type="a">
            <li>Product was defective after expiry of the warranty period.</li>
            <li>Product has been subjected to misuse, abuse, or unauthorized repair, whether by accident or other cause. Such conditions will be determined by ADVANTECH in its sole unfettered discretion.</li>
            <li>Consumable items such as fuses, batteries, commercial LCD, backlights, etc. and software or standard wear and tear results from normal use.</li>
            <li>Wrong configuration or parameter setting by customer.</li>
            <li>Data or system corruption result from virus attack or misuse by customers.</li>
            <li>The product is damaged beyond repair due to a natural disaster such as a lighting strike, flood, earthquake, etc</li>
            <li>Product was not purchased directly from Advantech worldwide offices or any authorized distributors of Advantech.</li>
            <li>Advantech warranty label has been removed or damaged from the product or part.</li>
        </ol>
        <br />
    </li>
    <li><span class="blueTitle">REPAIR PROCESS:</span>
        <br />
        <br />
        <span class="blueTitle">4.1 RMA repair form:</span>
        <ol type="a">
            <li>ADVANTECH will fax/email the RMA Repair Form for the customer to fill. Customer is required to provide all relevant information especially the item code, item serial number and the details of the problems encountered on the RMA Request Form and submit to ADVANTECH - RMA Dept.</li>
            <li>ADVANTECH will acknowledge the receipt of the RMA Repair Form and provide a RMA tracking number for the customer to arrange the RMA shipment. </li>
            <li>Customer is only required to return the defect product without any other accessories or unnecessary components (eg. manuals, cables, CPU, RAM, CF etc.). Any other components that cause part of the problem may be included, but the customer must clearly indicate on the RMA form &amp; shipping document, otherwise, ADVANTECH will not be responsible for any item that are not listed in the form.</li>
        </ol>
        <br />
        <span class="blueTitle">4.2 Repair charges for out-warranty products or exclusion from warranty products:</span>
        <ol type="a">
            <li>Customer is required to pay a minimum handling &amp; processing charges for ADVANTECH to proceed with the inspection &amp; testing on all non-warranty repair items.</li>
            <li>A quotation of the estimated repair charges will be given to customer after diagnose of the problems stated in the RMA form. Customer must sign and accept the repair charges within the validity period before ADVANTECH proceed with the repair process.</li>
            <li>Should the customer failed to confirm the quotation within the validity date or decided not to proceed with the RMA after our technical evaluation &amp; assessment, ADVANTECH shall charge the customer for the minimum handling fee and return the RMA item back to the customer without repair. </li>
        </ol>
        <br />
        <span class="blueTitle">4.3 Returning of goods after repair:</span>
        <ol type="a">
            <li>For products not manufactured by Advantech, we will send them back to the original manufacturer for repair. </li>
            <li>Warranty period for repaired product is three months from date of delivery to customer.</li>
            <li>If a product has been repaired by ADVANTECH, and within three months after such repair and the product requires another repair for the same problem, ADVANTECH will do this repair free of charge. However, such free repairs do not apply to products which have been misused, abused, or subjected to unauthorized disassembly/modification; placed in an unsuitable physical or operating environment; improperly maintained by the customer; or failure cause which ADVANTECH is not responsible whether by accident or other cause.</li></ol>
        <br />
        <span class="blueTitle">4.4 Repair service for phased-out products:</span>
        <br />
        <p>
            ADVANTECH will offer repair service for one year after the date of announcement of the phase-out product. The phase out announcement will be announce on our Advantech website www.advantech.com.tw
        </p>
    </li>
    <li><span class="blueTitle">INTERNATIONAL REPAIR SERVICES:</span>
        <p>
            5.1 ADVANTECH provides warranty and out-of-warranty global repair service for customers at its facilities at the following repair centers: a) America (USA/Milpitas), b) Europe (Poland/Warsaw), c) China (Beijing/Kunshan), d) Taiwan (Taipei). Before sending the repair to these repairs centers, please notify the respective Advantech office from which this product has been purchased to facilitate the repair process.
        </p>
        <p>
            5.2 For in-warranty shipment, customers shall bear the freight charges for shipment back to ADVANTECH, whereas ADVANTECH will bear the freight charges and return the repaired items back to the original location, where the product is purchased.</p>
        <p>
            5.3 For out-of-warranty shipment, customers shall bear both inward &amp; outward freight charges to and from ADVANTECH. This freight charges also apply to in-warranty ADVANTECH products that are not purchased from the local office.
        </p>
    </li>
    <li><span class="blueTitle">EXTENDED WARRANTY PERIOD:</span>
        <p>
            ADVANTECH provides one to three years extended warranty on parts only subjected to the terms and conditions imposed by ADVANTECH. A formal contract of repair and warranty is needed, depending on each case. Kindly contact ADVANTECH local office for further details on the terms and conditions.
        </p>
    </li>
    <li><span class="blueTitle">OTHERS:</span>
        <p>
            ADVANTECH reserve the rights to change its RMA and warranty policy without pre-notification. Customers are advice to get the latest policy document from Advantech office or check with our customer service officer.
        </p>
    </li>
</ol>
