<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        table.contact
        {
            font: bold 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            border-color: #ffffff;
            background: #FFFFFF;
            color: #333;
            width: 100%;
        }
        .contact th
        {
            width: 33%;
            border-collapse: collapse;
            background: #EFF4FB;
        }
        .contact td
        {
            font: 12px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            background: #FFFFFF;
            color: #333;
        }
        
        table.estoretable
        {
            font: 13px/normal Arial,Helvetica,sans-serif;
            border-collapse: collapse;
            color: #333;
            width: 100%;
        }
        
        .estoretable th
        {
            padding: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #E5E5E5;
            text-align: center;
            background: #EFF4FB;
        }
        
        .estoretable td
        {
            padding: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #E5E5E5;
        }
        
        .estoretable caption
        {
            padding: 0 0 .5em 0;
            text-align: left;
            text-transform: uppercase;
            color: #333;
            background: transparent;
        }
        .cartitem p
        {
            margin: 0;
            padding: 5px 0;
        }
        .cartitem label
        {
            font-weight: bold;
        }
        .style2
        {
            width: 345px;
        }
        .style3
        {
            width: 34px;
        }
    </style>
    <title>Quotation</title>
</head>
<body>
    <table width="720" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family: Arial, Helvetica, sans-serif">
        <tr>
            <td align="left">
                <img src="http://buy.advantech.com/App_Themes/AUS/logo.gif" alt="Advantech eStore" />
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <table width="720" border="0" cellpadding="0" cellspacing="0" height="30">
                    <tr>
                        <td width="8" align="left" height="30">
                            <img src="http://buy.advantech.com/App_Themes/AUS/barleft.jpg" width="8" height="30">
                        </td>
                        <td width="704" bgcolor="#E5E5E5" style="background-color: #E5E5E5" height="30">
                            <a title="Home" href="http://buy.advantech.com/Default.htm" style="text-decoration: none">
                                <font size="2" color="#767677"><b>Home</b></font></a> &nbsp; &nbsp; &nbsp; <a title="Support"
                                    href="http://support.advantech.com.tw/" style="text-decoration: none"><font size="2"
                                        color="#767677"><font size="2" color="#767677"><b>Support</b></font></a>
                            &nbsp; &nbsp; &nbsp; <a title="Contact Us" href="http://buy.advantech.com/ContactUs.aspx"
                                style="text-decoration: none"><font size="2" color="#767677"><font size="2" color="#767677">
                                    <b>Contact Us</b></font></a>
                        </td>
                        <td width="8" align="right" height="30">
                            <img src="http://buy.advantech.com/App_Themes/AUS/barright.jpg" width="8" height="30">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" height="18" bgcolor="#708AAC" style="background-color: #708AAC; padding: 5px 10px">
                            <div style="color: #FFFFFF; font-size: 12px">
                                [/ourAddress]<br />[/OurTel]</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="6" style="border: 1px solid #CCCCCC;
                    background-color: #FFFFE6" bgcolor="#FFFFE6" align="center">
                    <tr>
                        <td style="font-size: 13px;">
                            <div>
                                <b>Dear [/RECEIVERNAME],</b></div>
                            <div style="padding-left: 10px">
                                <p>
                                    Advantech representative [/REPRESENTATIVENAME] has created a Quote for you. The
                                    Quote information below has been saved to your Advantech eStore registration account.
                                    If you have any questions, please contact [/REPRESENTATIVENAME] at [/RepresentativeContactPhone]
                                    or <a href="mailto://[/RepresentativeEmail]">[/RepresentativeEmail]</a> .
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFFF">
                            <table width="100%" border="0" cellspacing="2" cellpadding="0">
                                <tr>
                                    <td align="left" width="40%">
                                        <span style="font-size: 24px; color: #003D7C"><b>Quotation</b></span>
                                    </td>
                                    <td align="left" width="60%">
                                        <span style="font-size: 14px; color: #003D7C">Quotation Number: <b>[/QUOTENUMBER]</b></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="font-size: 14px;">
                                        <div>
                                            Request Date: [/QUOTEDATE] <span style="color: Red;">Valid Through: [/ValidDate]</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" background="http://buy.advantech.com/App_Themes/AUS/line.gif" height="1">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <!-- Contact Info -->
                                        <table width="100%" class="contact">
                                            <tr>
                                                <th>
                                                    Sold to
                                                </th>
                                                <th>
                                                    Bill to
                                                </th>
                                                <th>
                                                    Ship to
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Attention: [/SOLDTOATTENTION]
                                                </td>
                                                <td>
                                                    Attention: [/BILLTOATTENTION]
                                                </td>
                                                <td>
                                                    Attention: [/SHIPTOATTENTION]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Company: [/SOLDTOCOMPANY]
                                                </td>
                                                <td>
                                                    Company: [/BILLTOCOMPANY]
                                                </td>
                                                <td>
                                                    Company: [/SHIPTOCOMPANY]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Address: [/SOLDTOADDRESS]
                                                </td>
                                                <td>
                                                    Address: [/BILLTOADDRESS]
                                                </td>
                                                <td>
                                                    Address: [/SHIPTOADDRESS]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Tel: [/SOLDTOTEL]
                                                </td>
                                                <td>
                                                    Tel: [/BILLTOTEL]
                                                </td>
                                                <td>
                                                    Tel: [/SHIPTOTEL]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    &nbsp;
                                                </td>
                                                <td>
                                                    &nbsp;
                                                </td>
                                                <td>
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- Contact Info/ -->
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span style="font-size: 14px; color: #003D7C"><b>Quotation Detail:</b></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="font-size: small;">
                                        <!-- CART DETAIL  -->
                                        <table class="estoretable" width="100%">
                                            <tbody>
                                                <thead>
                                                    <tr class="carthead">
                                                        <th>
                                                            Item#
                                                        </th>
                                                        <th>
                                                            Part Number
                                                        </th>
                                                        <th class="style2">
                                                            Description
                                                        </th>
                                                        [/DetailModeTH]<th>
                                                            UnitPrice
                                                        </th>
                                                        <th>
                                                            Qty
                                                        </th>
                                                        <th>
                                                            SubTotal
                                                        </th>
                                                    </tr>
                                                </thead>
                                                [/CARTITEMS]
                                                <tr class="cartitem">
                                                    <td style="text-align: right; border-width: 0px; border-color: #FFFFFF;" colspan="[/colspan]">
                                                        &nbsp;
                                                    </td>
                                                    <td style="text-align: right; border-width: 0px; border-color: #FFFFFF;" colspan="2">
                                                        &nbsp;
                                                    </td>
                                                    <td colspan="3" style="text-align: right; border-width: 0px; border-color: #FFFFFF;">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" class="estoretable">
                                            <tr class="cartitem">
                                                <td align="left" rowspan="5" valign="top" width="45%">
                                                    [/SHIPPINGMETHOD] [/Courier_account] [/PROMOTIONCODE]
                                                </td>
                                                <td style="text-align: right; border-width: 0px; border-color: #FFFFFF;">
                                                    Sub Total:
                                                </td>
                                                <td style="text-align: right; border-width: 0px; border-color: #FFFFFF;">
                                                    [/SUBTOTAL]
                                                </td>
                                            </tr>
                                            <tr id="Freight" class="cartitem">
                                                <td style="text-align: right; border-width: 0px; border-color: #FFFFFF;">
                                                    <font color="red">* </font>Freight:
                                                </td>
                                                <td style="text-align: right; border-width: 0px; border-color: #FFFFFF;">
                                                    [/FREIGHT]
                                                </td>
                                            </tr>
                                            <tr id="Tax" class="cartitem">
                                                <td style="text-align: right; border-width: 0px; border-color: #FFFFFF;">
                                                    <font color="red">* </font>Tax([/TAXRATE]):
                                                </td>
                                                <td style="text-align: right; border-width: 0px; border-color: #FFFFFF;">
                                                    [/TAX]
                                                </td>
                                            </tr>
                                            <tr id="CartDiscount" class="cartitem">
                                                <td style="text-align: right; border-width: 0px; border-color: #FFFFFF;">
                                                    <font color="red">* </font>Discount:
                                                </td>
                                                <td style="text-align: right; border-width: 0px; border-color: #FFFFFF;">
                                                    [/DISCOUNT]
                                                </td>
                                            </tr>
                                            <tr class="cartitem">
                                                <td style="text-align: right; border-width: 0px; border-color: #FFFFFF;">
                                                    Total:
                                                </td>
                                                <td style="text-align: right; border-width: 0px; border-color: #FFFFFF; font-weight: bold;
                                                    color: #FF0000;">
                                                    [/TOTAL]
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- CART DETAIL / -->
                                        <p style="font-size: 13px; font-family: Arial;"><b>Comments:</b><br /> &nbsp;&nbsp;&nbsp;&nbsp;[/Comment]</p>
                                    </td>
                                </tr>
                            </table>
                            <div style="color: #333; padding-left: 10px">
                                <p style="font-size: 12px;">
                                    <b>Notice: The 2011 October Thailand flooding has impacted
                                        the hard drive industry worldwide. </b>Be aware that a Quote with Advantech
                                    that is over several days old may have changed significantly due to the price of
                                    any hard drive component within. See http://buy.advantech.com for details, or call
                                    Advantech at 1-888-576-9668.
                                </p>
                                <p style="font-size: 12px;">
                                    The shipping and handling charges will be determined by shipment characteristics,
                                    weight, and applicable service charges of the actual shipment. You are welcome to
                                    contact our account managers at [/OurTel]. Monday through Friday. When contacting
                                    us please make sure to have the Quotation Number handy. YYou can also <a href="http://[/STOREURL]/Cart/Quote.aspx?qid=[/QUOTEID]">
                                        check this quote online</a>.
                                </p>
                                <p style="font-size: 12px;">
                                    <span style="color: red">*</span> All prices are in US dollars, F.O.B. California,
                                    U.S.A.</p>
                                <p style="font-size: 12px;">
                                    <span style="color: red">*</span> This quotation is valid for North and South America
                                    only.</p>
                                <p style="font-size: 12px;">
                                    <span style="color: red">*</span>Pricing, specifications, availability and terms
                                    of offers may change without notice, and are not transferable. Taxes, fees, shipping,
                                    handling and any applicable restocking charges vary and are not subject to discount.</p>
                                <p style="font-size: 12px;">
                                    <span style="color: red">*</span>Any orders that ship to the following jurisdictions
                                    are charged sales tax: AZ, CA, CO, CT, FL, GA, IL, IN, KY, MD, MA, NC, NJ, OH, TN,
                                    TX, WA, and WI. If you are exempt from sales tax, select the Resale box during the
                                    checkout process. Upon receiving the proper paperwork, Advantech will not include
                                    such taxes in the final invoices.</p>
                                <p style="font-size: 12px;">
                                    <span style="color: red">*</span>The estimated ship days represents the approximate
                                    time it takes to process your order and assemble your system based on approved credit
                                    card or net term purchase. The estimated shipment date is not intended to provide
                                    you with an actual ship date. Your estimated ship date may vary based upon the payment
                                    method you choose among other factors pertaining to the nature of the order.</p>
                                <p style="font-size: 12px;">
                                    <span style="color: red">*</span> The export of any products or software purchased
                                    from Advantech must be made in accordance with all relevant laws of the United States,
                                    including and without limitation, the US Export Administration Regulations. This
                                    may require that you obtain a formal export license or make certain declarations
                                    to the United States Government regarding products to be exported, their destination
                                    or their end-use.</p>
                                <p style="font-size: 12px;">
                                    <span style="color: red">*</span> <strong>Quotations are valid for 10 days</strong>.</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-size: 13px; padding-left: 10px">
                                Again, thank you for your visiting the <a href="http://buy.advantech.com/">Advantech
                                    eStore</a>. A sales representative will contact you shortly regarding your quotation.
                                If you have any questions regarding your configuration, or would like to speak to
                                a representative immediately, please do not hesitate to call [/OurTel] or e-mail
                                us at <a href="mailto:buy@advantech.com">buy@advantech.com</a>.</p>
                            <p style="font-size: 13px; padding-left: 10px">
                                Best regards,
                                <br />
                                <a href="http://[/STOREURL]" style="text-decoration: none; font-weight: bold; color: #000000">
                                    Advantech eStore</a>
                        </td>
                    </tr>
                </table>
                <!-- END -->
                <div>
                </div>
            </td>
        </tr>
        <!-- Footer -->
        <tr>
            <td height="15" bgcolor="#708AAC" style="background-color: #708AAC; text-align: center;
                color: #FFFFFF; font-size: 12px" align="center">
                [/STOREURL] / [/OurTel]
            </td>
        </tr>
        <tr>
            <td height="30" style="text-align: center; border: 1px solid #CCCCCC; background-color: #FFFFE6"
                bgcolor="#FFFFE6" align="center" valign="middle">
                <a href="http://buy.advantech.com/resource/aus/terms_and_conditions_aus.pdf" style="text-decoration: none;
                    font-size: 11px"><font color="#555555">Terms and Conditions</font>&nbsp;&nbsp;<font
                        color="#555555">|</font>&nbsp;&nbsp;</a><a href="http://buy.advantech.com/Info/ReturnPolicy.htm"
                            style="text-decoration: none; font-size: 11px"><font color="#555555">Return Policy</font></a>&nbsp;&nbsp;<font
                                color="#555555"><span style="font-size: 11px;">|</span></font>&nbsp;&nbsp;<a href="http://buy.advantech.com/Info/PrivacyPolicy.htm"
                                    style="text-decoration: none; font-size: 11px"><font color="#555555">Privacy Policy</font></a>
            </td>
        </tr>
        <!-- Footer /-->
    </table>
    <br />
    <br />
</body>
</html>
